Repository elastic/cloud-on-k8s, pull requests merged in 2020-09, with the labels that each got.

#3665 Add licence aggregator test
  pkg/license/aggregator_test.go
  pkg/license/testdata/stack.yaml
Labels: >test, v1.3.0

#3691 Editing - Remote clusters
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
Labels: >docs

#3692 Editing - Readiness probe
  docs/orchestrating-elastic-stack-applications/elasticsearch/readiness.asciidoc
Labels: >docs

#3689 beat.TestVersionUpgradeToLatest7x: deploy a 3 nodes clusters to hold all the replicas
  test/e2e/beat/upgrade_test.go
Labels: >test

#3690 Revert "Workaround azure-cli cluster creation bug (#3672)"
  hack/deployer/runner/aks.go
Labels: >flaky_test

#3673 Set default stack version to 7.9.0 in the Makefile
  .ci/setenvconfig
  Makefile
Labels: >non-issue

#3634 Add docs and manifests for network policies
  docs/advanced-topics/advanced-topics.asciidoc
  docs/advanced-topics/network-policies.asciidoc
  hack/manifest-gen/assets/charts/eck/profile-restricted.yaml
  hack/manifest-gen/assets/charts/eck/profile-soft-multi-tenancy.yaml
  hack/manifest-gen/assets/charts/eck/templates/configmap.yaml
  hack/manifest-gen/assets/charts/eck/templates/managed-namespaces.yaml
  hack/manifest-gen/assets/charts/eck/templates/managed-ns-network-policy.yaml
  hack/manifest-gen/assets/charts/eck/templates/managed-ns-role-bindings.yaml
  hack/manifest-gen/assets/charts/eck/templates/operator-namespace.yaml
  hack/manifest-gen/assets/charts/eck/templates/operator-network-policy.yaml
  hack/manifest-gen/assets/charts/eck/templates/operator-role-binding.yaml
  hack/manifest-gen/assets/charts/eck/templates/validate-soft-multi-tenancy.yaml
  hack/manifest-gen/assets/charts/eck/values.yaml
Labels: >docs, v1.3.0

#3693 Retry getting the default storage class in E2E tests
  hack/deployer/runner/storage.go
Labels: >flaky_test

#3624 Add missing vars and clean unused code in .ci/setenvconfig
  .ci/setenvconfig
Labels: :ci, >refactoring, justdoit

#3696 Document Istio webhook workaround
  docs/advanced-topics/service-meshes.asciidoc
Labels: >docs, v1.3.0

#3703 Editing - Elasticsearch sections
  docs/orchestrating-elastic-stack-applications/elasticsearch/prestop.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
Labels: >docs

#3632 Add operator election support
  cmd/manager/main.go
  docs/operating-eck/operator-config.asciidoc
  hack/manifest-gen/assets/charts/eck/templates/statefulset.yaml
  hack/manifest-gen/assets/charts/eck/values.yaml
  pkg/controller/common/operator/flags.go
Labels: >feature, v1.3.0

#3694 Refactor node config and add role validation
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  pkg/apis/elasticsearch/v1/elasticsearch_config.go
  pkg/apis/elasticsearch/v1/elasticsearch_config_test.go
  pkg/apis/elasticsearch/v1/validations.go
  pkg/apis/elasticsearch/v1/validations_test.go
  pkg/apis/elasticsearch/v1/zz_generated.deepcopy.go
  pkg/controller/elasticsearch/label/label.go
  pkg/controller/elasticsearch/label/label_test.go
  pkg/controller/elasticsearch/settings/canonical_config.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/elasticsearch/settings.go
Labels: >enhancement, v1.3.0

#3707 Revised Kibana dashboard check
  test/e2e/beat/setup_test.go
Labels: >test

#3705 Editing - Run Kibana on ECK
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
Labels: >docs

#3654 Make ECK IPv6 compatible
  cmd/manager/main.go
  config/e2e/operator.yaml
  docs/operating-eck/operator-config.asciidoc
  hack/manifest-gen/assets/charts/eck/templates/statefulset.yaml
  pkg/apis/elasticsearch/v1/validations.go
  pkg/apis/elasticsearch/v1beta1/validations.go
  pkg/controller/common/certificates/http_reconcile.go
  pkg/controller/common/operator/flags.go
  pkg/controller/common/operator/parameters.go
  pkg/controller/elasticsearch/certificates/transport/csr.go
  pkg/controller/elasticsearch/certificates/transport/csr_test.go
  pkg/controller/elasticsearch/certificates/transport/transport_fixtures_test.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/readiness_probe.go
  pkg/controller/elasticsearch/nodespec/statefulset.go
  pkg/controller/elasticsearch/settings/masters.go
  pkg/controller/elasticsearch/settings/masters_test.go
  pkg/controller/elasticsearch/settings/merged_config.go
  pkg/controller/elasticsearch/settings/merged_config_test.go
  pkg/controller/enterprisesearch/config.go
  pkg/controller/enterprisesearch/config_test.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/kibana/config_settings.go
  pkg/controller/kibana/config_settings_test.go
  pkg/controller/kibana/controller.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/utils/net/ip.go
  pkg/utils/net/ip_test.go
Labels: >bug, release-highlight, v1.3.0

#3704 Add documentation for the DeploymentStrategy option
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, v1.3.0

#3716 set HEADLESS_SERVICE_NAME in Elasticsearch keystore init container
  pkg/controller/common/defaults/pod_template.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
Labels: >bug

#3714 Add IPv6 e2e test stage
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  .ci/setenvconfig
  Makefile
  hack/kind/kind.sh
Labels: :ci, >test

#3720 Editing - Run APM Server on ECK
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs

#3719 Update documentation and samples to use node.roles
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  docs/advanced-topics/openshift.asciidoc
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/operating-eck/troubleshooting/troubleshooting-methods.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/http-settings-tls-sans.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
  docs/quickstart.asciidoc
Labels: >docs, v1.3.0

#3655 Change OLM display name and icon
  hack/operatorhub/config.yaml
  hack/operatorhub/templates/csv.tpl
Labels: >non-issue, v1.3.0

#3722 Editing - Run Enterprise Search on ECK
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
Labels: >docs

#3727 Editing - Run Beats on ECK
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs

#3736 Avoid panic on Kibana telemetry API call
  test/e2e/kb/telemetry_test.go
Labels: >flaky_test

#3728 Support new auth config format starting EnterpriseSearch 8.x
  pkg/controller/enterprisesearch/config.go
  pkg/controller/enterprisesearch/config_test.go
Labels: >bug, v1.3.0

#3739 Update OLM description
  hack/operatorhub/templates/csv.tpl
Labels: >non-issue

#3726 Revert network.publish_host back to IP addresses
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/resources.go
  pkg/controller/elasticsearch/settings/merged_config.go
  pkg/controller/elasticsearch/settings/merged_config_test.go
  pkg/utils/net/ip.go
  pkg/utils/net/ip_test.go
Labels: >bug, exclude-from-release-notes, v1.3.0

#3735 Fix nil pointer panic in node roles validations
  pkg/apis/elasticsearch/v1/validations.go
  pkg/apis/elasticsearch/v1/validations_test.go
Labels: >bug, v1.3.0

#3724 filebeat_autodiscover examples use $HOSTNAME instead of spec.nodeName
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs

#3729 Editing - Secure and Access Elastic Stack services
  docs/orchestrating-elastic-stack-applications/accessing-elastic-services.asciidoc
  docs/orchestrating-elastic-stack-applications/security/rotate-credentials.asciidoc
Labels: >docs

#3743 Default to IPv4 if no valid IP is given in IP family auto-detect
  pkg/utils/net/ip.go
  pkg/utils/net/ip_test.go
Labels: >enhancement, exclude-from-release-notes, v1.3.0

#3747 Skip Enterprise Search 7.9.1 e2e tests on OCP
  test/e2e/test/enterprisesearch/builder.go
Labels: >flaky_test

#3742 Editing - Deploy ECK on OpenShift
  docs/advanced-topics/openshift.asciidoc
Labels: >docs

#3744 Editing - Custom images/Service meshes/Traffic splitting
  docs/advanced-topics/custom-images.asciidoc
  docs/advanced-topics/service-meshes.asciidoc
  docs/advanced-topics/traffic-splitting.asciidoc
Labels: >docs

#3745 [1.2] filebeat_autodiscover examples use $HOSTNAME instead of spec.nodeName (#3724)
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs, backport

#3748 Add brackets around address in kind IPv6 E2E test
  .ci/setenvconfig
  config/e2e/batch_job.yaml
  test/e2e/beat/recipes_test.go
Labels: >test, v1.3.0

#3750 Upgrade Beats examples versions to 7.9.1
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs

#3756 Use named ports in Stack Monitoring config example
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs

#3760 [1.2] Use named ports in Stack Monitoring config examples (#3756)
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs, backport

#3759 [1.2] Upgrade Beats examples versions to 7.9.1 (#3750)
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs, backport

#3754 Deployer: add options to create GKE private/net. policy enforced clusters
  hack/deployer/config/plans.yml
  hack/deployer/runner/gke.go
  hack/deployer/runner/settings.go
Labels: :ci, >non-issue

#3763 Increase the timeout for Enterprise Search Pods to be ready in E2E tests
  test/e2e/test/enterprisesearch/checks_k8s.go
Labels: >flaky_test, v1.3.0

#3765 Improve Elasticsearch CPU req doc
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, v1.1.0

#3751 Update the OpenShift compatibility with 7.9
  docs/advanced-topics/openshift.asciidoc
Labels: >docs

#3708 Add a doc page on storage recommendations
  docs/orchestrating-elastic-stack-applications/elasticsearch-specification.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
Labels: >docs, v1.0.0

#3773 Backport 1.1: Add a doc page on storage recommendations (#3708)
  docs/orchestrating-elastic-stack-applications/elasticsearch-specification.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
Labels: backport, triage

#3772 Backport 1.2: Add a doc page on storage recommendations (#3708)
  docs/orchestrating-elastic-stack-applications/elasticsearch-specification.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
Labels: backport, triage

#3768 Create the e2e-default storage class with the static provisioner
  hack/deployer/config/local-disks/ssd-provisioner.yaml
  hack/deployer/runner/aks.go
  hack/deployer/runner/eks.go
  hack/deployer/runner/gke.go
  hack/deployer/runner/ocp.go
  hack/deployer/runner/settings.go
  hack/deployer/runner/storage.go
Labels: >test

#3774 [1.2] Edit + Update the OpenShift compatibility with 7.9
  docs/advanced-topics/openshift.asciidoc
Labels: >docs, backport

#3738 Refactor Helm chart to support CRD updates
  Makefile
  deploy/README.md
  deploy/eck-operator/.helmignore
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/.helmignore
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/NOTES.txt
  deploy/eck-operator/charts/eck-operator-crds/templates/_helpers.tpl
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  deploy/eck-operator/profile-global.yaml
  deploy/eck-operator/profile-istio.yaml
  deploy/eck-operator/profile-restricted.yaml
  deploy/eck-operator/profile-soft-multi-tenancy.yaml
  deploy/eck-operator/templates/NOTES.txt
  deploy/eck-operator/templates/_helpers.tpl
  deploy/eck-operator/templates/cluster-role.yaml
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/templates/managed-namespaces.yaml
  deploy/eck-operator/templates/managed-ns-network-policy.yaml
  deploy/eck-operator/templates/managed-ns-role-bindings.yaml
  deploy/eck-operator/templates/operator-namespace.yaml
  deploy/eck-operator/templates/operator-network-policy.yaml
  deploy/eck-operator/templates/operator-role-binding.yaml
  deploy/eck-operator/templates/service-account.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/templates/validate-soft-multi-tenancy.yaml
  deploy/eck-operator/templates/webhook.yaml
  deploy/eck-operator/values.yaml
  hack/config-extractor/extract.sh
  hack/manifest-gen/README.md
  hack/manifest-gen/crd_patches/.gitignore
  hack/manifest-gen/crd_patches/kustomization.yaml
  hack/manifest-gen/go.mod
  hack/manifest-gen/go.sum
  hack/manifest-gen/internal/manifest.go
  hack/manifest-gen/main.go
  hack/manifest-gen/manifest-gen.sh
Labels: >refactoring, v1.3.0

#3706 Test operator behavior after failover
  .ci/jobs/e2e-tests-resilience.yml
  .ci/pipelines/e2e-tests-resilience.Jenkinsfile
  .ci/setenvconfig
  Makefile
  NOTICE.txt
  cmd/manager/main.go
  config/e2e/chaos_job.yaml
  config/e2e/e2e_job.yaml
  config/e2e/operator.yaml
  config/e2e/rbac.yaml
  docs/reference/dependencies.asciidoc
  go.mod
  pkg/utils/metrics/metrics.go
  test/e2e/cmd/chaos/chaos.go
  test/e2e/cmd/chaos/command.go
  test/e2e/cmd/chaos/operator_state.go
  test/e2e/cmd/main.go
  test/e2e/cmd/run/command.go
  test/e2e/cmd/run/job.go
  test/e2e/cmd/run/job_manager.go
  test/e2e/cmd/run/jsonlog.go
  test/e2e/cmd/run/run.go
  test/e2e/cmd/run/run_test.go
  test/e2e/run.sh
  test/e2e/test/context.go
Labels: :ci, >test

#3783 Upgrade Azure K8S to 1.17.11
  hack/deployer/config/plans.yml
Labels: :ci, >flaky_test

#3753 Use Beats CRD for E2E monitoring
  config/e2e/chaos_job.yaml
  config/e2e/e2e_job.yaml
  config/e2e/filebeat.yaml
  config/e2e/metricbeat.yaml
  config/e2e/monitoring.yaml
  config/e2e/operator.yaml
  test/e2e/cmd/run/job_manager.go
  test/e2e/cmd/run/run.go
Labels: :ci, >refactoring, >test

#3787 Add name label to namespaces
  config/e2e/managed_namespaces.yaml
  config/e2e/operator_namespaces.yaml
  test/e2e/beat/webhook_test.go
Labels: >bug, >test

#3788 Add EntSearch and Beats to main readme
  README.md
Labels: >docs
