Repository elastic/cloud-on-k8s, pull requests merged in 2020-08, with the labels that each got.

#3572 Fix beat permissions in TestVersionUpgradeOrdering
  test/e2e/stack_test.go
Labels: >test

#3565 [1.2] Remove docs links with current branch
  config/crds/all-crds.yaml
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  docs/reference/api-docs.asciidoc
  hack/manifest-gen/assets/charts/eck/crds/all-crds.yaml
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1beta1/elasticsearch_types.go
Labels: >docs, v1.2.1

#3575 Bump version to 1.2.1
  VERSION
  docs/eck-attributes.asciidoc
  hack/manifest-gen/assets/charts/eck/Chart.yaml
  hack/manifest-gen/assets/charts/eck/values.yaml
Labels: >docs, v1.2.1

#3576 Remove kibanaRef warning from Beats recipes
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs, v1.2.1

#3578 [Backport] Remove kibanaRef warning from Beats recipes (#3576)
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs, backport, v1.2.1

#3563 [1.0] Remove docs links with current branch
  config/crds/all-crds.yaml
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  docs/api-docs.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1beta1/elasticsearch_types.go
Labels: >docs, v1.0.1

#3564 [1.1] Remove docs links with current branch
  config/crds/all-crds.yaml
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1beta1/elasticsearch_types.go
Labels: >docs, v1.1.2

#3566 Add support for keystore with Kibana 7.9.0
  pkg/controller/common/volume/shared_volumes.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
  pkg/controller/elasticsearch/nodespec/volumes.go
  pkg/controller/kibana/config_reconcile.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/controller/kibana/init_configuration.go
  pkg/controller/kibana/keystore.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
Labels: >bug, v1.2.1

#3580 Add support for keystore with Kibana 7.9.0 (backport of #3566)
  pkg/controller/common/volume/shared_volumes.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
  pkg/controller/elasticsearch/nodespec/volumes.go
  pkg/controller/kibana/config_reconcile.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/controller/kibana/init_configuration.go
  pkg/controller/kibana/keystore.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
Labels: >bug, backport

#3579 Add 1.2.1 release notes and highlights
  docs/release-notes.asciidoc
  docs/release-notes/1.2.1.asciidoc
  docs/release-notes/highlights-1.2.1.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v1.2.1

#3581 [Backport] Add 1.2.1 release notes and highlights (#3579)
  docs/release-notes.asciidoc
  docs/release-notes/1.2.1.asciidoc
  docs/release-notes/highlights-1.2.1.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport, v1.2.1

#3574 Update owner references in reconcile resource util function
  pkg/controller/common/reconciler/reconciler.go
  pkg/controller/common/reconciler/reconciler_test.go
  pkg/controller/common/service_control_test.go
  pkg/utils/k8s/k8sutils.go
  pkg/utils/k8s/k8sutils_test.go
Labels: >bug, v1.3.0

#3589 Garbage collect orphaned Beat users
  cmd/manager/main.go
Labels: >bug, v1.3.0

#3587 Make Slack notif more robust on AKS, EKS, OCP E2E test failure
  .ci/pipelines/e2e-tests-aks.Jenkinsfile
  .ci/pipelines/e2e-tests-eks.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
Labels: :ci, >refactoring

#3596 Fix filebeat securityContext in recipes
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
Labels: >bug, v1.2.1

#3597 Fix filebeat securityContext in recipes (#3596)
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
Labels: >bug, backport

#3592 TestDelayingQueueInvariants: increase item delay
  pkg/controller/license/license_controller_integration_test.go
Labels: :ci, >test, v1.3.0

#3585 Remove memory leak mitigation
  pkg/controller/common/reconciler/results.go
  pkg/controller/common/reconciler/results_test.go
Labels: >enhancement, v1.3.0

#3599 Avoid pollution of map constants via defensive copy
  pkg/controller/elasticsearch/user/roles.go
  pkg/controller/elasticsearch/user/roles_test.go
Labels: >bug, v1.2.1

#3600 [1.2.1] Avoid pollution of map constants via defensive copy (#3599)
  pkg/controller/elasticsearch/user/roles.go
  pkg/controller/elasticsearch/user/roles_test.go
Labels: >bug, backport, v1.2.1

#3590 Improve JUnit E2E tests XML report generation
  Makefile
  hack/ci/generate-junit-xml-report.sh
Labels: :ci, >enhancement

#3601 Update 1.2.1 release notes
  docs/release-notes/1.2.1.asciidoc
Labels: >docs, v1.2.1

#3603 [Backport] Update 1.2.1 release notes (#3601)
  docs/release-notes/1.2.1.asciidoc
Labels: >docs, backport, v1.2.1

#3605 Replace external doc link using current with an internal link
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, v1.2.1, v1.3.0

#3606 [1.2] Replace external doc link using current with an internal link (#3605)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, backport, v1.2.1

#3610 Bump Elastic Stack version to 7.8.1
  Makefile
  config/e2e/filebeat.yaml
  config/e2e/metricbeat.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  hack/upgrade-test-harness/testdata/upcoming/stack.yaml
  hack/upgrade-test-harness/testdata/v112/stack.yaml
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/test/version.go
Labels: >non-issue, v1.3.0

#3609 Update OLM CSV generator config to 1.2.1
  hack/operatorhub/config.yaml
Labels: >non-issue, v1.2.1

#3613 Use version attribute in beats doc
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, v1.2.1, v1.3.0

#3588 Add notes about running Beats on Openshift
  docs/advanced-topics/openshift.asciidoc
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, v1.2.1

#3615 [1.2] Use version attribute in beats doc (#3613)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, backport, v1.2.1

#3618 Add notes about running Beats on Openshift (#3588)
  docs/advanced-topics/openshift.asciidoc
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, backport, v1.2.1

#3619 [1.2] Use eksctl AMIs auto resolver (#3314)(#3316)
  hack/deployer/config/plans.yml
  hack/deployer/runner/eks.go
Labels: :ci, >bug, backport, v1.2.1

#3620 [DOC] Volume claim templates
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
Labels: >docs, v1.3.0

#3622 [DOC] Transport settings
  docs/orchestrating-elastic-stack-applications/elasticsearch/transport-settings.asciidoc
Labels: >docs

#3570 Allow the operator to be configured from a file
  NOTICE.txt
  cmd/main.go
  cmd/manager/main.go
  docs/operating-eck/operator-config.asciidoc
  docs/reference/dependencies.asciidoc
  go.mod
  hack/manifest-gen/assets/charts/eck/templates/configmap.yaml
  hack/manifest-gen/assets/charts/eck/templates/statefulset.yaml
  pkg/about/info.go
  pkg/controller/common/operator/flags.go
  pkg/utils/log/log.go
Labels: >enhancement, v1.3.0

#3631 Refactor webhook name configuration
  cmd/manager/main.go
  docs/operating-eck/operator-config.asciidoc
  hack/manifest-gen/assets/charts/eck/templates/configmap.yaml
  pkg/controller/common/operator/flags.go
  pkg/controller/webhook/reconcile.go
  pkg/controller/webhook/reconcile_test.go
  pkg/controller/webhook/webhook_certificates_controller.go
Labels: >refactoring, v1.3.0

#3623 [DOC] Custom configuration files and plugins
  docs/orchestrating-elastic-stack-applications/elasticsearch/bundles-plugins.asciidoc
Labels: >docs

#3637 Tooling: update k8s.io modules to v0.18.8
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
  hack/upgrade-test-harness/go.mod
  hack/upgrade-test-harness/go.sum
Labels: >non-issue, v1.3.0

#3568 Move to a UBI base image
  Dockerfile
  Makefile
Labels: :ci, >enhancement, release-highlight, v1.3.0

#3582 Add a container suffix flag to the operator
  cmd/manager/main.go
  pkg/controller/common/container/container.go
  pkg/controller/common/operator/flags.go
Labels: >enhancement, v1.3.0

#3643 Editing the section Init containers for plugin downloads
  docs/orchestrating-elastic-stack-applications/elasticsearch/init-containers-plugin-downloads.asciidoc
Labels: >docs

#3646 Editing Pod disruption budget
  docs/orchestrating-elastic-stack-applications/elasticsearch/pod-disruption-budget.asciidoc
Labels: >docs

#3642 Bump test versions after 7.9 release
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  test/e2e/test/version.go
Labels: :ci, >test

#3647 Editing Init Containers Plugin Downloads
  docs/orchestrating-elastic-stack-applications/elasticsearch/init-containers-plugin-downloads.asciidoc
Labels: >docs

#3639 Add support for configuration changes under OLM
  .gitignore
  Dockerfile
  Makefile
  docs/operating-eck/operator-config.asciidoc
  hack/config-extractor/extract.sh
  hack/config-extractor/go.mod
  hack/config-extractor/go.sum
  hack/config-extractor/main.go
  hack/operatorhub/templates/csv.tpl
Labels: >enhancement, v1.3.0

#3635 Hide development-mode flags
  cmd/manager/main.go
  dev-setup.md
  docs/operating-eck/operator-config.asciidoc
Labels: >docs, v1.3.0

#3652 Fix typo in advanced-node-scheduling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs

#3549 Reflect currently running version from status.version in additionalPrinterColumns
  config/crds/all-crds.yaml
  config/crds/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/patches/apm-kibana-patches.yaml
  config/crds/patches/elasticsearch-patches.yaml
  hack/manifest-gen/assets/charts/eck/crds/all-crds.yaml
  pkg/apis/apm/v1/apmserver_types.go
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/enterprisesearch/v1beta1/enterprisesearch_types.go
  pkg/apis/kibana/v1/kibana_types.go
Labels: >enhancement, v1.3.0

#3653 Editing - Nodes orchestration
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs

#3640 e2e tests: read timestamps from the test logs
  test/e2e/cmd/run/run.go
  test/e2e/cmd/run/run_test.go
  test/e2e/cmd/run/testdata/stream.json
Labels: :ci, >test, v1.3.0

#3660 Set 1.15 as the default version on GKE
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
  hack/deployer/config/plans.yml
Labels: :ci, >test, v1.3.0

#3651 Support user provided encrypted keys
  pkg/controller/common/certificates/pem.go
  pkg/controller/common/certificates/secret.go
  pkg/controller/common/certificates/secret_test.go
  pkg/controller/common/certificates/testdata/encrypted.key
Labels: >bug, v1.3.0

#3645 Update webhook documentation and manifests
  docs/eck-attributes.asciidoc
  docs/operating-eck/operator-config.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
  docs/operating-eck/webhook.asciidoc
  hack/manifest-gen/assets/charts/eck/templates/webhook.yaml
  hack/manifest-gen/assets/charts/eck/values.yaml
Labels: >docs, v1.3.0

#3662 Do not reset trial state once a license has been issued.
  pkg/controller/license/trial/trial_controller.go
  pkg/controller/license/trial/trial_controller_test.go
Labels: >bug, v1.3.0

#3670 Fix incorrect snapshot version for 7.10.0-SNAPSHOT test
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
Labels: :ci, >test

#3672 Workaround azure-cli cluster creation bug
  hack/deployer/runner/aks.go
Labels: >flaky_test

#3675 Skip Enterprise Search 7.9.0 E2E tests on OCP
  test/e2e/ent/ent_test.go
  test/e2e/test/enterprisesearch/builder.go
  test/e2e/test/run.go
  test/e2e/test/run_failure.go
  test/e2e/test/run_mutation.go
  test/e2e/test/run_reversal.go
Labels: >flaky_test

#3678 Bump hack tool deps to k8s 1.19
  hack/config-extractor/go.mod
  hack/config-extractor/go.sum
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
  hack/upgrade-test-harness/go.mod
  hack/upgrade-test-harness/go.sum
Labels: >non-issue, >renovate

#3633 Add DeploymentStrategy to Beats CRDs
  config/crds/all-crds.yaml
  config/crds/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/patches/beat-patches.yaml
  docs/reference/api-docs.asciidoc
  hack/manifest-gen/assets/charts/eck/crds/all-crds.yaml
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/apis/beat/v1beta1/zz_generated.deepcopy.go
  pkg/controller/apmserver/deployment.go
  pkg/controller/apmserver/deployment_test.go
  pkg/controller/beat/common/reconcile.go
  pkg/controller/common/deployment/reconcile.go
  pkg/controller/enterprisesearch/deployment.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  test/e2e/beat/upgrade_test.go
  test/e2e/kb/version_upgrade_test.go
  test/e2e/test/beat/builder.go
  test/e2e/test/beat/steps.go
  test/e2e/test/watcher.go
Labels: >feature, v1.3.0

#3679 Add a bit more context in data integrity check errors
  test/e2e/test/elasticsearch/checks_data.go
Labels: >flaky_test

#3342 Add set-default-security-context flag to the operator
  cmd/manager/main.go
  hack/manifest-gen/assets/charts/eck/templates/configmap.yaml
  hack/manifest-gen/assets/charts/eck/values.yaml
  pkg/controller/common/operator/flags.go
  pkg/controller/common/operator/parameters.go
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/resources.go
  pkg/controller/elasticsearch/nodespec/statefulset.go
Labels: >breaking, >bug, v1.3.0

#3682 Upload the diagnostic bundle on master e2e test failures
  .ci/pipelines/e2e-tests-master-gke.Jenkinsfile
Labels: >test

#3685 Editing - Create automated snapshots
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >docs

#3684 Editing - Advanced node scheduling
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs

#3669 Add additional k8s deps to renovate
  .github/renovate.json
Labels: >renovate
