Repository elastic/cloud-on-k8s, pull requests merged in 2020-07, with the labels that each got.

#3322 Remove Beats autodiscover RBAC rules
  hack/manifest-gen/assets/charts/eck/templates/_helpers.tpl
  hack/manifest-gen/assets/charts/eck/templates/cluster-role.yaml
Labels: >non-issue, v1.2.0

#3356 Add an E2E test to cover Enterprise Search with TLS disabled
  test/e2e/ent/ent_test.go
  test/e2e/test/enterprisesearch/builder.go
Labels: >test

#3357 Add an E2E test to cover Enterprise Search version upgrades
  test/e2e/ent/ent_test.go
Labels: >test

#3367 Increase all E2E tests timeout to 360min
  .ci/pipelines/e2e-tests-eks.Jenkinsfile
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-master-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  test/e2e/cmd/run/run.go
Labels: >test

#3365 [1.2] Fix Beat E2E tests issues (#3325)
  config/e2e/filebeat.yaml
  pkg/controller/association/controller/beat_es.go
  pkg/controller/association/controller/beat_es_test.go
  pkg/controller/association/controller/beat_kibana.go
  pkg/controller/association/controller/beat_kibana_test.go
  pkg/controller/elasticsearch/user/reconcile_test.go
  pkg/controller/elasticsearch/user/roles.go
  test/e2e/beat/config.go
Labels: :beats, >test, backport

#3366 [1.2] Disable checking http events in Packetbeat for kind 1.12 (#3337)
  test/e2e/beat/config_test.go
Labels: :beats, >test, backport

#3336 Allow init containers modifications
  pkg/controller/common/container/defaulter.go
  pkg/controller/common/defaults/pod_template.go
  pkg/controller/common/defaults/pod_template_test.go
  pkg/controller/elasticsearch/initcontainer/initcontainer.go
  pkg/controller/elasticsearch/initcontainer/initcontainer_test.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
Labels: >enhancement, release-highlight, v1.3.0

#3361 Add metadata for transform node role
  pkg/apis/elasticsearch/v1/elasticsearch_config.go
  pkg/apis/elasticsearch/v1/elasticsearch_config_test.go
  pkg/apis/elasticsearch/v1/validations.go
  pkg/controller/elasticsearch/label/label.go
  pkg/controller/elasticsearch/label/label_test.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/settings/canonical_config.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/elasticsearch/settings.go
Labels: >enhancement, v1.3.0

#3343 Ignore x/net and x/oauth2 digest updates
  .github/renovate.json
Labels: >renovate

#3375 Run the ent upgrade E2E tests with a restricted security context
  test/e2e/ent/ent_test.go
Labels: >test

#3378 Revert "Add metadata for transform node role (#3361)"
  pkg/apis/elasticsearch/v1/elasticsearch_config.go
  pkg/apis/elasticsearch/v1/elasticsearch_config_test.go
  pkg/apis/elasticsearch/v1/validations.go
  pkg/controller/elasticsearch/label/label.go
  pkg/controller/elasticsearch/label/label_test.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/settings/canonical_config.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/elasticsearch/settings.go
Labels: >non-issue

#3377 Wait for E2E Job Pod log stream to be over before finishing E2E tests
  test/e2e/cmd/run/run.go
Labels: >test

#3364 [1.2] Remove Beats autodiscover RBAC rules (#3322)
  hack/manifest-gen/assets/charts/eck/templates/_helpers.tpl
  hack/manifest-gen/assets/charts/eck/templates/cluster-role.yaml
Labels: >non-issue, backport

#3369 Add documentation re. init containers customization
  docs/orchestrating-elastic-stack-applications/customize-pods.asciidoc
Labels: >docs, v1.3.0

#3370 Make podTemplate documentation more general
  docs/orchestrating-elastic-stack-applications/customize-pods.asciidoc
Labels: >docs, v1.2.0

#3381 Make podTemplate documentation more general (#3370)
  docs/orchestrating-elastic-stack-applications/customize-pods.asciidoc
Labels: >docs, backport, v1.2.0

#3350 Add a doc section about APM Agent configuration management
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs, v1.2.0

#3383 [1.2] Add a doc section about APM Agent configuration management (#3350)
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs, backport

#3382 Bump E2E tests timeout to 10 hours
  .ci/pipelines/e2e-tests-aks.Jenkinsfile
  .ci/pipelines/e2e-tests-eks.Jenkinsfile
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-master-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  test/e2e/cmd/run/run.go
Labels: >test

#3385 E2E: work around Kibana 7.1.1 index creation issue
  test/e2e/kb/version_upgrade_test.go
Labels: >test

#3362 Add Beat CRD docs
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
Labels: :beats, >docs, v1.2.0

#3374 Fix panic on invalid version
  pkg/apis/elasticsearch/v1/webhook_test.go
Labels: >non-issue, v1.3.0

#3390 Setup a single instance of Kibana 7.1.1 in TestVersionUpgradeToLatest7x
  test/e2e/kb/version_upgrade_test.go
Labels: >test

#3360 Fix enterprise-search and apm-server label filter in the diagnostics script
  hack/diagnostics/eck-dump.sh
Labels: >bug

#3391 Enable filebeat annotation on operator if monitoring secret is provided
  config/e2e/operator.yaml
Labels: :ci, >test

#3384 Draft 1.2.0 release notes
  docs/eck-attributes.asciidoc
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/1.2.0.asciidoc
  docs/release-notes/highlights-1.2.0.asciidoc
  docs/release-notes/highlights.asciidoc
  hack/release-notes/README.md
Labels: >docs, v1.2.0

#3396 [Backport] Switch release notes tool to GitHub API v4 (#3323)
  hack/release-notes/README.md
  hack/release-notes/github/pr_loader.go
  hack/release-notes/github/pr_loader_test.go
  hack/release-notes/github/pr_processor.go
  hack/release-notes/github/pr_processor_test.go
  hack/release-notes/github/testdata/issue_body.txt
  hack/release-notes/github/testdata/payload1.json
  hack/release-notes/github/testdata/payload2.json
  hack/release-notes/go.mod
  hack/release-notes/go.sum
  hack/release-notes/main.go
  hack/release-notes/main_test.go
Labels: >docs, backport, v1.2.0

#3397 [Backport] Draft 1.2.0 release notes (#3384)
  docs/eck-attributes.asciidoc
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/1.2.0.asciidoc
  docs/release-notes/highlights-1.2.0.asciidoc
  docs/release-notes/highlights.asciidoc
  hack/release-notes/README.md
Labels: >docs, backport, v1.2.0

#3379 Add Kibana plugin docs
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
Labels: >docs

#3400 Update support info
  docs/supported-versions.asciidoc
Labels: >docs

#3388 [1.2] Add Beat CRD docs (#3362)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
Labels: :beats, >docs, backport

#3404 Add blurb about accessing licence usage metrics
  docs/operating-eck/licensing.asciidoc
Labels: >docs, v1.2.0

#3389 Retry getting the E2E tests Pod logs when the stream ends
  test/e2e/cmd/run/run.go
Labels: >test

#3387 Add support for the node.roles setting
  pkg/apis/elasticsearch/v1/elasticsearch_config.go
  pkg/apis/elasticsearch/v1/elasticsearch_config_test.go
  pkg/apis/elasticsearch/v1/validations.go
  pkg/apis/elasticsearch/v1/validations_test.go
  pkg/apis/elasticsearch/v1/zz_generated.deepcopy.go
  pkg/controller/elasticsearch/label/label.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/elasticsearch/settings.go
Labels: >enhancement, v1.3.0

#3402 [1.2] Add Kibana plugin docs (#3379)
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
Labels: backport, triage

#3403 [1.2] Update support info (#3400)
  docs/supported-versions.asciidoc
Labels: backport, triage

#3405 [Backport] Add blurb about accessing licence usage metrics (#3404)
  docs/operating-eck/licensing.asciidoc
Labels: >docs, backport, v1.2.0

#3420 Update AKS patch version in ci and dev envs
  hack/deployer/config/plans.yml
Labels: :ci, >test

#3380 Add node shard allocation awareness by default
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
  pkg/apis/elasticsearch/v1/fields.go
  pkg/controller/apmserver/pod_test.go
  pkg/controller/common/defaults/pod_template.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/settings/environment.go
  pkg/controller/elasticsearch/settings/merged_config.go
  pkg/controller/elasticsearch/settings/merged_config_test.go
Labels: >enhancement, release-highlight, v1.3.0

#3428 Fix Beat name label
  pkg/controller/beat/common/labels.go
Labels: :beats, >bug, v1.2.0

#3429 [1.2] Fix Beat name label (#3428)
  pkg/controller/beat/common/labels.go
Labels: >bug, backport

#3430 Reorganize and edit the section "Restrict cross namespace resource associations"
  docs/operating-eck/restrict-cross-namespace-associations.asciidoc
Labels: >docs

#3422 Add Operator Hub release generator
  hack/operatorhub/.gitignore
  hack/operatorhub/README.md
  hack/operatorhub/config.yaml
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
  hack/operatorhub/main.go
  hack/operatorhub/templates/csv.tpl
  hack/operatorhub/templates/package.tpl
Labels: >non-issue

#3443 Point GitHub links in the docs to the correct branch
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/eck-attributes.asciidoc
  docs/help.asciidoc
  docs/operating-eck/restrict-cross-namespace-associations.asciidoc
  docs/operating-eck/upgrading-eck.asciidoc
  docs/quickstart.asciidoc
Labels: >docs

#3445 [Backport] Point GitHub links in the docs to the correct branch
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/eck-attributes.asciidoc
  docs/help.asciidoc
  docs/operating-eck/restrict-cross-namespace-associations.asciidoc
  docs/operating-eck/upgrading-eck.asciidoc
  docs/quickstart.asciidoc
Labels: >docs, backport, v1.1.2

#3444 [Backport] Point GitHub links in the docs to the correct branch (#3443)
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/eck-attributes.asciidoc
  docs/help.asciidoc
  docs/operating-eck/restrict-cross-namespace-associations.asciidoc
  docs/operating-eck/upgrading-eck.asciidoc
  docs/quickstart.asciidoc
Labels: >docs, backport, v1.2.0

#3432 Make Beat role name version-independent for Community Beats
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/apis/beat/v1beta1/validations.go
  pkg/controller/association/controller/beat_es.go
  pkg/controller/association/controller/beat_es_test.go
  pkg/controller/association/controller/beat_kibana.go
  pkg/controller/association/controller/beat_kibana_test.go
  pkg/controller/elasticsearch/user/roles.go
Labels: :beats, >enhancement, v1.2.0

#3406 Add Beat config library
  config/dev/elastic-psp.yaml
  config/recipes/beats/0_ns.yaml
  config/recipes/beats/1_monitor.yaml
  config/recipes/beats/2_filebeat-kubernetes.yaml
  config/recipes/beats/3_metricbeat-kubernetes.yaml
  config/recipes/beats/README.md
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  test/e2e/beat/config_test.go
  test/e2e/beat/recipes_test.go
  test/e2e/beat/setup_test.go
  test/e2e/samples_test.go
  test/e2e/test/beat/builder.go
  test/e2e/test/beat/checks.go
  test/e2e/test/helper/yaml.go
  test/e2e/test/run.go
Labels: :beats, >feature, v1.2.0

#3415 Mention default CA cert rotation in the remote clusters docs
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
Labels: >docs, v1.1.1, v1.1.2

#3454 Mention default CA cert rotation in the remote clusters docs (#3415)
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
Labels: >docs, backport, v1.1.0

#3455 Mention default CA cert rotation in the remote clusters docs (#3415)
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
Labels: >docs, backport, v1.2.0

#3446 Add docs note about Beats version support
  README.md
  docs/supported-versions.asciidoc
Labels: >docs, v1.2.0

#3447 Add reference to Beats config examples in the docs
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, v1.2.0

#3419 Add support for APM tracing to e2e test runs
  config/e2e/operator.yaml
  config/e2e/secret.yaml
  config/e2e/secrets.yaml
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#3458 [1.2] Make Beat role name version-independent for Community Beats (#3432)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/apis/beat/v1beta1/validations.go
  pkg/controller/association/controller/beat_es.go
  pkg/controller/association/controller/beat_es_test.go
  pkg/controller/association/controller/beat_kibana.go
  pkg/controller/association/controller/beat_kibana_test.go
  pkg/controller/elasticsearch/user/roles.go
Labels: >enhancement, backport, v1.2.0

#3462 Fix recipes E2E tests
  config/e2e/rbac.yaml
  config/recipes/beats/README.asciidoc
  config/recipes/beats/README.md
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, >test, v1.2.0

#3460 [1.2] Add docs note about Beats version support (#3446)
  README.md
  docs/supported-versions.asciidoc
Labels: >docs, backport, v1.2.0

#3461 [1.2] Add reference to Beats config examples in the docs (#3447)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, backport, v1.2.0

#3459 [1.2] Add Beat config library (#3406) and Fix recipes E2E tests (#3462)
  config/dev/elastic-psp.yaml
  config/e2e/rbac.yaml
  config/recipes/beats/0_ns.yaml
  config/recipes/beats/1_monitor.yaml
  config/recipes/beats/2_filebeat-kubernetes.yaml
  config/recipes/beats/3_metricbeat-kubernetes.yaml
  config/recipes/beats/README.asciidoc
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  test/e2e/beat/config_test.go
  test/e2e/beat/recipes_test.go
  test/e2e/beat/setup_test.go
  test/e2e/samples_test.go
  test/e2e/test/beat/builder.go
  test/e2e/test/beat/checks.go
  test/e2e/test/helper/yaml.go
  test/e2e/test/run.go
Labels: :beats, >docs, >test, backport, v1.2.0

#3468 [1.2] Update AKS patch version in ci and dev envs (#3420)
  hack/deployer/config/plans.yml
Labels: :ci, >test, backport

#3467 Fix Beat E2E tests for OCP and stack versions pipelines
  test/e2e/beat/config_test.go
  test/e2e/beat/recipes_test.go
Labels: :beats, >test, v1.2.0

#3450 Add webhook removal docs
  docs/operating-eck/webhook.asciidoc
Labels: >docs, v1.2.0

#3469 [1.2] Fix Beat E2E tests for OCP and stack versions pipelines (#3467)
  test/e2e/beat/config_test.go
  test/e2e/beat/recipes_test.go
Labels: :beats, >test, backport, v1.2.0

#3465 Add stack monitoring
  config/recipes/beats/README.asciidoc
  config/recipes/beats/stack_monitoring.yaml
  pkg/controller/association/controller/beat_es.go
  pkg/controller/association/controller/beat_es_test.go
  test/e2e/beat/recipes_test.go
  test/e2e/test/beat/builder.go
  test/e2e/test/beat/checks.go
Labels: :beats, >bug, v1.2.0

#3471 [Backport] Add stack monitoring (#3465)
  config/recipes/beats/README.asciidoc
  config/recipes/beats/stack_monitoring.yaml
  pkg/controller/association/controller/beat_es.go
  pkg/controller/association/controller/beat_es_test.go
  test/e2e/beat/recipes_test.go
  test/e2e/test/beat/builder.go
  test/e2e/test/beat/checks.go
Labels: >bug, backport, v1.2.0

#3473 [DOC] Operating ECK - align landing page with TOC
  docs/operating-eck/operating-eck.asciidoc
Labels: >docs, v1.2.0

#3476 [DOC] Configure ECK - small edits and punctuation
  docs/operating-eck/operator-config.asciidoc
Labels: >docs, v1.2.0

#3480 Print e2e json file for junit rendering debugging purposes
  Makefile
Labels: >flaky_test

#3484 [DOC] TOC + editing on Manage licenses in ECK
  docs/operating-eck/licensing.asciidoc
Labels: >docs, v1.2.0

#3486 Fix flaky namespace creation in integration tests
  pkg/controller/license/license_controller_integration_test.go
  pkg/controller/license/trial/trial_controller_integration_test.go
  pkg/utils/test/integration.go
  pkg/utils/test/namespace.go
Labels: >test, v1.3.0

#3425 Add WebhookConfigurationName Flag (#3424)
  cmd/manager/main.go
  docs/operating-eck/operator-config.asciidoc
  pkg/controller/common/operator/flags.go
Labels: >enhancement, v1.3.0

#3488 Add stack monitoring docs
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, v1.2.0

#3497 Docs: remove paragraph about namespace restriction
  docs/advanced-topics/openshift.asciidoc
Labels: >docs

#3472 Remove Beat sample
  config/samples/beat/filebeat_es_kibana_apm.yaml
  test/e2e/smoke_test.go
Labels: :beats, >bug

#3487 [1.2] Add webhook removal docs (#3450)
  docs/operating-eck/webhook.asciidoc
Labels: backport, triage

#3492 Add notes on backports and e2e tests
  CONTRIBUTING.md
Labels: >docs

#3501 [1.2] Add stack monitoring docs (#3488)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: backport, triage

#3502 [1.2] Remove Beat sample (#3472)
  config/samples/beat/filebeat_es_kibana_apm.yaml
  test/e2e/smoke_test.go
Labels: :beats, >bug, backport

#3499 Fix log stream flush in E2E tests
  test/e2e/cmd/run/run.go
Labels: >flaky_test

#3489 Report the lowest running version in the status of each resource
  config/crds/all-crds.yaml
  config/crds/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/bases/kibana.k8s.elastic.co_kibanas.yaml
  docs/reference/api-docs.asciidoc
  hack/manifest-gen/assets/charts/eck/crds/all-crds.yaml
  pkg/apis/apm/v1/apmserver_types.go
  pkg/apis/apm/v1/zz_generated.deepcopy.go
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/apis/beat/v1beta1/zz_generated.deepcopy.go
  pkg/apis/common/v1/common.go
  pkg/apis/common/v1/zz_generated.deepcopy.go
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1/zz_generated.deepcopy.go
  pkg/apis/enterprisesearch/v1beta1/enterprisesearch_types.go
  pkg/apis/enterprisesearch/v1beta1/zz_generated.deepcopy.go
  pkg/apis/kibana/v1/kibana_types.go
  pkg/apis/kibana/v1/zz_generated.deepcopy.go
  pkg/controller/apmserver/controller.go
  pkg/controller/apmserver/deployment.go
  pkg/controller/apmserver/deployment_test.go
  pkg/controller/apmserver/labels.go
  pkg/controller/apmserver/pod.go
  pkg/controller/apmserver/pod_test.go
  pkg/controller/apmserver/state.go
  pkg/controller/beat/common/reconcile.go
  pkg/controller/common/status.go
  pkg/controller/common/status_test.go
  pkg/controller/common/version/version.go
  pkg/controller/common/version/version_test.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/label/label.go
  pkg/controller/elasticsearch/label/label_test.go
  pkg/controller/elasticsearch/reconcile/resources_state.go
  pkg/controller/elasticsearch/reconcile/state.go
  pkg/controller/elasticsearch/reconcile/state_test.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/enterprisesearch/enterprisesearch_controller_test.go
  pkg/controller/enterprisesearch/state.go
  pkg/controller/kibana/controller.go
  pkg/controller/kibana/driver.go
  pkg/controller/license/license_controller.go
  pkg/utils/k8s/k8sutils.go
  test/e2e/test/apmserver/checks_k8s.go
  test/e2e/test/beat/steps.go
  test/e2e/test/elasticsearch/checks_k8s.go
  test/e2e/test/enterprisesearch/checks_k8s.go
  test/e2e/test/kibana/checks_k8s.go
Labels: >enhancement, v1.3.0

#3505 Add EnterpriseSearch example to OLM template
  hack/operatorhub/config.yaml
  hack/operatorhub/go.sum
  hack/operatorhub/templates/csv.tpl
Labels: >docs

#3411 Add metadata for transform node role
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_config.go
  pkg/apis/elasticsearch/v1/elasticsearch_config_test.go
  pkg/apis/elasticsearch/v1/validations.go
  pkg/controller/elasticsearch/label/label.go
  pkg/controller/elasticsearch/label/label_test.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/settings/canonical_config.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/elasticsearch/settings.go
Labels: >enhancement, v1.3.0

#3509 Fix nil pointer in Beat e2e test
  test/e2e/test/beat/steps.go
Labels: >test, v1.3.0

#3508 Send Slack notification on AKS, EKS, OCP E2E test failure
  .ci/pipelines/e2e-tests-aks.Jenkinsfile
  .ci/pipelines/e2e-tests-eks.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
Labels: :ci, >test

#3494 Adds filebeat to stack monitoring
  config/recipes/beats/README.asciidoc
  config/recipes/beats/stack_monitoring.yaml
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  test/e2e/beat/recipes_test.go
Labels: >enhancement, exclude-from-release-notes

#3513 Fix TestNameValidation E2E test failure
  test/e2e/es/naming_test.go
Labels: >test

#3516 Removes no-op kibanaRef
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
Labels: :beats, >non-issue, v1.2.0

#3515 Fix typo in recipe link
  config/recipes/beats/README.asciidoc
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: :beats, >bug, v1.2.0

#3517 [1.2] Removes no-op kibanaRef (#3516)
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
Labels: :beats, >non-issue, backport, v1.2.0

#3519 Increase E2E rolling upgrade timeout from 15 to 30min
  test/e2e/test/elasticsearch/checks_k8s.go
Labels: >flaky_test

#3506 [1.2] Docs: remove paragraph about namespace restriction (#3497)
  docs/advanced-topics/openshift.asciidoc
Labels: >docs, backport

#3520 [1.2] Fix typo in recipe link (#3515)
  config/recipes/beats/README.asciidoc
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, backport

#3512 [1.2] Adds filebeat to stack monitoring (#3494)
  config/recipes/beats/README.asciidoc
  config/recipes/beats/stack_monitoring.yaml
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  test/e2e/beat/recipes_test.go
Labels: >enhancement, backport

#3531 Remove the default cpu limits in Elasticsearch E2E tests
  test/e2e/test/elasticsearch/default.go
Labels: >test, v1.3.0

#3527 Check if CA Secret is expected before validating its name
  pkg/apis/common/v1/association.go
  pkg/apis/common/v1/association_test.go
  test/e2e/beat/setup_test.go
  test/e2e/test/kibana/builder.go
Labels: >bug, v1.2.0

#3536 [1.2] Check if CA Secret is expected before validating its name (#3527)
  pkg/apis/common/v1/association.go
  pkg/apis/common/v1/association_test.go
  test/e2e/beat/setup_test.go
  test/e2e/test/kibana/builder.go
Labels: backport, triage

#3524 Fix memory corruption from pod template validation
  pkg/controller/elasticsearch/sset/reconcile.go
Labels: >bug, v1.3.0

#3534 Ensure status.version is reconciled by watching Pods
  pkg/controller/apmserver/controller.go
  pkg/controller/beat/controller.go
  pkg/controller/common/watches/pods.go
  pkg/controller/common/watches/pods_test.go
  pkg/controller/elasticsearch/elasticsearch_controller.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/enterprisesearch/enterprisesearch_controller_test.go
  pkg/controller/kibana/controller.go
Labels: >bug, v1.3.0

#3540 [Backport] Fix memory corruption from pod template validation (#3524)
  pkg/controller/elasticsearch/sset/reconcile.go
Labels: >bug, backport, v1.2.1

#3541 Add known issue and config examples comments for kibanaRef issue
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  docs/release-notes/highlights-1.2.0.asciidoc
Labels: >docs, v1.2.0

#3542 [1.2] Add known issue and config examples comments for kibanaRef issue (#3541)
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  docs/release-notes/highlights-1.2.0.asciidoc
Labels: >docs, backport, v1.2.0

#3532 Update users-and-roles.asciidoc
  docs/orchestrating-elastic-stack-applications/security/users-and-roles.asciidoc
Labels: >docs

#3545 Uninstall ECK - edits and formatting
  docs/operating-eck/uninstalling-eck.asciidoc
Labels: >docs

#3550 Edit the caution text in "Settings managed by ECK"
  docs/orchestrating-elastic-stack-applications/elasticsearch/reserved-settings.asciidoc
Labels: >docs

#3547 Backport - Fix $PWD interpolation in the docs
  docs/orchestrating-elastic-stack-applications/elasticsearch/users-and-roles.asciidoc
Labels: >docs, backport

#3546 Fix $PWD interpolation in the docs
  docs/orchestrating-elastic-stack-applications/security/users-and-roles.asciidoc
Labels: >docs, v1.1.0

#3544 Update VERSION to 1.3.0-SNAPSHOT
  VERSION
  hack/manifest-gen/assets/charts/eck/Chart.yaml
  hack/manifest-gen/assets/charts/eck/values.yaml
  hack/manifest-gen/manifest-gen.sh
Labels: >non-issue

#3525 Init containers image defaulting
  pkg/controller/apmserver/pod.go
  pkg/controller/apmserver/pod_test.go
  pkg/controller/beat/common/pod.go
  pkg/controller/beat/common/pod_test.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/enterprisesearch/pod.go
  pkg/controller/enterprisesearch/pod_test.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
Labels: >bug, v1.3.0

#3555 Fix volume slice initialization in beat pod builder
  pkg/controller/beat/common/pod.go
Labels: >bug, v1.3.0

#3553 Fix typo in KibanaAssociationStatus
  pkg/apis/beat/v1beta1/beat_types.go
  test/e2e/test/beat/steps.go
Labels: >non-issue, v1.3.0

#3556 Fix makeObjectSteps tests name rendering
  test/e2e/test/helper/yaml.go
Labels: >test, v1.3.0

#3561 Normalise monitoring secret variables
  config/e2e/filebeat.yaml
  config/e2e/metricbeat.yaml
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#3562 Remove docs links with current branch
  config/crds/all-crds.yaml
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  docs/reference/api-docs.asciidoc
  hack/manifest-gen/assets/charts/eck/crds/all-crds.yaml
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1beta1/elasticsearch_types.go
Labels: >docs, v1.3.0

#3537 Enforce a strict upgrade order between stack components
  pkg/apis/common/v1/association.go
  pkg/controller/apmserver/controller.go
  pkg/controller/association/conf.go
  pkg/controller/association/conf_test.go
  pkg/controller/association/controller/apm_es.go
  pkg/controller/association/controller/apm_kibana.go
  pkg/controller/association/controller/beat_es.go
  pkg/controller/association/controller/beat_kibana.go
  pkg/controller/association/controller/ent_es.go
  pkg/controller/association/controller/kibana_es.go
  pkg/controller/association/reconciler.go
  pkg/controller/association/reconciler_test.go
  pkg/controller/beat/common/driver.go
  pkg/controller/common/version/version.go
  pkg/controller/common/version/version_test.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/enterprisesearch/enterprisesearch_controller_test.go
  pkg/controller/kibana/driver.go
  test/e2e/beat/config.go
  test/e2e/beat/config_test.go
  test/e2e/beat/setup_test.go
  test/e2e/stack_test.go
  test/e2e/test/apmserver/steps_mutation.go
  test/e2e/test/beat/builder.go
Labels: >breaking, >enhancement, v1.3.0

#3571 Fix incorrect test file name
  pkg/utils/chrono/millis_test.go
Labels: >test, v1.3.0
