Repository elastic/cloud-on-k8s, pull requests merged in 2020-11, with the labels that each got.

#3888 Temporarily disable Beat recipes flaky tests
  test/e2e/beat/recipes_test.go
Labels: >flaky_test

#3891 Add note about Helm being experimental
  deploy/README.md
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, v1.3.0

#3858 Include secret token in APM Server config checksum
  pkg/controller/apmserver/deployment.go
  pkg/controller/apmserver/deployment_test.go
Labels: >bug, v1.4.0

#3896 [Backport] Add note about Helm being experimental (#3891)
  deploy/README.md
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, backport, v1.3.0

#3894 Fix broken link to Elasticsearch "heap size" docs
  docs/orchestrating-elastic-stack-applications/elasticsearch/jvm-heap-size.asciidoc
Labels: >docs, v0.9.0

#3823 Add Logstash recipe
  config/recipes/README.asciidoc
  config/recipes/logstash/README.asciidoc
  config/recipes/logstash/logstash.yaml
Labels: >docs

#3875 Renovate: ignore github.com/prometheus/(common|client_golang)
  .github/renovate.json
Labels: >non-issue, exclude-from-release-notes, v1.4.0

#3899 Backport to 1.3: Fix broken link to Elasticsearch "heap size" docs #3894
  docs/orchestrating-elastic-stack-applications/elasticsearch/jvm-heap-size.asciidoc
Labels: >docs, backport, v1.3.0

#3900 Backport to 1.2: Fix broken link to Elasticsearch "heap size" docs #3894
  docs/orchestrating-elastic-stack-applications/elasticsearch/jvm-heap-size.asciidoc
Labels: >docs, backport, v1.2.0

#3901 Backport to 1.1: Fix broken link to Elasticsearch "heap size" docs #3894
  docs/orchestrating-elastic-stack-applications/elasticsearch/jvm-heap-size.asciidoc
Labels: >docs, backport, v1.1.0

#3902 Backport to 1.0: Fix broken link to Elasticsearch "heap size" docs #3894
  docs/elasticsearch-specification.asciidoc
Labels: >docs, backport, v1.0.0

#3903 Backport to 1.0-beta: Fix broken link to Elasticsearch "heap size" docs #3894
  docs/elasticsearch-specification.asciidoc
Labels: >docs, backport, v1.0.0-beta1

#3905 Backport to 0.9: Fix broken link to Elasticsearch "heap size" docs #3894
  docs/elasticsearch-spec.asciidoc
Labels: >docs, backport, v0.9.0

#3907 [1.3] Update registry.access.redhat.com/ubi8/ubi-minimal Docker tag to v8.3 (#3895)
  Dockerfile
Labels: >renovate, backport

#3908 Grab Beats daemonsets in the diagnostic bundle
  hack/diagnostics/eck-dump.sh
Labels: >enhancement, v1.4.0

#3872 Add Helm migration instructions
  deploy/helm-migrate.sh
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, v1.3.0

#3910 Sort builders by test priority in Beat recipes E2E tests
  test/e2e/test/helper/yaml.go
Labels: >test

#3911 Re-enable TestMetricbeatHostsRecipe
  test/e2e/beat/recipes_test.go
Labels: >flaky_test

#3880 1.3 release notes
  docs/eck-attributes.asciidoc
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/1.3.0.asciidoc
  docs/release-notes/highlights-1.3.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v1.3.0

#3914 [1.3] 1.3 release notes (#3880)
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/1.3.0.asciidoc
  docs/release-notes/highlights-1.3.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport, v1.3.0

#3915 [1.3] Temporarily disable Beat recipe flaky tests (#3888)
  test/e2e/beat/recipes_test.go
Labels: >flaky_test, backport, v1.3.0

#3913 [Backport] Add Helm migration instructions (#3872)
  deploy/helm-migrate.sh
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, backport, v1.3.0

#3922 Capitalize operator display name in OLM template
  hack/operatorhub/templates/csv.tpl
Labels: >bug, exclude-from-release-notes

#3919 Better error message on E2E CheckESNodesTopology errors
  test/e2e/test/elasticsearch/checks_es.go
Labels: >test

#3912 Fix E2E jenkins stage name
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
Labels: >non-issue

#3921 Remove library update from release notes
  docs/release-notes/1.3.0.asciidoc
Labels: >docs, v1.3.0

#3923 [1.3] Capitalize operator display name in OLM template (#3922)
  hack/operatorhub/templates/csv.tpl
Labels: >bug, backport, exclude-from-release-notes

#3926 Bump go to 1.15.4 in e2e container
  test/e2e/Dockerfile
Labels: >non-issue, exclude-from-release-notes

#3916 Typo
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs

#3924 [1.3] Update 1.3.0.asciidoc (#3921)
  docs/release-notes/1.3.0.asciidoc
Labels: >docs, backport

#3927 [1.3] Bump go to 1.15.4 in e2e container (#3926)
  test/e2e/Dockerfile
Labels: >non-issue, backport, exclude-from-release-notes

#3928 [1.3] Typo (#3916)
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs, backport

#3925 [1.3] Update golang Docker tag to v1.15.4 (#3920)
  .ci/Dockerfile
  Dockerfile
  hack/manifest-gen/Dockerfile
Labels: >renovate, backport

#3929 [1.2] Typo (#3916)
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs, backport

#3930 [1.1] Typo (#3916)
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs, backport

#3931 [1.0] Typo (#3916)
  docs/elasticsearch-specification.asciidoc
Labels: >docs, backport

#3943 Set default e2e test timeout to 30 min
  .ci/setenvconfig
  Makefile
  test/e2e/cmd/run/command.go
  test/e2e/stack_test.go
Labels: >flaky_test

#3941 Add a note about upgrading from beta in upgrade instructions
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs

#3944 [1.3] Add a note about upgrading from beta in upgrade instructions (#3941)
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, backport

#3945 [1.2] Add a note about upgrading from beta in upgrade instructions (#3941)
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, backport

#3946 [1.1] Add a note about upgrading from beta in upgrade instructions (#3941)
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, backport

#3950 Use new node_names query param for voting exclusions as of 7.8.0
  pkg/controller/elasticsearch/client/base.go
  pkg/controller/elasticsearch/client/client_test.go
  pkg/controller/elasticsearch/client/v7.go
  pkg/controller/elasticsearch/client/v8.go
Labels: >bug, v1.3.1

#3957 Don't close the log stream channel twice in e2e tests
  test/e2e/cmd/run/job.go
Labels: >test

#3959 Update stack versions in test pipelines
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
Labels: :ci, >test

#3951 Update Openshift compatibility note
  docs/advanced-topics/openshift.asciidoc
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs

#3971 Ignore network errors in e2e healthcheck apiserver calls
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: >flaky_test

#3969 Remove duplicate elastic-beat-autodiscover cluster role in e2e tests
  config/e2e/monitoring.yaml
  config/e2e/operator.yaml
Labels: >test

#3954 [1.3] Use new node_names query param for voting exclusions as of 7.8.0 (#3950)
  pkg/controller/elasticsearch/client/base.go
  pkg/controller/elasticsearch/client/client_test.go
  pkg/controller/elasticsearch/client/v7.go
  pkg/controller/elasticsearch/client/v8.go
Labels: >bug, backport

#3962 Update Openshift compatibility note
  docs/advanced-topics/openshift.asciidoc
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs, backport

#3960 Update Openshift compatibility note (#3951)
  docs/advanced-topics/openshift.asciidoc
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs, backport

#3961 Update Openshift compatibility note (#3951)
  docs/advanced-topics/openshift.asciidoc
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs, backport

#3975 Update VERSION and eck-attributes.asciidoc to 1.3.1
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
Labels: >non-issue, exclude-from-release-notes

#3977 Use a custom version of JSON marshalling for license verification
  pkg/controller/common/license/testdata/externally-generated-lic.json
  pkg/controller/common/license/verifier.go
  pkg/controller/common/license/verifier_test.go
Labels: >bug, v1.3.1

#3981 eck-dump: print Secrets metadata
  hack/diagnostics/eck-dump.sh
Labels: >non-issue, exclude-from-release-notes

#3974 Update ECK overview
  docs/overview.asciidoc
Labels: >docs

#3978 [1.3] Use a custom version of JSON marshalling for license verification (#3977)
  pkg/controller/common/license/testdata/externally-generated-lic.json
  pkg/controller/common/license/verifier.go
  pkg/controller/common/license/verifier_test.go
Labels: >bug, backport

#3980 Revert "Temporarily disable Beat recipe flaky tests (#3888)"
  test/e2e/beat/recipes_test.go
Labels: >flaky_test

#3991 Fix broken telemetry e2e test for 7.11.0-SNAPSHOT
  test/e2e/kb/telemetry_test.go
Labels: >test
