Repository elastic/cloud-on-k8s, pull requests merged in 2021-05, with the labels that each got.

#4464 E2E: fix nil pointer in license test initialisation
  test/e2e/es/license_test.go
  test/e2e/test/common_steps.go
  test/e2e/test/elasticsearch/steps_license.go
Labels: :ci, >test

#4465 E2E: run generate before all relevant e2e targets
  Makefile
Labels: :ci, >test

#4468 Update go.sum of operatorhub and upgrade-test-harness
  hack/operatorhub/go.sum
  hack/upgrade-test-harness/go.sum
Labels: >refactoring, justdoit

#4466 Update EnterpriseSearch config 8.x version test
  pkg/controller/enterprisesearch/config.go
Labels: >bug

#4471 Switch EKS CI to eu-west-3 to avoid quota issues
  hack/deployer/config/plans.yml
Labels: :ci, >test

#4470 Fix typo to use 'an' before a vowel sound
  config/crds/all-crds.yaml
  config/crds/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/agent/v1alpha1/agent_types.go
  pkg/apis/common/v1beta1/association.go
  pkg/apis/maps/v1alpha1/maps_types.go
  pkg/controller/common/events/events.go
  pkg/controller/elasticsearch/client/model.go
  pkg/controller/elasticsearch/elasticsearch_controller.go
Labels: >docs

#4472 Support Elastic Maps Server in eck-dump.sh
  support/diagnostics/eck-dump.sh
Labels: >non-issue

#4457 Updating the text for the deprecation
  docs/release-notes/1.5.0.asciidoc
Labels: >docs

#4474 Adjust templates for OLM bundles/CSVs to include Elastic Maps Server
  hack/operatorhub/config.yaml
  hack/operatorhub/templates/csv.tpl
Labels: >non-issue

#4475 Update release notes for OpenShift 3.11 support (#4457)
  docs/release-notes/1.5.0.asciidoc
Labels: >docs, backport

#4478 Update versions for 1.6.0 release
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
Labels: >non-issue

#4477 Skip Elastic Maps Server tests for Stack version 8.x
  test/e2e/ems/ems_test.go
  test/e2e/test/maps/builder.go
Labels: >test

#4481 Update versions to 1.7.0-SNAPSHOT
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
Labels: >non-issue

#4480 E2E add tags to resilience e2e job
  test/e2e/run.sh
Labels: :ci, >test

#4486 Add Elastic Maps Server to the telemetry
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
Labels: >enhancement, v1.6.0

#4487 [1.6] Add Elastic Maps Server to the telemetry (#4486)
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
Labels: >enhancement, backport

#4490 Docs: clarify volume resize statement in quickstart
  docs/quickstart.asciidoc
Labels: >docs

#4494 [1.6] E2E add tags to resilience e2e job (#4480)
  test/e2e/run.sh
Labels: :ci, >test, backport

#4498 Add 1.6.0 release notes and highlights
  docs/release-notes.asciidoc
  docs/release-notes/1.6.0.asciidoc
  docs/release-notes/highlights-1.6.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v1.6.0

#4500 [1.6] Add 1.6.0 release notes and highlights (#4498)
  docs/release-notes.asciidoc
  docs/release-notes/1.6.0.asciidoc
  docs/release-notes/highlights-1.6.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport, v1.6.0

#4501 Update supported versions doc for 1.6.0
  docs/supported-versions.asciidoc
Labels: triage

#4502 [1.6] Update supported versions doc for 1.6.0 (#4501)
  docs/supported-versions.asciidoc
Labels: >docs, backport, v1.6.0

#4499 Report EnterpriseSearch memory usage
  pkg/controller/enterprisesearch/pod.go
  pkg/license/aggregator.go
  pkg/license/aggregator_test.go
  pkg/license/testdata/stack.yaml
Labels: >enhancement, v1.6.0

#4503 Report EnterpriseSearch memory usage (#4499)
  pkg/controller/enterprisesearch/pod.go
  pkg/license/aggregator.go
  pkg/license/aggregator_test.go
  pkg/license/testdata/stack.yaml
Labels: >enhancement, backport

#4491 Move kind bootstrap into deployer
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  .ci/setenvconfig
  Makefile
  hack/deployer/clients/kind/Dockerfile
  hack/deployer/cmd/create.go
  hack/deployer/cmd/execute.go
  hack/deployer/cmd/get.go
  hack/deployer/cmd/root.go
  hack/deployer/config/plans.yml
  hack/deployer/runner/command.go
  hack/deployer/runner/kind.go
  hack/deployer/runner/kubeconfig.go
  hack/deployer/runner/ocp.go
  hack/deployer/runner/settings.go
  hack/kind/go.mod
  hack/kind/main.go
  hack/kind/storageclass.yaml
Labels: :ci, >test

#4509 Prepare OperatorHub release config for 1.6.0
  hack/operatorhub/config.yaml
Labels: >non-issue

#4508 E2E test k8s 1.21 with kind
  .ci/packer_cache.sh
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  hack/deployer/config/plans.yml
Labels: :ci, >test

#4513 [1.1] Typos in storage-recommendations.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
Labels: >docs, backport

#4514 [1.2] Typos in storage-recommendations.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
Labels: >docs, backport

#4515 [1.3] Typos in storage-recommendations.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
Labels: >docs, backport

#4516 [1.4] Typos in storage-recommendations.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
Labels: >docs, backport

#4512 [1.5] Typos in storage-recommendations.asciidoc and README.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
  support/reattach-pv/README.md
Labels: >docs, backport

#4519 Update stack version to 7.13
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems-es.yaml
  config/recipes/maps/02-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  hack/operatorhub/config.yaml
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: >non-issue

#4517 Docs: Add note about different license expiry dates
  docs/operating-eck/licensing.asciidoc
Labels: >docs

#4523 E2E enable Kibana, APM Server, Enterprise Search, Beats and Agent tests on ARM
  .ci/setenvconfig
  test/e2e/ems/ems_test.go
Labels: :ci, >test

#4493 [Autoscaling] Introduce resource recommenders
  pkg/controller/autoscaling/elasticsearch/autoscaler/autoscaler.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/autoscaler_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/context.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/horizontal.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/linear_scaler.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/recommender/memory.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/recommender/recommender.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/recommender/storage.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/vertical.go
  pkg/controller/autoscaling/elasticsearch/controller_test.go
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/autoscaling/elasticsearch/status/events.go
  pkg/controller/autoscaling/elasticsearch/status/status.go
  pkg/controller/autoscaling/elasticsearch/testdata/empty-autoscaling-api-response/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/frozen-tier/elasticsearch.yml
  pkg/controller/autoscaling/elasticsearch/testdata/max-storage-reached/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/storage-scaled-horizontally/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/storage-scaled-horizontally/elasticsearch.yml
  pkg/utils/math/math.go
  pkg/utils/math/math_test.go
  test/e2e/es/autoscaling_test.go
Labels: >enhancement, autoscaling, v1.7.0

#4526 Add validation for declared volume claim templates
  pkg/controller/elasticsearch/validation/validations.go
  pkg/controller/elasticsearch/validation/volume_validation.go
  pkg/controller/elasticsearch/validation/volume_validation_test.go
Labels: >enhancement, v1.7.0

#4534 Adjust Auditbeat tests for arm64
  config/recipes/beats/auditbeat_hosts.yaml
  test/e2e/beat/config.go
  test/e2e/beat/recipes_test.go
Labels: :ci, >test

#4535 E2E: Elastic Maps Server does not offer snapshot builds at the moment
  .ci/setenvconfig
  test/e2e/test/maps/builder.go
Labels: :ci, >test

#4533 [Autoscaling] Fix e2e test
  pkg/controller/autoscaling/elasticsearch/autoscaler/autoscaler_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/linear_scaler.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/recommender/recommender.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/recommender/storage.go
  pkg/controller/autoscaling/elasticsearch/resources/resources.go
  test/e2e/es/autoscaling_test.go
Labels: >test, autoscaling, v1.7.0

#4536 Add a note about UBI stack images version compatibility
  docs/supported-versions.asciidoc
  hack/operatorhub/main.go
  hack/operatorhub/templates/csv.tpl
Labels: >docs

#4538 [1.6] Add a note about UBI stack images version compatibility (#4536)
  docs/supported-versions.asciidoc
  hack/operatorhub/main.go
  hack/operatorhub/templates/csv.tpl
Labels: backport, triage

#4537 E2E: go build constraints are OR'ed. Exclude EMS tests
  .ci/setenvconfig
  test/e2e/naming_test.go
  test/e2e/samples_test.go
  test/e2e/smoke_test.go
  test/e2e/stack_test.go
Labels: :ci, >test
