Repository elastic/cloud-on-k8s, pull requests merged in 2021-11, with the labels that each got.

#5007 Upgrade dependencies in hack directory
  hack/config-extractor/go.mod
  hack/config-extractor/go.sum
  hack/manifest-gen/go.mod
  hack/manifest-gen/go.sum
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
  hack/upgrade-test-harness/go.mod
  hack/upgrade-test-harness/go.sum
Labels: >non-issue

#5013 Include license expiry date in licensing config map
  docs/operating-eck/licensing.asciidoc
  pkg/license/license.go
  pkg/license/license_test.go
Labels: >enhancement, v2.0.0

#4994 Also Release Images to DockerHub
  .ci/Makefile
  Makefile
  hack/docker.sh
Labels: >enhancement, :ci

#5024 E2E: adjust Enterprise search Kibana API path as of 7.16
  test/e2e/test/kibana/checks_kb.go
Labels: >test

#5022 Update stack-monitoring.asciidoc
  docs/advanced-topics/stack-monitoring.asciidoc
Labels: >docs

#4971 Update rolling restart upgrade documentation
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs

#5033 E2E monitor: move from IP to URL
  config/e2e/helm-monitoring-operator.yaml
  config/e2e/helm-operator-under-test.yaml
  config/e2e/monitoring.yaml
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#5031 Bump OCP4 patch versions
  .ci/pipelines/build.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp-all-but-latest.Jenkinsfile
Labels: >test

#5035 E2E: metricbeat index names do not include pre-release indicator
  test/e2e/test/checks/monitoring.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/kibana/builder.go
Labels: >test

#5039 Move Docker Hub creds fetching
  .ci/Makefile
Labels: :ci, >non-issue

#5042 Increase E2E tests package timeout
  test/e2e/run.sh
Labels: :ci, >test

#5041 E2E: workaround initialisation issue in latest ES versions
  test/e2e/test/elasticsearch/steps_creation.go
Labels: :ci, >test

#5048 E2E: Adjust Kibana keystore test to be compatible with 8.0
  test/e2e/kb/keystore_test.go
Labels: >test

#5046 E2E: move 8.0 workaround to mutation steps
  test/e2e/test/elasticsearch/steps_creation.go
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: :ci, >test

#5044 Revert "Add a replacement mechanism to work around nil handling in ucfg (#4041)"
  pkg/controller/common/settings/canonical_config.go
  pkg/controller/common/settings/canonical_config_test.go
  pkg/controller/common/settings/replace.go
  pkg/controller/common/settings/replace_test.go
  pkg/controller/elasticsearch/settings/canonical_config.go
  pkg/controller/elasticsearch/settings/config_volume.go
Labels: >refactoring

#5045 E2E: switch full-pr build to master GKE pipeline
  .ci/jobs/e2e-tests-master-gke.yml
  .ci/jobs/pr-gke-full.yml
  .ci/pipelines/e2e-tests-master-gke.Jenkinsfile
Labels: :ci, >test

#5014 Documents Agent settings overrides via environmental variables
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, v1.9.0

#5051 [1.9] Documents Agent settings overrides via environmental variables (#5014)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#4928 Do not stop reconciliation on invalid controller-version annotation
  pkg/controller/agent/controller.go
  pkg/controller/apmserver/controller.go
  pkg/controller/association/controller/es_monitoring_test.go
  pkg/controller/association/reconciler.go
  pkg/controller/association/reconciler_test.go
  pkg/controller/autoscaling/elasticsearch/controller.go
  pkg/controller/beat/controller.go
  pkg/controller/common/annotation/controller_version.go
  pkg/controller/common/annotation/controller_version_test.go
  pkg/controller/common/events/events.go
  pkg/controller/elasticsearch/elasticsearch_controller.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/enterprisesearch/enterprisesearch_controller_test.go
  pkg/controller/kibana/controller.go
  pkg/controller/maps/controller.go
  pkg/controller/maps/controller_test.go
Labels: >enhancement

#4597 Use node shutdown API for rolling upgrades and downscales
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/controller/common/events/events.go
  pkg/controller/elasticsearch/client/autoscaling.go
  pkg/controller/elasticsearch/client/base.go
  pkg/controller/elasticsearch/client/client.go
  pkg/controller/elasticsearch/client/client_test.go
  pkg/controller/elasticsearch/client/model.go
  pkg/controller/elasticsearch/client/v6.go
  pkg/controller/elasticsearch/client/v7.go
  pkg/controller/elasticsearch/driver/downscale.go
  pkg/controller/elasticsearch/driver/downscale_test.go
  pkg/controller/elasticsearch/driver/downscale_utils.go
  pkg/controller/elasticsearch/driver/esstate.go
  pkg/controller/elasticsearch/driver/esstate_test.go
  pkg/controller/elasticsearch/driver/fixtures.go
  pkg/controller/elasticsearch/driver/node_shutdown.go
  pkg/controller/elasticsearch/driver/node_shutdown_test.go
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_pods_deletion.go
  pkg/controller/elasticsearch/driver/upgrade_predicates_test.go
  pkg/controller/elasticsearch/migration/migrate_data.go
  pkg/controller/elasticsearch/migration/migrate_data_test.go
  pkg/controller/elasticsearch/reconcile/state.go
  pkg/controller/elasticsearch/reconcile/state_test.go
  pkg/controller/elasticsearch/shutdown/interface.go
  pkg/controller/elasticsearch/shutdown/node.go
  pkg/controller/elasticsearch/shutdown/node_test.go
Labels: >enhancement, v2.0.0

#5043 Support/Enable Operator Lifecycle Manager Webhooks
  hack/operatorhub/main.go
  hack/operatorhub/templates/csv.tpl
Labels: >enhancement, >feature, release-highlight, v2.0.0

#5029 Remove legacy v1beta1 CRDs
  .gitignore
  Makefile
  README.md
  config/all-in-one.yaml
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1beta1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1beta1/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/v1beta1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1beta1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1beta1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1beta1/bases/kustomization.yaml
  config/crds/v1beta1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  config/crds/v1beta1/patches/add-empty-v1alpha1-patch.yaml
  config/crds/v1beta1/patches/agent-patches.yaml
  config/crds/v1beta1/patches/apm-kibana-patches.yaml
  config/crds/v1beta1/patches/beat-patches.yaml
  config/crds/v1beta1/patches/elasticsearch-patches.yaml
  config/crds/v1beta1/patches/ems-patches.yaml
  config/crds/v1beta1/patches/ent-patches.yaml
  config/crds/v1beta1/patches/kustomization.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  deploy/eck-operator/templates/_helpers.tpl
  deploy/eck-operator/templates/webhook.yaml
  docs/operating-eck/upgrading-eck.asciidoc
  docs/quickstart.asciidoc
  docs/supported-versions.asciidoc
  hack/manifest-gen/crd_patches/v1beta1/kustomization.yaml
  hack/manifest-gen/manifest-gen.sh
  hack/manifest-gen/templatize/.gitignore
  hack/manifest-gen/templatize/begin-legacy.tpl
  hack/manifest-gen/templatize/begin.tpl
  hack/manifest-gen/templatize/end.tpl
  hack/manifest-gen/test.sh
  hack/manifest-gen/testdata/kube113.yaml
  hack/manifest-gen/testdata/no_defaults.yaml
  hack/manifest-upload.sh
  hack/operatorhub/templates/csv.tpl
  pkg/utils/test/integration.go
Labels: >breaking, v2.0.0

#4968 Allowing easy access to sub-sections of accessing Elastic Stack Services
  docs/orchestrating-elastic-stack-applications/accessing-elastic-services.asciidoc
Labels: >docs

#5063 E2E: remove ineffective wait step
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: :ci, >test

#5064 Point Elastic doc links to current instead of master
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  docs/advanced-topics/custom-images.asciidoc
  docs/design/0006-sidecar-health.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
  pkg/controller/common/annotation/pod.go
Labels: >docs

#5060 Configure APM integration in 8.x E2E tests
  config/samples/apm/apm_es_kibana.yaml
  pkg/controller/association/controller/apm_es.go
  pkg/controller/elasticsearch/user/reconcile_test.go
  pkg/controller/elasticsearch/user/roles.go
  test/e2e/apm/association_test.go
  test/e2e/apm/configuration_test.go
  test/e2e/apm/standalone_test.go
  test/e2e/naming_test.go
  test/e2e/stack_test.go
  test/e2e/test/apmserver/builder.go
  test/e2e/test/apmserver/checks_apm.go
  test/e2e/test/kibana/builder.go
Labels: :ci, >test, v2.0.0

#5067 Add new distribution channel
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/values.yaml
  hack/config-extractor/extract.sh
  pkg/about/info.go
Labels: >enhancement, >non-issue, v1.9.0

#5069 Update Kubernetes version for EKS to 1.20
  hack/deployer/config/plans.yml
Labels: :ci, >test

#5056 Support JSON marshalling of commonv1.Config on value receivers
  pkg/apis/common/v1/config.go
  pkg/apis/common/v1/config_test.go
Labels: >enhancement

#5019 Add cpu/mem/storage resources validation in E2E tests
  pkg/controller/elasticsearch/client/model.go
  test/e2e/es/topology_test.go
  test/e2e/es/volume_test.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/k8s_client.go
Labels: >test, v2.0.0

#5074 Update eksctl to 0.74.0 to support EKS > 1.18
  .ci/Dockerfile
Labels: :ci, >test

#5070 [1.9] Add new distribution channel (#5067)
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/values.yaml
  hack/config-extractor/extract.sh
  pkg/about/info.go
Labels: >enhancement, backport, >non-issue

#5016 Add 1.9.0 release notes
  docs/release-notes.asciidoc
  docs/release-notes/1.9.0.asciidoc
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v1.9.0

#5077 Remove unused reference to the observer
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/driver/upscale.go
Labels: >non-issue, exclude-from-release-notes, v2.0.0

#5081 [1.9] Add 1.9.0 release notes (#5016)
  docs/release-notes.asciidoc
  docs/release-notes/1.9.0.asciidoc
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#5054 Allow K8S node labels to be propagated as pod annotations
  cmd/manager/main.go
  deploy/eck-operator/templates/_helpers.tpl
  deploy/eck-operator/templates/cluster-roles.yaml
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/values.yaml
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/controller/autoscaling/elasticsearch/controller.go
  pkg/controller/common/operator/flags.go
  pkg/controller/common/operator/parameters.go
  pkg/controller/common/volume/downward_api.go
  pkg/controller/elasticsearch/configmap/configmap.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/driver/node_labels.go
  pkg/controller/elasticsearch/driver/node_labels_test.go
  pkg/controller/elasticsearch/elasticsearch_controller.go
  pkg/controller/elasticsearch/initcontainer/initcontainer.go
  pkg/controller/elasticsearch/initcontainer/initcontainer_test.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script_test.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/volumes.go
  pkg/controller/elasticsearch/validation/node_labels.go
  pkg/controller/elasticsearch/validation/node_labels_test.go
  pkg/controller/elasticsearch/validation/validations.go
  pkg/controller/elasticsearch/validation/validations_test.go
  pkg/controller/elasticsearch/validation/webhook.go
  pkg/controller/elasticsearch/volume/names.go
Labels: >feature, v2.0.0
