Repository elastic/cloud-on-k8s, pull requests merged in 2021-03, with the labels that each got.

#4272 Document issue with webhook match policy
  docs/release-notes/highlights-1.4.0.asciidoc
Labels: >docs, v1.4.0

#4281 [1.4] Document issue with webhook match policy (#4272)
  docs/release-notes/highlights-1.4.0.asciidoc
Labels: >docs, backport, v1.4.0

#4273 [1.4.1][Helm] Unify role bindings (#4262)
  deploy/eck-operator/templates/_helpers.tpl
  deploy/eck-operator/templates/managed-ns-role-bindings.yaml
  deploy/eck-operator/templates/operator-role-binding.yaml
  deploy/eck-operator/templates/role-bindings.yaml
Labels: >bug, backport, v1.4.1

#4271 Set webhook matchPolicy to Exact
  config/webhook/manifests.yaml
  deploy/eck-operator/templates/_helpers.tpl
  deploy/eck-operator/templates/webhook.yaml
  pkg/apis/agent/v1alpha1/webhook.go
  pkg/apis/apm/v1/webhook.go
  pkg/apis/apm/v1beta1/webhook.go
  pkg/apis/beat/v1beta1/webhook.go
  pkg/apis/elasticsearch/v1beta1/webhook.go
  pkg/apis/enterprisesearch/v1beta1/webhook.go
  pkg/apis/kibana/v1/webhook.go
  pkg/apis/kibana/v1beta1/webhook.go
  pkg/controller/elasticsearch/validation/webhook.go
Labels: >bug, v1.4.1

#4283 [1.4.1] Set webhook matchPolicy to Exact (#4271)
  config/webhook/manifests.yaml
  deploy/eck-operator/templates/_helpers.tpl
  deploy/eck-operator/templates/webhook.yaml
  go.sum
  pkg/apis/agent/v1alpha1/webhook.go
  pkg/apis/apm/v1/webhook.go
  pkg/apis/apm/v1beta1/webhook.go
  pkg/apis/beat/v1beta1/webhook.go
  pkg/apis/elasticsearch/v1beta1/webhook.go
  pkg/apis/enterprisesearch/v1beta1/webhook.go
  pkg/apis/kibana/v1/webhook.go
  pkg/apis/kibana/v1beta1/webhook.go
  pkg/controller/elasticsearch/validation/webhook.go
Labels: >bug, backport, v1.4.1

#4286 Generate E2E manifests based on Kubernetes version
  config/e2e/helm-operator-under-test.yaml
  config/e2e/monitoring.yaml
  test/e2e/beat/config_test.go
  test/e2e/beat/recipes_test.go
  test/e2e/cmd/run/run.go
  test/e2e/test/context.go
Labels: >test

#4050 Add support for VolumeClaimDeletePolicies for Elasticsearch clusters
  Makefile
  config/crds/all-crds.yaml
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/controller/common/reconciler/secret.go
  pkg/controller/common/reconciler/secret_test.go
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/driver/pvc_gc_test.go
  pkg/controller/elasticsearch/driver/pvc_owner.go
  pkg/controller/elasticsearch/driver/pvc_owner_test.go
  pkg/controller/elasticsearch/nodespec/statefulset.go
  pkg/controller/elasticsearch/nodespec/statefulset_test.go
  pkg/controller/elasticsearch/validation/webhook_test.go
  pkg/utils/k8s/k8sutils.go
  pkg/utils/k8s/k8sutils_test.go
  pkg/utils/k8s/owner_refs.go
  pkg/utils/k8s/owner_refs_test.go
  test/e2e/es/volume_test.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/elasticsearch/steps_deletion.go
Labels: >enhancement, v1.5.0

#4288 Run generate to fix master
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
Labels: >non-issue

#4289 Update versions for 1.5.0 release
  VERSION
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
Labels: >non-issue

#4293 Update version to 1.4.1
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
  hack/operatorhub/config.yaml
Labels: >non-issue

#4292 Fix deployment strategy doc bug
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, v1.3.2, v1.4.1, v1.5.0

#4299 [1.3] Fix deployment strategy in the beats documentation (#4292)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, backport, v1.3.2

#4298 [1.5] Fix deployment strategy in the beats documentation (#4292)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, backport, v1.5.0

#4300 Fix deployment strategy in the beats documentation (#4292)
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
Labels: >docs, backport

#4302 Add release notes for 1.4.1
  docs/release-notes.asciidoc
  docs/release-notes/1.4.1.asciidoc
Labels: >docs, v1.4.1

#4291 Upgrade OCP installer to latest version 4.7.0
  .ci/Dockerfile
Labels: :ci, >test

#4295 Increase timeout and parallelism in PR build job
  .ci/pipelines/pr-gke.Jenkinsfile
Labels: :ci, >test

#4303 [1.4.x] Add release notes for 1.4.1 (#4302)
  docs/release-notes.asciidoc
  docs/release-notes/1.4.1.asciidoc
Labels: >docs, backport

#4301 Add known issue for Elastic Agent runtime state issue
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  docs/release-notes/highlights-1.4.0.asciidoc
Labels: >docs

#4304 Add docs section explaining the volumeClaimDeletePolicy attribute
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
Labels: >docs

#4305 [1.4] Add known issue for Elastic Agent runtime state issue (#4301)
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  docs/release-notes/highlights-1.4.0.asciidoc
Labels: >docs, backport

#4307 [1.5] Add docs section explaining the volumeClaimDeletePolicy attribute (#4304)
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
Labels: >docs, backport

#4306 Enable full PR job
  .ci/jobs/pr-gke-full.yml
Labels: :ci, >non-issue

#4308 Add release highlights for 1.4.1
  docs/release-notes/highlights-1.4.1.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#4310 [1.4.x] Add release highlights for 1.4.1 (#4308)
  docs/release-notes/highlights-1.4.1.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#4318 [DOCS] Add a TIP to recommend YAML anchors
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs

#4312 Add data tier labels to Elasticsearch nodes
  pkg/apis/elasticsearch/v1/autoscaling.go
  pkg/apis/elasticsearch/v1/elasticsearch_config.go
  pkg/apis/elasticsearch/v1/elasticsearch_config_test.go
  pkg/controller/elasticsearch/label/label.go
  pkg/controller/elasticsearch/validation/autoscaling_validation.go
  pkg/controller/elasticsearch/validation/validations.go
  pkg/controller/elasticsearch/validation/validations_test.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/elasticsearch/settings.go
Labels: >enhancement, v1.6.0

#4321 Replace coordinator node with coordinating node
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/istio-gateway/06-es-traffic-split.yaml
  config/recipes/istio-gateway/README.asciidoc
  config/recipes/traefik/02-elastic-stack.yaml
  config/recipes/traefik/03-node-type-svc.yaml
  config/recipes/traefik/README.asciidoc
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/design/0001-no-stateful-sets.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
  test/e2e/es/topology_test.go
  test/e2e/test/elasticsearch/builder.go
Labels: >docs

#4323 Add Webhook section to Advanced topics
  docs/advanced-topics/advanced-topics.asciidoc
  docs/advanced-topics/webhook-namespace-selectors.asciidoc
Labels: >docs

#4327 Grant Heartbeat NET_RAW POSIX capability
  config/e2e/scc.yaml
Labels: :ci, >test

#4330 [Autoscaling] Fix wrong ML node count in settings
  pkg/apis/elasticsearch/v1/autoscaling.go
  pkg/apis/elasticsearch/v1/autoscaling_test.go
Labels: >bug, autoscaling, exclude-from-release-notes, v1.5.0

#4335 Add a more realistic example to secure settings docs
  docs/orchestrating-elastic-stack-applications/elasticsearch/es-secure-settings.asciidoc
Labels: >docs

#4338 [1.5] Add a more realistic example to secure settings docs (#4335)
  docs/orchestrating-elastic-stack-applications/elasticsearch/es-secure-settings.asciidoc
Labels: >docs, backport, v1.5.0

#4343 Fix env vars in ARM CI job
  .ci/setenvconfig
Labels: :ci, >test

#4344 Fix OpenShift monitoring recipe
  config/recipes/beats/openshift_monitoring.yaml
Labels: >bug, v1.3.2, v1.4.1, v1.5.0

#4345 Fix OpenShift monitoring sample (#4344)
  config/recipes/beats/openshift_monitoring.yaml
Labels: >bug, backport

#4346 Fix OpenShift monitoring sample (#4344)
  config/recipes/beats/openshift_monitoring.yaml
Labels: >bug, backport

#4347 Fix OpenShift monitoring sample (#4344)
  config/recipes/beats/openshift_monitoring.yaml
Labels: >bug, backport

#4348 Reset node selector of managed namespaces on OCP3
  test/e2e/cmd/run/run.go
Labels: >test

#4350 Add OpenEBS to storage recommendations
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
Labels: >docs

#4313 Release notes and highlights for 1.5.0
  docs/release-notes.asciidoc
  docs/release-notes/1.5.0.asciidoc
  docs/release-notes/highlights-1.5.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v1.5.0

#3984 Retry E2E test steps that involve network IO with the apiserver
  test/e2e/apm/association_test.go
  test/e2e/apm/configuration_test.go
  test/e2e/ent/configuration_test.go
  test/e2e/es/auth_test.go
  test/e2e/es/certs_test.go
  test/e2e/es/failure_test.go
  test/e2e/es/keystore_test.go
  test/e2e/es/validation_test.go
  test/e2e/kb/association_test.go
  test/e2e/kb/failure_test.go
  test/e2e/kb/keystore_test.go
  test/e2e/naming_test.go
  test/e2e/test/apmserver/steps_creation.go
  test/e2e/test/apmserver/steps_deletion.go
  test/e2e/test/apmserver/steps_mutation.go
  test/e2e/test/beat/pod_builder.go
  test/e2e/test/beat/steps.go
  test/e2e/test/elasticsearch/steps_creation.go
  test/e2e/test/elasticsearch/steps_deletion.go
  test/e2e/test/elasticsearch/steps_license.go
  test/e2e/test/enterprisesearch/steps_creation.go
  test/e2e/test/enterprisesearch/steps_deletion.go
  test/e2e/test/enterprisesearch/steps_mutation.go
  test/e2e/test/helper/yaml.go
  test/e2e/test/k8s_client.go
  test/e2e/test/kibana/steps_creation.go
  test/e2e/test/kibana/steps_deletion.go
  test/e2e/test/kibana/steps_mutation.go
Labels: >flaky_test

#4337 [Autoscaling] Add end user documentation
  docs/orchestrating-elastic-stack-applications/elasticsearch-specification.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
Labels: >docs, autoscaling, v1.5.0

#4349 Fix version parsing in nightly job
  .ci/pipelines/build.Jenkinsfile
  .ci/setenvconfig
Labels: :ci, >test

#4353 [Autoscaling] Add end user documentation (#4337)
  docs/orchestrating-elastic-stack-applications/elasticsearch-specification.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
Labels: >docs, backport

#4355 Upgrade versions to 7.11.2/1.4.1 in samples and tests
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/testdata/v140/install.yaml
  hack/upgrade-test-harness/testdata/v140/stack.yaml
  test/e2e/beat/webhook_test.go
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: >non-issue

#4358 Add E2E namespace to diagnostic dump
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#4362 Adjust Elastic Agent hostpath workaround for 7.11.2
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
Labels: :ci, >test

#4351 [1.5] Release notes and highlights for 1.5.0 (#4313)
  docs/release-notes.asciidoc
  docs/release-notes/1.4.1.asciidoc
  docs/release-notes/1.5.0.asciidoc
  docs/release-notes/highlights-1.4.1.asciidoc
  docs/release-notes/highlights-1.5.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport, v1.5.0

#4361 Append E2E pipeline name to test image tag
  .ci/setenvconfig
  Makefile
Labels: :ci, >flaky_test

#4364 Elastic Agent k8s recipe: restore correct package version
  config/recipes/elastic-agent/kubernetes-integration.yaml
Labels: :ci, >test

#4356 E2E fix errors in monitoring setup
  config/e2e/helm-operator-under-test.yaml
  config/e2e/monitoring.yaml
Labels: :ci, >test

#4365 Disable Elastic Agent Kubernetes Integration recipe e2e test
  test/e2e/agent/recipes_test.go
Labels: :ci, >test

#4366 Prepare config for Operator Hub release generator for 1.5.0
  hack/operatorhub/config.yaml
Labels: >non-issue

#4369 [1.5] Prepare Operator Hub release config for 1.5.0 (#4366)
  hack/operatorhub/config.yaml
Labels: >non-issue, backport, v1.5.0

#4317 E2E: Extract Support Diagnostics from Elasticsearch clusters under test
  config/e2e/diagnostics_job.yaml
  config/e2e/scc.yaml
  test/e2e/cmd/run/diagnostics.go
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#4363 correct list of version to upgrade from
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs

#4374 Fix E2E builders
  test/e2e/test/helper/yaml.go
Labels: >test

#4372 Clarify shard allocation awareness
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs

#4375 correct list of version to upgrade from
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs

#4376 correct list of version to upgrade from
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, backport

#4352 E2E local: run test script from within e2e cmd
  Makefile
  test/e2e/cmd/run/run.go
Labels: >test

#4379 [Autoscaling] Add a note about the license in the documentation
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
Labels: >docs, v1.5.0

#4381 [Autoscaling] Add a note about the license in the documentation (#4379)
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
Labels: >docs, backport

#4378 E2E chaos job: adjust label selector
  test/e2e/cmd/chaos/chaos.go
Labels: :ci, >test

#4386 Control ignorePaths of renovate config to include test/
  .github/renovate.json
Labels: >renovate

#4384 Upgrade Elastic Stack version to 7.12.0
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  test/e2e/agent/webhook_test.go
  test/e2e/beat/webhook_test.go
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: >non-issue

#4388 Skip agent and beat recipes tests on OCP3
  test/e2e/agent/recipes_test.go
  test/e2e/beat/recipes_test.go
Labels: >test

#4371 Update Google Cloud LB recipe
  config/recipes/gclb/00-prereq-cluster-issuer.yaml
  config/recipes/gclb/02-ingress.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/gclb/README.asciidoc
Labels: >docs

#4385 Improve Stack version update script
  hack/update-samples-stack-version.sh
  hack/update-stack-version.sh
Labels: >refactoring

#4392 [1.4] Clarify shard allocation awareness (#4372)
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs, backport

#4391 [1.5] Clarify shard allocation awareness (#4372)
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs, backport

#4400 Remove labels from operator namespace
  deploy/eck-operator/templates/operator-namespace.yaml
Labels: >bug

#4399 TestManager start observers after adding listeners to avoid livelock
  pkg/controller/elasticsearch/observer/manager_test.go
Labels: >test

#4398 Update upgrade-test-harness with v1.5.0
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/testdata/v150/install.yaml
  hack/upgrade-test-harness/testdata/v150/stack.yaml
Labels: >test
