Repository elastic/cloud-on-k8s, pull requests merged in 2021-02, with the labels that each got.

#4157 Refer to eck.k8s.elastic.co/managed in doc and annotator.sh
  docs/operating-eck/upgrading-eck.asciidoc
  hack/annotator/annotator.sh
Labels: >docs

#4171 Remove trace option from pre-stop script
  pkg/controller/elasticsearch/nodespec/lifecycle_hook.go
Labels: >test, v1.5.0

#4116 Add release notes for v1.4.0
  docs/release-notes.asciidoc
  docs/release-notes/1.4.0.asciidoc
Labels: >docs, v1.4.0

#4177 [1.4] Add release notes for v1.4.0 (#4116)
  docs/release-notes.asciidoc
  docs/release-notes/1.4.0.asciidoc
Labels: >docs, backport

#4180 [1.4] Add release highlights for 1.4.0 (#4135)
  docs/release-notes/highlights-1.4.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#4186 Fix Kibana NODE_OPTIONS env var
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
  pkg/controller/kibana/config_settings.go
  pkg/license/aggregator.go
  pkg/license/reporter_test.go
  pkg/license/testdata/stack.yaml
Labels: >bug, >docs, v1.4.0

#4187 [1.4] Skip Elasticsearch 6.8.x upgrade tests on ARM (#4172)
  .ci/setenvconfig
  test/e2e/es/version_upgrade_test.go
  test/e2e/test/context.go
Labels: :ci, >test, backport

#4189 [Backport] Fix Kibana NODE_OPTIONS env var (#4186)
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
  pkg/controller/kibana/config_settings.go
  pkg/license/aggregator.go
  pkg/license/reporter_test.go
  pkg/license/testdata/stack.yaml
Labels: >bug, >docs, backport, v1.4.0

#4181 [eck-operator]: Additional Environment Variables
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/values.yaml
Labels: >enhancement, v1.5.0

#4193 [1.4][eck-operator]: Additional Environment Variables (#4181)
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/values.yaml
Labels: >enhancement, backport, v1.4.0

#4191 Adjust init container script for Elastic License 2.0
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
Labels: >non-issue, v1.4.0

#4194 Update 1.4.0 release notes to reflect latest changes
  docs/release-notes/1.4.0.asciidoc
  docs/release-notes/highlights-1.4.0.asciidoc
Labels: >docs, v1.4.0

#4199 [1.4] Update 1.4.0 release notes to reflect latest bugfixes (#4194)
  docs/release-notes/1.4.0.asciidoc
  docs/release-notes/highlights-1.4.0.asciidoc
Labels: >docs, backport

#4200 [1.4] Adjust init container script for Elastic License 2.0 (#4191)
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
Labels: >non-issue, backport

#4201 [1.3] Adjust init container script for Elastic License 2.0 (#4191)
  NOTICE.txt
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
Labels: >non-issue, backport

#4202 [1.2] Adjust init container script for Elastic License 2.0 (#4191)
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
  NOTICE.txt
  hack/deployer/config/plans.yml
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
Labels: >non-issue, backport

#4207 Update VERSION to 1.2.2
  VERSION
  docs/eck-attributes.asciidoc
  hack/manifest-gen/assets/charts/eck/Chart.yaml
  hack/manifest-gen/assets/charts/eck/values.yaml
Labels: >non-issue

#4204 Release notes for 1.3.2
  docs/release-notes.asciidoc
  docs/release-notes/1.3.2.asciidoc
  docs/release-notes/highlights-1.3.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#4206 Update VERSION to 1.3.2
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
Labels: >non-issue

#4205 Release notes and highlights 1.2.2
  docs/release-notes.asciidoc
  docs/release-notes/1.2.2.asciidoc
  docs/release-notes/highlights-1.2.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#4213 [1.2.2] Release notes and highlights 1.2.2 (#4205)
  docs/release-notes.asciidoc
  docs/release-notes/1.2.2.asciidoc
  docs/release-notes/highlights-1.2.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#4212 [1.3.2] Release notes and highlights 1.2.2 (#4205)
  docs/release-notes.asciidoc
  docs/release-notes/1.2.2.asciidoc
  docs/release-notes/highlights-1.2.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#4215 [1.3.2] Release notes for 1.3.2 (#4204)
  docs/release-notes.asciidoc
  docs/release-notes/1.3.2.asciidoc
  docs/release-notes/highlights-1.3.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#4211 [1.4] Release notes and highlights 1.2.2 (#4205)
  docs/release-notes.asciidoc
  docs/release-notes/1.2.2.asciidoc
  docs/release-notes/highlights-1.2.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#4214 [1.4] Release notes for 1.3.2 (#4204)
  docs/release-notes.asciidoc
  docs/release-notes/1.3.2.asciidoc
  docs/release-notes/highlights-1.3.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#4217 Update Stack resources list
  docs/eck-attributes.asciidoc
Labels: >docs

#4218 [1.4] Update Stack resources list
  docs/eck-attributes.asciidoc
Labels: >docs, backport

#4216 Adjust operatorhub tooling for 1.4.0 release
  hack/operatorhub/config.yaml
  hack/operatorhub/templates/csv.tpl
Labels: >non-issue

#4219 [1.4] Adjust operatorhub tooling for 1.4.0 release (#4216)
  hack/operatorhub/config.yaml
  hack/operatorhub/templates/csv.tpl
Labels: >non-issue, backport

#4221 Update OCP3 E2E image
  hack/deployer/runner/ocp3.go
Labels: :ci, exclude-from-release-notes, triage

#4224 E2E: Disable Enterprise Search 7.9 and 7.10 tests on Openshift
  test/e2e/test/enterprisesearch/builder.go
Labels: >non-issue, >test, exclude-from-release-notes

#4158 [Autoscaling] Add Elasticsearch API client
  pkg/controller/elasticsearch/client/autoscaling.go
  pkg/controller/elasticsearch/client/autoscaling_test.go
  pkg/controller/elasticsearch/client/client.go
  pkg/controller/elasticsearch/client/testdata/autoscaling.json
  pkg/controller/elasticsearch/client/v6.go
Labels: >feature, autoscaling, v1.5.0

#4223 Add known issue description for stuck OLM based upgrade
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, v1.4.0

#4226 Update license requirement for Workplace Search
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
Labels: >docs, v1.4.0

#4228 [1.4] Add known issue description for stuck OLM based upgrade (#4223)
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport

#4227 [1.4] Update license requirement for Workplace Search (#4226)
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
Labels: >docs, backport

#4230 Fix broken link to Istio docs
  docs/advanced-topics/service-meshes.asciidoc
Labels: >docs

#4231 [1.4] Fix broken link to Istio
  docs/advanced-topics/service-meshes.asciidoc
Labels: >docs, backport

#4197 Controller version refactoring
  pkg/controller/common/annotation/controller_version.go
  pkg/controller/common/annotation/controller_version_test.go
Labels: >refactoring, v1.5.0

#4235 E2E: remove botuser from slackSend invocations
  .ci/pipelines/build.Jenkinsfile
  .ci/pipelines/cleanup-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-aks.Jenkinsfile
  .ci/pipelines/e2e-tests-eks-arm.Jenkinsfile
  .ci/pipelines/e2e-tests-eks.Jenkinsfile
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-master-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp3.Jenkinsfile
  .ci/pipelines/e2e-tests-resilience.Jenkinsfile
  .ci/pipelines/e2e-tests-snapshot-versions-8x-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
Labels: :ci, >test

#4237 [1.2] Update license requirement for Workplace Search (#4226)
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
Labels: >docs, backport

#4236 [1.3] Update license requirement for Workplace Search (#4226)
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
Labels: >docs, backport

#4173 [Autoscaling] Add Elasticsearch autoscaling controller
  cmd/manager/main.go
  pkg/apis/elasticsearch/v1/autoscaling.go
  pkg/controller/autoscaling/elasticsearch.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/autoscaler.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/autoscaler_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/context.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/horizontal.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/linear_scaler.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/linear_scaler_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/nodesets.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/nodesets_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/offline.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/offline_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/vertical.go
  pkg/controller/autoscaling/elasticsearch/controller.go
  pkg/controller/autoscaling/elasticsearch/controller_test.go
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/autoscaling/elasticsearch/policy.go
  pkg/controller/autoscaling/elasticsearch/reconcile.go
  pkg/controller/autoscaling/elasticsearch/resources/resources.go
  pkg/controller/autoscaling/elasticsearch/resources/resources_test.go
  pkg/controller/autoscaling/elasticsearch/status/actual.go
  pkg/controller/autoscaling/elasticsearch/status/actual_test.go
  pkg/controller/autoscaling/elasticsearch/status/events.go
  pkg/controller/autoscaling/elasticsearch/status/status.go
  pkg/controller/autoscaling/elasticsearch/testdata/cluster-creation/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/cluster-creation/elasticsearch.yml
  pkg/controller/autoscaling/elasticsearch/testdata/empty-autoscaling-api-response/capacity.json
  pkg/controller/autoscaling/elasticsearch/testdata/empty-autoscaling-api-response/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/empty-autoscaling-api-response/elasticsearch.yml
  pkg/controller/autoscaling/elasticsearch/testdata/max-storage-reached/capacity.json
  pkg/controller/autoscaling/elasticsearch/testdata/max-storage-reached/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/max-storage-reached/elasticsearch.yml
  pkg/controller/autoscaling/elasticsearch/testdata/min-nodes-increased-by-user/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/min-nodes-increased-by-user/elasticsearch.yml
  pkg/controller/autoscaling/elasticsearch/testdata/ml/capacity.json
  pkg/controller/autoscaling/elasticsearch/testdata/ml/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/ml/elasticsearch.yml
  pkg/controller/autoscaling/elasticsearch/testdata/storage-scaled-horizontally/capacity.json
  pkg/controller/autoscaling/elasticsearch/testdata/storage-scaled-horizontally/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/storage-scaled-horizontally/elasticsearch.yml
  pkg/controller/common/license/check.go
  pkg/controller/elasticsearch/driver/autoscaling.go
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/validation/autoscaling_validation.go
  pkg/controller/elasticsearch/volume/defaults.go
Labels: >feature, autoscaling, v1.5.0

#4203 Use Helm in E2E tests
  Makefile
  config/e2e/helm-values.yaml
  config/e2e/operator.yaml
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/values.yaml
  hack/manifest-gen/testdata/no_defaults.yaml
  test/e2e/cmd/run/command.go
  test/e2e/cmd/run/run.go
  test/e2e/test/context.go
Labels: :ci, >test

#4238 Docs: add section about custom transport CAs
  docs/orchestrating-elastic-stack-applications/elasticsearch/transport-settings.asciidoc
Labels: >docs, v1.4.0

#4243 Revert to using OPERATOR_IMAGE for E2E tests
  Makefile
  test/e2e/cmd/run/command.go
  test/e2e/cmd/run/run.go
  test/e2e/test/context.go
Labels: :ci, >test

#4246 Create a support folder with diagnostics and reattach-pv
  Makefile
  hack/diagnostics/README.md
  hack/reattach-pv/README.md
  support/diagnostics/eck-dump.sh
  support/reattach-pv/README.md
  support/reattach-pv/integ-test-gke/elasticsearch.yml
  support/reattach-pv/integ-test-gke/run.sh
  support/reattach-pv/integ-test-gke/storageclass.yml
  support/reattach-pv/main.go
  test/e2e/cmd/run/run.go
Labels: >non-issue, supportability

#4242 Update stack to 7.11.0
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  test/e2e/beat/webhook_test.go
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/stack_test.go
Labels: :ci, >test

#4245 E2E: fix panic in GetCredentials and broken cluster handling for OCP
  hack/deployer/runner/ocp.go
Labels: :ci, >test

#4240 [1.4] Docs: add section about custom transport CAs (#4238)
  docs/orchestrating-elastic-stack-applications/elasticsearch/transport-settings.asciidoc
Labels: >docs, backport

#4252 Filebeat recipe: allow service account to get/watch nodes
  config/recipes/beats/filebeat_autodiscover.yaml
Labels: :ci, >test

#4253 [E2E] Fix test agent configuration
  test/e2e/agent/config.go
Labels: >test

#4256 Stack monitoring recipe: allow service account to get/watch nodes
  config/recipes/beats/stack_monitoring.yaml
Labels: >test

#4248 Use Helm to deploy the E2E monitoring operator
  config/e2e/helm-monitoring-operator.yaml
  config/e2e/helm-operator-under-test.yaml
  config/e2e/monitoring.yaml
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#4251 Upgrade to Go 1.16
  NOTICE.txt
  dev-setup.md
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  hack/api-docs/build.sh
  hack/check/check-requisites.sh
  hack/config-extractor/go.mod
  hack/kind/go.mod
  hack/licence-detector/generate-notice.sh
  hack/manifest-gen/go.mod
  hack/operatorhub/go.mod
  hack/release-notes/go.mod
  hack/upgrade-test-harness/go.mod
Labels: >refactoring

#4239 [Autoscaling] Add support for request/limit ratio
  pkg/apis/elasticsearch/v1/autoscaling.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/autoscaler_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/linear_scaler.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/offline.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/offline_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/vertical.go
  pkg/controller/autoscaling/elasticsearch/reconcile.go
  pkg/controller/autoscaling/elasticsearch/resources/resources.go
  pkg/controller/autoscaling/elasticsearch/resources/resources_test.go
Labels: >feature, autoscaling, v1.5.0

#4250 [Autoscaling] Add scale down stabilization
  pkg/apis/elasticsearch/v1/autoscaling.go
  pkg/apis/elasticsearch/v1/autoscaling_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/autoscaler.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/autoscaler_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/context.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/horizontal.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/linear_scaler_test.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/offline.go
  pkg/controller/autoscaling/elasticsearch/autoscaler/vertical.go
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/autoscaling/elasticsearch/resources/resources_test.go
  pkg/controller/autoscaling/elasticsearch/status/actual_test.go
  pkg/controller/elasticsearch/validation/autoscaling_validation.go
Labels: >enhancement, autoscaling, v1.5.0

#4262 [Helm] Unify role bindings
  deploy/eck-operator/templates/_helpers.tpl
  deploy/eck-operator/templates/managed-ns-role-bindings.yaml
  deploy/eck-operator/templates/operator-role-binding.yaml
  deploy/eck-operator/templates/role-bindings.yaml
Labels: >bug, >refactoring

#4266 Add autoscaling usage reporting
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
Labels: autoscaling, exclude-from-release-notes, triage, v1.5.0

#4265 [Autoscaling] Report overlapping policies
  pkg/apis/elasticsearch/v1/autoscaling.go
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/autoscaling/elasticsearch/driver_test.go
  pkg/controller/autoscaling/elasticsearch/status/status.go
Labels: >feature, autoscaling, v1.5.0

#4264 [Autoscaling] Add setting to customize autoscaling API polling frequency
  pkg/apis/elasticsearch/v1/autoscaling.go
  pkg/controller/autoscaling/elasticsearch/controller.go
  pkg/controller/autoscaling/elasticsearch/controller_test.go
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/autoscaling/elasticsearch/testdata/max-storage-reached/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/max-storage-reached/elasticsearch.yml
Labels: >feature, autoscaling, v1.5.0

#4268 Skip creating namespaces during E2E run
  config/e2e/helm-monitoring-operator.yaml
  config/e2e/helm-operator-under-test.yaml
  deploy/eck-operator/templates/operator-namespace.yaml
  deploy/eck-operator/values.yaml
Labels: :ci, >flaky_test

#4275 Exclude Go module download output from manifest-gen output
  hack/manifest-gen/manifest-gen.sh
Labels: :ci, >flaky_test
