Repository elastic/cloud-on-k8s, pull requests merged in 2021-07, with the labels that each got.

#4604 Allow to test EnterpriseSearch with Elasticsearch 8.0.0-SNAPSHOT
  test/e2e/test/enterprisesearch/builder.go
Labels: >bug, >test

#4598 Simplify setup of Enterprise Search access through Kibana UI
  cmd/manager/main.go
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/bases/kibana.k8s.elastic.co_kibanas.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/common/v1/association.go
  pkg/apis/common/v1/association_test.go
  pkg/apis/enterprisesearch/v1/enterprisesearch_types.go
  pkg/apis/kibana/v1/kibana_types.go
  pkg/apis/kibana/v1/kibana_types_test.go
  pkg/apis/kibana/v1/zz_generated.deepcopy.go
  pkg/controller/association/ca_test.go
  pkg/controller/association/conf_test.go
  pkg/controller/association/controller.go
  pkg/controller/association/controller/agent_es.go
  pkg/controller/association/controller/apm_es.go
  pkg/controller/association/controller/apm_kibana.go
  pkg/controller/association/controller/beat_es.go
  pkg/controller/association/controller/beat_kibana.go
  pkg/controller/association/controller/ent_es.go
  pkg/controller/association/controller/kibana_ent.go
  pkg/controller/association/controller/kibana_es.go
  pkg/controller/association/controller/maps_es.go
  pkg/controller/association/dynamic_watches.go
  pkg/controller/association/reconciler.go
  pkg/controller/association/reconciler_test.go
  pkg/controller/association/resources_test.go
  pkg/controller/association/service.go
  pkg/controller/association/user.go
  pkg/controller/association/user_test.go
  pkg/controller/common/association/association.go
  pkg/controller/common/watches/state.go
  pkg/controller/enterprisesearch/config.go
  pkg/controller/enterprisesearch/deployment.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/enterprisesearch/enterprisesearch_controller_test.go
  pkg/controller/enterprisesearch/labels.go
  pkg/controller/enterprisesearch/name.go
  pkg/controller/enterprisesearch/name/name.go
  pkg/controller/enterprisesearch/pod.go
  pkg/controller/enterprisesearch/version_upgrade.go
  pkg/controller/enterprisesearch/version_upgrade_test.go
  pkg/controller/kibana/config_settings.go
  pkg/controller/kibana/config_settings_test.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/utils/k8s/k8sutils.go
  pkg/utils/k8s/k8sutils_test.go
  test/e2e/kb/association_test.go
  test/e2e/test/enterprisesearch/builder.go
  test/e2e/test/enterprisesearch/http_client.go
  test/e2e/test/enterprisesearch/steps_deletion.go
  test/e2e/test/kibana/builder.go
  test/e2e/test/kibana/checks_k8s.go
  test/e2e/test/kibana/checks_kb.go
Labels: >feature, v1.7.0

#4612 Make the kubeconfig cleanup conditional for OCP
  hack/deployer/runner/ocp.go
Labels: :ci, >test

#4600 Allow users to configure SANs on transport certificates
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/transport-settings.asciidoc
  docs/reference/api-docs.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1/zz_generated.deepcopy.go
  pkg/controller/elasticsearch/certificates/transport/csr.go
  pkg/controller/elasticsearch/certificates/transport/csr_test.go
Labels: >enhancement, v1.7.0

#4611 Add doc to configure Kibana to access Enterprise Search
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
Labels: >docs, v1.7.0

#4621 Disable basic auth on GKE
  hack/deployer/config/plans.yml
  hack/deployer/runner/gke.go
  hack/deployer/runner/settings.go
Labels: :ci, >non-issue, exclude-from-release-notes

#4623 [e2e][gke] Remove k8s 1.17, add 1.19 and 1.20
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
Labels: :ci, >test

#4599 Enable scale subresource on eligible resources
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1beta1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1beta1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1beta1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/apm/v1/apmserver_types.go
  pkg/apis/common/v1/common.go
  pkg/apis/enterprisesearch/v1/enterprisesearch_types.go
  pkg/apis/kibana/v1/kibana_types.go
  pkg/apis/maps/v1alpha1/maps_types.go
  pkg/controller/apmserver/deployment.go
  pkg/controller/apmserver/state.go
  pkg/controller/common/status.go
  pkg/controller/common/status_test.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/kibana/driver.go
  pkg/controller/maps/controller.go
  test/e2e/test/apmserver/checks_k8s.go
  test/e2e/test/checks.go
  test/e2e/test/enterprisesearch/checks_k8s.go
  test/e2e/test/kibana/checks_k8s.go
  test/e2e/test/maps/checks.go
Labels: >feature, v1.7.0

#4626 Avoid circular dependency between Elasticsearch and association controllers
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/elasticsearch_controller.go
Labels: >bug, v1.7.0

#4607 Add ecdsa support
  pkg/controller/common/certificates/ca.go
  pkg/controller/common/certificates/ca_reconcile.go
  pkg/controller/common/certificates/ca_reconcile_test.go
  pkg/controller/common/certificates/http_reconcile.go
  pkg/controller/common/certificates/pem.go
  pkg/controller/common/certificates/pem_test.go
  pkg/controller/elasticsearch/certificates/transport/csr_test.go
  pkg/controller/elasticsearch/certificates/transport/pod_secret.go
  pkg/controller/elasticsearch/certificates/transport/pod_secret_test.go
  pkg/controller/elasticsearch/certificates/transport/reconcile_test.go
  pkg/controller/elasticsearch/certificates/transport/transport_fixtures_test.go
  pkg/controller/webhook/cert.go
  test/e2e/es/certs_test.go
Labels: >enhancement, v1.7.0

#4631 Update supported versions
  README.md
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
Labels: >non-issue, exclude-from-release-notes

#4614 Fleet mode and Fleet Server support in Elastic Agent CRD
  cmd/manager/main.go
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1beta1/patches/agent-patches.yaml
  config/e2e/roles.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/agent/v1alpha1/agent_types.go
  pkg/apis/agent/v1alpha1/agent_types_test.go
  pkg/apis/agent/v1alpha1/validations.go
  pkg/apis/agent/v1alpha1/validations_test.go
  pkg/apis/agent/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/common/v1/association.go
  pkg/controller/agent/config.go
  pkg/controller/agent/config_test.go
  pkg/controller/agent/controller.go
  pkg/controller/agent/driver.go
  pkg/controller/agent/labels.go
  pkg/controller/agent/name.go
  pkg/controller/agent/pod.go
  pkg/controller/association/conf.go
  pkg/controller/association/conf_test.go
  pkg/controller/association/controller/agent_fleetserver.go
  pkg/controller/association/controller/agent_kibana.go
  pkg/controller/common/defaults/pod_template.go
  pkg/controller/common/version/version.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  test/e2e/agent/config.go
  test/e2e/agent/config_test.go
  test/e2e/test/agent/builder.go
  test/e2e/test/agent/steps.go
  test/e2e/test/kibana/builder.go
Labels: >feature, release-highlight, v1.7.0

#4639 Lower fleet agent minimum version to 7.14.0-SNAPSHOT
  pkg/apis/agent/v1alpha1/validations_test.go
  pkg/controller/common/version/version.go
  test/e2e/test/agent/builder.go
Labels: >bug, >test, v1.7.0

#4637 Move subresources to top level on v1beta1 crds
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/patches/apm-kibana-patches.yaml
  config/crds/v1beta1/patches/ent-patches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
Labels: >bug, v1.7.0

#4648 [1.7] Backport: Remove scale subresources on v1beta1 crds (#4637)
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/patches/apm-kibana-patches.yaml
  config/crds/v1beta1/patches/ent-patches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
Labels: triage

#4641 Document how to configure Enterprise Search CPU and memory requirements
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, v1.2.0

#4636 Update versions for 1.7.0 release
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
Labels: >non-issue

#4657 Update versions to 1.8.0-SNAPSHOT
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
Labels: >non-issue

#4651 [1.2] Document how to configure Enterprise Search CPU and memory requirements (#4641)
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, backport

#4652 [1.3] Document how to configure Enterprise Search CPU and memory requirements (#4641)
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, backport

#4653 [1.4] Document how to configure Enterprise Search CPU and memory requirements (#4641)
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, backport

#4655 [1.6] Document how to configure Enterprise Search CPU and memory requirements (#4641)
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, backport

#4656 [1.7] Document how to configure Enterprise Search CPU and memory requirements (#4641)
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, backport

#4654 [1.5] Document how to configure Enterprise Search CPU and memory requirements (#4641)
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, backport

#4666 OperatorHub generator: ensure YAML sep. between documents
  hack/operatorhub/main.go
Labels: >bug, exclude-from-release-notes, v1.7.0

#4667 OperatorHub generator: ensure YAML sep. between documents (#4666)
  hack/operatorhub/main.go
Labels: >bug, backport

#4664 Update Secrets and OwnerReference in Common problems
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs

#4663 Add SAML authentication documentation
  docs/orchestrating-elastic-stack-applications/securing-stack.asciidoc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs

#4669 [1.2] Add SAML authentication documentation (#4663)
  docs/orchestrating-elastic-stack-applications/securing-stack.asciidoc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, backport

#4670 [1.3] Add SAML authentication documentation (#4663)
  docs/orchestrating-elastic-stack-applications/securing-stack.asciidoc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, backport

#4671 [1.4] Add SAML authentication documentation (#4663)
  docs/orchestrating-elastic-stack-applications/securing-stack.asciidoc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, backport

#4672 [1.5] Add SAML authentication documentation (#4663)
  docs/orchestrating-elastic-stack-applications/securing-stack.asciidoc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, backport

#4673 [1.6] Add SAML authentication documentation (#4663)
  docs/orchestrating-elastic-stack-applications/securing-stack.asciidoc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, backport

#4674 [1.7] Add SAML authentication documentation (#4663)
  docs/orchestrating-elastic-stack-applications/securing-stack.asciidoc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, backport

#4679 Add v1alpha1/[es|kb|apm] versions in v1 crds
  config/crds/v1/all-crds.yaml
  config/crds/v1/patches/add-empty-v1alpha1-patch.yaml
  config/crds/v1/patches/kustomization.yaml
  config/crds/v1beta1/patches/add-empty-v1alpha1-patch.yaml
  config/crds/v1beta1/patches/kustomization.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
Labels: >bug, v1.7.0

#4681 Add v1alpha1/[es|kb|apm] versions in v1 crds (#4679)
  config/crds/v1/all-crds.yaml
  config/crds/v1/patches/add-empty-v1alpha1-patch.yaml
  config/crds/v1/patches/kustomization.yaml
  config/crds/v1beta1/patches/add-empty-v1alpha1-patch.yaml
  config/crds/v1beta1/patches/kustomization.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
Labels: >bug, backport

#4683 Update Secrets and OwnerReference in Common problems (#4664)
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport

#4684 Update Secrets and OwnerReference in Common problems (#4664)
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport

#4685 Update Secrets and OwnerReference in Common problems (#4664)
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport

#4686 Update Secrets and OwnerReference in Common problems (#4664)
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport

#4687 Update Secrets and OwnerReference in Common problems (#4664)
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport

#4661 Add 1.7.0 release notes and highlights
  docs/release-notes.asciidoc
  docs/release-notes/1.7.0.asciidoc
  docs/release-notes/highlights-1.7.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#4690 Docs: fix list rendering in ES JVM doc
  docs/orchestrating-elastic-stack-applications/elasticsearch/jvm-heap-size.asciidoc
Labels: >docs

#4693 Bump go.elastic.co/apm from 1.8.0 to 1.12.0 (#4689)
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
Labels: >renovate, backport, dependencies

#4691 Add 1.7.0 release notes and highlights (#4661)
  docs/release-notes.asciidoc
  docs/release-notes/1.7.0.asciidoc
  docs/release-notes/highlights-1.7.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#4701 [1.7] Lower fleet agent minimum version to 7.14.0-SNAPSHOT (#4639)
  pkg/apis/agent/v1alpha1/validations_test.go
  pkg/controller/common/version/version.go
  test/e2e/test/agent/builder.go
Labels: >bug, >test, backport

#4680 Update autoscaling documentation
  docs/orchestrating-elastic-stack-applications/autoscaling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
Labels: >docs, autoscaling, v1.7.0

#4702 Bump Stack version to 7.13.4
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems-es.yaml
  config/recipes/maps/02-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  hack/operatorhub/config.yaml
  hack/update-stack-version.sh
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: >non-issue, v1.7.0

#4677 Logs and metrics delivery via Stack Monitoring documentation
  docs/advanced-topics/advanced-topics.asciidoc
  docs/advanced-topics/stack-monitoring.asciidoc
  docs/release-notes/highlights-1.7.0.asciidoc
Labels: >docs, v1.7.0

#4705 Update autoscaling documentation (#4680)
  docs/orchestrating-elastic-stack-applications/autoscaling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
Labels: >docs, backport

#4706 [1.7] Bump Stack version to 7.13.4 (#4702)
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems-es.yaml
  config/recipes/maps/02-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  hack/operatorhub/config.yaml
  hack/update-stack-version.sh
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: >non-issue, backport

#4707 [1.7] Logs and metrics delivery via Stack Monitoring documentation (#4677)
  docs/advanced-topics/advanced-topics.asciidoc
  docs/advanced-topics/stack-monitoring.asciidoc
  docs/release-notes/highlights-1.7.0.asciidoc
Labels: >docs, backport

#4708 Add Stack Monitoring usage reporting
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
Labels: >enhancement, v1.7.0

#4711 [1.7] Add Stack Monitoring usage reporting (#4708)
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
Labels: >enhancement, backport
