Repository elastic/cloud-on-k8s, pull requests merged in 2021-10, with the labels that each got.

#4901 Fix 1.8.0 release notes for Openshift 3.11 compatibility
  docs/release-notes/1.8.0.asciidoc
  docs/release-notes/highlights-1.8.0.asciidoc
Labels: >docs, v1.8.0

#4906 Fix 1.5.0 release notes that mention ocp support ending with ECK 1.8
  docs/release-notes/1.5.0.asciidoc
Labels: >docs, v1.5.0

#4908 Backport 1.8 - Fix 1.8.0 release notes for Openshift 3.11 compatibility (#4901)
  docs/release-notes/1.8.0.asciidoc
  docs/release-notes/highlights-1.8.0.asciidoc
Labels: >docs, backport, v1.8.0

#4912 [1.8] Fix 1.5.0 release notes that mention ocp support ending with ECK 1.8 (#4906)
  docs/release-notes/1.5.0.asciidoc
Labels: >docs, backport

#4911 [1.7] Fix 1.5.0 release notes that mention ocp support ending with ECK 1.8 (#4906)
  docs/release-notes/1.5.0.asciidoc
Labels: >docs, backport

#4910 [1.6] Fix 1.5.0 release notes that mention ocp support ending with ECK 1.8 (#4906)
  docs/release-notes/1.5.0.asciidoc
Labels: >docs, backport

#4905 E2E: Azure disk exception
  test/e2e/es/volume_test.go
Labels: :ci, >test

#4870 Add Elastic Agent recipe with multiple Elasticsearch clusters as outputs
  config/recipes/elastic-agent/README.asciidoc
  config/recipes/elastic-agent/multi-output.yaml
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  test/e2e/agent/recipes_test.go
Labels: >docs, >test

#4915 [1.6] Add Elastic Agent recipe with multiple Elasticsearch clusters as outputs (#4870)
  config/recipes/elastic-agent/README.asciidoc
  config/recipes/elastic-agent/multi-output.yaml
  docs/orchestrating-elastic-stack-applications/agent.asciidoc
  test/e2e/agent/recipes_test.go
Labels: >docs, backport

#4916 [1.5] Add Elastic Agent recipe with multiple Elasticsearch clusters as outputs (#4870)
  config/recipes/elastic-agent/README.asciidoc
  config/recipes/elastic-agent/multi-output.yaml
  docs/orchestrating-elastic-stack-applications/agent.asciidoc
  test/e2e/agent/recipes_test.go
Labels: >docs, backport

#4914 [1.7] Add Elastic Agent recipe with multiple Elasticsearch clusters as outputs (#4870)
  config/recipes/elastic-agent/README.asciidoc
  config/recipes/elastic-agent/multi-output.yaml
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  test/e2e/agent/recipes_test.go
Labels: >docs, backport

#4913 [1.8] Add Elastic Agent recipe with multiple Elasticsearch clusters as outputs (#4870)
  config/recipes/elastic-agent/README.asciidoc
  config/recipes/elastic-agent/multi-output.yaml
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  test/e2e/agent/recipes_test.go
Labels: >docs, backport

#4917 [1.4] Add Elastic Agent recipe with multiple Elasticsearch clusters as outputs (#4870)
  config/recipes/elastic-agent/README.asciidoc
  config/recipes/elastic-agent/multi-output.yaml
  docs/orchestrating-elastic-stack-applications/agent.asciidoc
  test/e2e/agent/recipes_test.go
Labels: >docs, backport

#4890 Use arbitrary user ID other than 1000 in E2E tests
  test/e2e/test/apmserver/builder.go
  test/e2e/test/apmserver/steps_creation.go
  test/e2e/test/default.go
Labels: >test

#4888 Init. fs container: make cp more resilient
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script_test.go
Labels: >bug, v1.9.0

#4919 E2E: run Tanzu and OCP in separate weekend job
  .ci/jobs/build-nightly.yml
  .ci/pipelines/build.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp-all-but-latest.Jenkinsfile
Labels: :ci, >test
