Repository elastic/cloud-on-k8s, pull requests merged in 2021-08, with the labels that each got.

#4704 Add docs for Fleet-managed Elastic Agent
  README.md
  docs/orchestrating-elastic-stack-applications/accessing-elastic-services.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
  docs/supported-versions.asciidoc
Labels: >docs, v1.7.0

#4715 Add Fleet config examples
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  test/e2e/agent/recipes_test.go
  test/e2e/test/helper/yaml.go
Labels: >docs, >test, v1.7.0

#4718 [1.7] Add docs for Fleet-managed Elastic Agent (#4704)
  README.md
  docs/orchestrating-elastic-stack-applications/accessing-elastic-services.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
  docs/supported-versions.asciidoc
Labels: >docs, backport

#4720 Avoid nil pointer dereference in System integration e2e test
  test/e2e/test/helper/yaml.go
Labels: >test

#4682 ECK dump: avoid sensitive fields when dumping secret metadata
  support/diagnostics/eck-dump.sh
Labels: >bug

#4722 Reverse standalone Agent page id rename to avoid breaking links from other repos
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
  docs/release-notes/highlights-1.4.0.asciidoc
Labels: >bug, >docs, v1.7.0

#4719 [1.7] Add Fleet config examples (#4715) and Reverse standalone Agent page id rename to avoid breaking links from other repos (#4722)
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
  docs/release-notes/highlights-1.4.0.asciidoc
  test/e2e/agent/recipes_test.go
  test/e2e/test/helper/yaml.go
Labels: >bug, >docs, >test, backport

#4721 Bump versions in preparation for 1.7.0 release for OLM
  hack/operatorhub/config.yaml
Labels: >non-issue, v1.7.0

#4723 [1.7] Avoid nil pointer dereference in System integration e2e test (#4720)
  test/e2e/test/helper/yaml.go
Labels: >test, backport

#4724 [1.7] Refactor and add UTs for Pod template creation for Agent in Fleet mode (#4640)
  pkg/controller/agent/pod.go
  pkg/controller/agent/pod_test.go
Labels: >test, backport

#4725 [1.7] Bump versions in preparation for 1.7.0 release for OLM (#4721)
  hack/operatorhub/config.yaml
Labels: >non-issue, backport

#4727 Reference 1.7 docs in 1.7 release highlights
  docs/release-notes/highlights-1.7.0.asciidoc
Labels: >bug, >docs

#4713 Fix to allow to test EnterpriseSearch with Elasticsearch 8.0.0-SNAPSHOT
  test/e2e/test/enterprisesearch/builder.go
Labels: >test

#4728 [1.7] Reference 1.7 docs in 1.7 release highlights (#4727)
  docs/release-notes/highlights-1.7.0.asciidoc
Labels: >bug, >docs, backport

#4729 Bump docs ECK version
  docs/eck-attributes.asciidoc
Labels: >non-issue

#4731 Add missing permissions to E2E runner
  config/e2e/rbac.yaml
Labels: >bug, >test

#4730 Bump versions in samples and CI pipelines after 7.14 release
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems-es.yaml
  config/recipes/maps/02-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  pkg/controller/elasticsearch/stackmon/filebeat.yml
  pkg/controller/elasticsearch/stackmon/metricbeat.tpl.yml
  pkg/controller/elasticsearch/user/roles.go
  pkg/controller/kibana/stackmon/filebeat.yml
  pkg/controller/kibana/stackmon/metricbeat.tpl.yml
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: :ci, >non-issue, v1.7.0

#4732 [1.7] Add missing permissions to E2E runner (#4731)
  config/e2e/rbac.yaml
Labels: >bug, >test, backport

#4733 [1.7] Bump versions in samples and CI pipelines after 7.14 release (#4730)
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/journalbeat_hosts.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems-es.yaml
  config/recipes/maps/02-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  pkg/controller/elasticsearch/stackmon/filebeat.yml
  pkg/controller/elasticsearch/stackmon/metricbeat.tpl.yml
  pkg/controller/elasticsearch/user/roles.go
  pkg/controller/kibana/stackmon/filebeat.yml
  pkg/controller/kibana/stackmon/metricbeat.tpl.yml
  test/e2e/kb/testdata/kibana_standalone.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: :ci, >non-issue, backport

#4739 Add Kubernetes 1.16/1.17 installation known issue to release highlights
  docs/release-notes/highlights-1.7.0.asciidoc
Labels: >docs

#4740 [1.7] Add installation known issue to release highlights (#4739)
  docs/release-notes/highlights-1.7.0.asciidoc
Labels: >docs, backport, v1.7.0

#4735 Update and reuse ECK resources list for the documentation
  README.md
  docs/advanced-topics/openshift.asciidoc
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
  docs/overview.asciidoc
  docs/reference/glossary.asciidoc
Labels: >docs

#4744 fix: URL in documentation
  docs/advanced-topics/openshift.asciidoc
Labels: >docs, v1.8.0

#4749 [1.7] Fix typo in CRDs url in the documentation (#4744)
  docs/advanced-topics/openshift.asciidoc
Labels: >docs, backport, v1.7.0

#4750 Re-enable license tests and monitoring on ARM
  .ci/setenvconfig
Labels: :ci, >test

#4751 Add steps to take eck dump
  docs/operating-eck/troubleshooting.asciidoc
  docs/operating-eck/troubleshooting/take-eck-dump.asciidoc
Labels: >docs, v1.8.0

#4736 Document how to generate API keys for APM Server
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs, v1.8.0

#4756 Disable TestEnterpriseSearchVersionUpgradeToLatest7x
  test/e2e/ent/ent_test.go
Labels: >test

#4753 Update Fleet configuration examples to 7.14.0
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
Labels: >docs, >test

#4748 ReconcileCompatibility should not parse the current version
  pkg/controller/common/annotation/controller_version.go
  pkg/controller/common/annotation/controller_version_test.go
  pkg/controller/enterprisesearch/enterprisesearch_controller_test.go
Labels: >refactoring, v1.8.0

#4758 Reenable standalone Agent recipe test
  test/e2e/agent/recipes_test.go
Labels: >test

#4764 [1.7] Update Fleet configuration examples to 7.14.0 (#4753)
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
Labels: >docs, >test, backport

#4768 Remove x-kubernetes-preserve-unknown-fields from volumeClaimTemplates
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1beta1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1beta1/patches/elasticsearch-patches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
Labels: >bug, 1.7.1

#4770 Add more detail and workaround to 1.7.0 known issue
  docs/release-notes/highlights-1.7.0.asciidoc
Labels: >docs, v1.7.0

#4771 [1.7] Add more detail and workaround to 1.7.0 known issue (#4770)
  docs/release-notes/highlights-1.7.0.asciidoc
Labels: backport, triage

#4773 Update versions for 1.7.1 release
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
Labels: >non-issue

#4767 Docs: make volume naming convention more prominent
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
Labels: >docs

#4772 CRD: Remove x-kubernetes-preserve-unknown-fields from volumeClaimTemp…
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1beta1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1beta1/patches/elasticsearch-patches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
Labels: >bug, backport

#4774 [1.7] Docs: make volume naming convention more prominent (#4767)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
Labels: >docs, backport

#4775 [1.6] Docs: make volume naming convention more prominent (#4767)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
Labels: >docs, backport

#4776 [1.5] Docs: make volume naming convention more prominent (#4767)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
Labels: >docs, backport

#4777 [1.4] Docs: make volume naming convention more prominent (#4767)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
Labels: >docs, backport

#4782 Release notes and highlights for 1.7.1
  docs/release-notes.asciidoc
  docs/release-notes/1.7.1.asciidoc
  docs/release-notes/highlights-1.7.1.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#4696 Add support for EnterpriseSearch and Beats in the upgrade test harness
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/fixture/alpha.go
  hack/upgrade-test-harness/fixture/eck.go
  hack/upgrade-test-harness/fixture/fixture.go
  hack/upgrade-test-harness/go.mod
  hack/upgrade-test-harness/go.sum
  hack/upgrade-test-harness/k8s/kubectl.go
  hack/upgrade-test-harness/main.go
  hack/upgrade-test-harness/testdata/upcoming/stack.yaml
  hack/upgrade-test-harness/testdata/v121/stack.yaml
  hack/upgrade-test-harness/testdata/v130/stack.yaml
  hack/upgrade-test-harness/testdata/v131/stack.yaml
  hack/upgrade-test-harness/testdata/v140/stack.yaml
  hack/upgrade-test-harness/testdata/v150/stack.yaml
  hack/upgrade-test-harness/testdata/v160/stack.yaml
Labels: >non-issue

#4791 Update Google Cloud SDK to 353.0.0
  .ci/Dockerfile
Labels: :ci, >test

#4789 Update ECK version in doc attributes and operator hub configuration
  docs/eck-attributes.asciidoc
  hack/operatorhub/config.yaml
Labels: >docs, >non-issue

#4792 Agent: fix Elasticsearch association error message
  pkg/controller/agent/pod.go
Labels: >bug, v1.8.0

#4761 Fix documentation rendering
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs

#4759 Add validation of distribution channel
  pkg/about/info.go
  pkg/about/info_test.go
Labels: >enhancement, exclude-from-release-notes

#4754 OCP testing for 4.8 and previous versions
  .ci/jobs/e2e-tests-ocp-all-but-latest.yaml
  .ci/pipelines/build.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp-all-but-latest.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
Labels: :ci, >test
