Repository elastic/cloud-on-k8s, pull requests merged in 2021-04, with the labels that each got.

#4407 Update GKE versions after March 29 GKE release
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
  hack/deployer/config/plans.yml
Labels: :ci, >test

#4408 Align cluster names with k8s version in GKE tests
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
Labels: :ci, >test

#4405 LOOPBACK address typo in readinessprobe
  pkg/controller/elasticsearch/nodespec/readiness_probe.go
Labels: >non-issue

#4373 [Autoscaling] Add autoscaling e2e test
  test/e2e/es/autoscaling_test.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/elasticsearch/checks_k8s.go
  test/e2e/test/elasticsearch/checks_transport.go
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: >test, autoscaling

#4417 [Autoscaling] Run e2e test only if sc with volume expansion is available
  test/e2e/es/autoscaling_test.go
Labels: >test

#4416 Deployer: fix diskSetup in plans.yml for GKE/EKS/AKS
  hack/deployer/config/plans.yml
  hack/deployer/runner/settings.go
Labels: :ci, >test, v1.6.0

#4387 Make OCP deployer build its own installer and client
  .ci/Dockerfile
  hack/deployer/clients/ocp/Dockerfile
  hack/deployer/cmd/execute.go
  hack/deployer/cmd/get.go
  hack/deployer/config/plans.yml
  hack/deployer/runner/client.go
  hack/deployer/runner/command.go
  hack/deployer/runner/driver.go
  hack/deployer/runner/ocp.go
  hack/deployer/runner/ocp3.go
  hack/deployer/runner/settings.go
Labels: :ci, >test

#4406 Correct Kibana settings in the Stack Monitoring recipe
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs

#4418 Add missing rules for agents to the operator roles
  deploy/eck-operator/templates/cluster-roles.yaml
Labels: >bug, v1.6.0

#4421 E2E: Update local volume provisioner image to v2.4.0
  hack/deployer/config/local-disks/ssd-provisioner.yaml
Labels: :ci, >test, v1.6.0

#4422 Make OCP deployer CI compatible
  .ci/Makefile
  .ci/jobs/e2e-tests-ocp.yaml
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
  .ci/setenvconfig
  hack/deployer/runner/client.go
  hack/deployer/runner/command.go
  hack/deployer/runner/ocp.go
  hack/deployer/runner/settings.go
Labels: :ci, >test

#4431 Bump AKS version to 1.20.5
  hack/deployer/config/plans.yml
Labels: :ci, >test

#4404 Allow users to spec a serviceName in associations
  config/crds/all-crds.yaml
  config/crds/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/bases/kibana.k8s.elastic.co_kibanas.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/common/v1/common.go
  pkg/apis/common/v1/common_test.go
  pkg/controller/association/controller.go
  pkg/controller/association/controller/apm_es.go
  pkg/controller/association/controller/apm_kibana.go
  pkg/controller/association/dynamic_watches.go
  pkg/controller/association/reconciler_test.go
  pkg/controller/association/service.go
  pkg/controller/association/service_test.go
  pkg/controller/common/watches/state.go
Labels: >enhancement, v1.6.0

#4434 Remove incorrect statement about specifying coordinating roles in YAML
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs, v1.4.0, v1.5.0

#4438 [1.4] Remove incorrect statement about specifying coordinating roles in YAML (#4434)
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs, backport

#4437 [1.5] Remove incorrect statement about specifying coordinating roles in YAML (#4434)
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs, backport

#4439 Add Elastic Maps Server CRD
  config/crds/all-crds.yaml
  config/crds/bases/kustomization.yaml
  config/crds/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  config/crds/patches/ems-patches.yaml
  config/crds/patches/kustomization.yaml
  config/webhook/manifests.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  hack/api-docs/config.yaml
  pkg/apis/maps/v1alpha1/doc.go
  pkg/apis/maps/v1alpha1/groupversion_info.go
  pkg/apis/maps/v1alpha1/maps_types.go
  pkg/apis/maps/v1alpha1/maps_types_test.go
  pkg/apis/maps/v1alpha1/webhook.go
  pkg/apis/maps/v1alpha1/webhook_test.go
  pkg/apis/maps/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/common/version/version.go
Labels: >feature, v1.6.0

#4445 [Autoscaling] Add support for tier only requests
  pkg/controller/autoscaling/elasticsearch/autoscaler/vertical.go
  pkg/controller/autoscaling/elasticsearch/controller_test.go
  pkg/controller/autoscaling/elasticsearch/testdata/frozen-tier/capacity.json
  pkg/controller/autoscaling/elasticsearch/testdata/frozen-tier/elasticsearch-expected.yml
  pkg/controller/autoscaling/elasticsearch/testdata/frozen-tier/elasticsearch.yml
Labels: >bug, autoscaling, v1.6.0

#4446 Document the serviceName configuration attribute
  docs/advanced-topics/traffic-splitting.asciidoc
  docs/orchestrating-elastic-stack-applications/agent.asciidoc
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
Labels: >docs, v1.6.0

#4449 Typos in storage-recommendations.asciidoc and README.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/storage-recommendations.asciidoc
  support/reattach-pv/README.md
Labels: >docs

#4452 Fix documentation typo
  docs/advanced-topics/openshift.asciidoc
  docs/operating-eck/licensing.asciidoc
  docs/operating-eck/operator-config.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
  docs/orchestrating-elastic-stack-applications/accessing-elastic-services.asciidoc
  docs/orchestrating-elastic-stack-applications/agent.asciidoc
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/jvm-heap-size.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/update-strategy.asciidoc
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
  docs/quickstart.asciidoc
Labels: >docs

#4453 Bump default resources for Elastic Agent
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
  pkg/controller/agent/pod.go
Labels: >enhancement, v1.6.0

#4393 Adjust Elastic agent Kubernetes recipe
  config/recipes/elastic-agent/kubernetes-integration.yaml
Labels: >test

#4443 Add Elastic Maps Server controller
  cmd/manager/main.go
  deploy/eck-operator/templates/_helpers.tpl
  deploy/eck-operator/templates/cluster-roles.yaml
  pkg/apis/maps/v1alpha1/webhook_test.go
  pkg/controller/association/controller/maps_es.go
  pkg/controller/common/container/container.go
  pkg/controller/common/container/container_test.go
  pkg/controller/common/license/check.go
  pkg/controller/common/reconciler/secret.go
  pkg/controller/common/scheme/scheme.go
  pkg/controller/elasticsearch/certificates/transport/reconcile.go
  pkg/controller/maps/config.go
  pkg/controller/maps/config_test.go
  pkg/controller/maps/controller.go
  pkg/controller/maps/controller_test.go
  pkg/controller/maps/labels.go
  pkg/controller/maps/name.go
  pkg/controller/maps/pod.go
Labels: >feature, v1.6.0

#4444 Add E2E tests for Elastic Maps Server
  config/e2e/rbac.yaml
  test/e2e/ems/ems_test.go
  test/e2e/es/autoscaling_test.go
  test/e2e/test/apmserver/builder.go
  test/e2e/test/apmserver/checks_k8s.go
  test/e2e/test/common_checks.go
  test/e2e/test/common_steps.go
  test/e2e/test/elasticsearch/steps_license.go
  test/e2e/test/enterprisesearch/builder.go
  test/e2e/test/enterprisesearch/checks_k8s.go
  test/e2e/test/enterprisesearch/steps_mutation.go
  test/e2e/test/k8s_client.go
  test/e2e/test/kibana/builder.go
  test/e2e/test/kibana/checks_k8s.go
  test/e2e/test/kibana/steps_deletion.go
  test/e2e/test/kibana/steps_mutation.go
  test/e2e/test/maps/builder.go
  test/e2e/test/maps/checks.go
  test/e2e/test/maps/http_client.go
  test/e2e/test/maps/steps.go
  test/e2e/test/subject.go
Labels: :ci, >test

#4460 E2E tests: combine GO_TAGS and E2E_TAGS
  Makefile
  test/e2e/Dockerfile
  test/e2e/run.sh
Labels: :ci, >test

#4424 [Helm]: Add podLabels and Expose Metrics ports
  deploy/eck-operator/templates/podMonitor.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/values.yaml
Labels: >enhancement, v1.6.0

#4461 E2E compile requires go-generate
  Makefile
Labels: :ci, >test

#4447 Add initial documentation for Elastic Maps Server
  config/recipes/maps/01-ems-es.yaml
  config/recipes/maps/02-kb.yaml
  config/recipes/maps/03-ingress.yaml
  config/recipes/maps/README.asciidoc
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
  docs/orchestrating-elastic-stack-applications/maps.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
Labels: >docs, v1.6.0

#4462 Update how to reset namespace node selector
  test/e2e/cmd/run/run.go
Labels: :ci, >bug
