Repository elastic/cloud-on-k8s, pull requests merged in 2021-09, with the labels that each got.

#4806 Bump AKS version to 1.21.2
  hack/deployer/config/plans.yml
Labels: :ci, >test

#4801 Remove non-functional pre-stop hook parts
  docs/orchestrating-elastic-stack-applications/elasticsearch/prestop.asciidoc
  pkg/controller/elasticsearch/nodespec/lifecycle_hook.go
Labels: >bug, >breaking, v1.8.0

#4802 Remove beta label from Helm documentation
  deploy/README.md
  deploy/helm-migrate.sh
  docs/operating-eck/installing-eck.asciidoc
Labels: >enhancement, v1.8.0

#4809 Bump latest OCP version to 4.8.10
  .ci/pipelines/build.Jenkinsfile
Labels: :ci, >test

#4803 Improve Elasticsearch cluster health API call when timeout
  pkg/controller/elasticsearch/client/base.go
  pkg/controller/elasticsearch/client/client_test.go
  pkg/controller/elasticsearch/client/v6.go
Labels: >bug, v1.8.0

#4810 Fix Agent quickstart typo
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >bug, >docs

#4807 Fix handling CAs in Agent controller
  pkg/controller/agent/config.go
  pkg/controller/agent/config_test.go
  pkg/controller/agent/pod.go
  pkg/controller/agent/pod_test.go
Labels: >bug, v1.8.0

#4795 Add information regarding ECK operator update will trigger pods rolling restart
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs

#4813 Drop "properties: {}" from empty-v1alpha1-patch
  config/crds/v1/all-crds.yaml
  config/crds/v1/patches/add-empty-v1alpha1-patch.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
Labels: >enhancement, v1.8.0

#4816 Update OCP 4.7.x test to use 4.7.29
  .ci/pipelines/e2e-tests-ocp-all-but-latest.Jenkinsfile
Labels: :ci, >test

#4814 Document fsGroup setting in securityContext
  docs/orchestrating-elastic-stack-applications/elasticsearch-specification.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/security-context.asciidoc
Labels: >docs, v1.8.0

#4819 Update supported K8s versions for upcoming 1.8.0 release
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
Labels: >docs, exclude-from-release-notes, v1.8.0

#4826 Revert "Update module sigs.k8s.io/controller-runtime to v0.10.0 (#4805)"
  NOTICE.txt
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1beta1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1beta1/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/v1beta1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1beta1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1beta1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1beta1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  pkg/controller/elasticsearch/driver/fixtures.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
  pkg/utils/test/integration.go
Labels: >bug, v1.8.0

#4827 [1.8] Revert "Update module sigs.k8s.io/controller-runtime to v0.10.0 (#4826)
  NOTICE.txt
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  config/crds/v1beta1/all-crds.yaml
  config/crds/v1beta1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1beta1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1beta1/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/v1beta1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1beta1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1beta1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1beta1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds-legacy.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  pkg/controller/elasticsearch/driver/fixtures.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
  pkg/utils/test/integration.go
Labels: >bug, backport, v1.8.0

#4822 Update VERSION to 1.9.0-SNAPSHOT
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
Labels: >non-issue, exclude-from-release-notes

#4821 Update version tags for 1.8.0
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
Labels: >non-issue, exclude-from-release-notes, v1.8.0

#4830 Skip beat tests on OCP3
  test/e2e/test/beat/builder.go
Labels: :ci, >test

#4828 1.8.0 release notes and highlights
  docs/release-notes/1.8.0.asciidoc
  docs/release-notes/highlights-1.8.0.asciidoc
Labels: >docs, >non-issue, v1.8.0

#4831 Skip webhook tests on OCP3
  test/e2e/agent/webhook_test.go
  test/e2e/beat/webhook_test.go
Labels: :ci, >test

#4833 Fix Agent volumes when an association has no CA
  pkg/controller/agent/pod.go
  pkg/controller/agent/pod_test.go
Labels: >bug, v1.8.0, v1.9.0

#4834 [1.8] Fix Agent volumes when an association has no CA (#4833)
  pkg/controller/agent/pod.go
  pkg/controller/agent/pod_test.go
Labels: >bug, backport, v1.8.0

#4839 Add link to 1.8.0 release notes
  docs/release-notes.asciidoc
Labels: >docs, exclude-from-release-notes

#4838 Add new bugfix to 1.8.0 release notes
  docs/release-notes/1.8.0.asciidoc
Labels: >docs, exclude-from-release-notes, v1.8.0

#4823 Remove permissions not used by the operator
  deploy/eck-operator/templates/_helpers.tpl
Labels: >enhancement

#4840 Backport release notes to 1.8
  docs/release-notes.asciidoc
  docs/release-notes/1.8.0.asciidoc
  docs/release-notes/highlights-1.8.0.asciidoc
Labels: >docs, exclude-from-release-notes, v1.8.0

#4841 Add delete verb operator permission for pod resources
  deploy/eck-operator/templates/_helpers.tpl
Labels: >bug

#4844 Revert permission changes for pod resources
  deploy/eck-operator/templates/_helpers.tpl
Labels: >bug

#4848 Add missing reference to release-highlights-1.8.0
  docs/release-notes/highlights.asciidoc
Labels: >docs, >non-issue, v1.8.0

#4849 Backport 1.8 - Add missing reference to release-highlights-1.8.0 (#4848)
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport, v1.8.0

#4858 Update supported versions in the README
  README.md
Labels: >docs, >non-issue, v1.8.0

#4854 Set current ECK version to 1.8.0 in the docs
  docs/eck-attributes.asciidoc
Labels: >docs, >non-issue, v1.8.0

#4859 1.8 backport - Update supported versions in the README (#4858)
  README.md
Labels: >docs, backport, v1.8.0

#4850 Update Helm version in ../charts/eck-operator-crds/README.md
  deploy/eck-operator/charts/eck-operator-crds/README.md
Labels: >docs, v1.9.0

#4862 Use rbac.authorization.k8s.io/v1 rather than rbac.authorization.k8s.i…
  config/e2e/monitoring.yaml
Labels: >test

#4857 Update Kind to 0.11.1 and test K8s 1.22
  .ci/packer_cache.sh
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
Labels: :ci, >test

#4863 Fix wording describing current Elastic Agent limitation
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs

#4861 Add missing descriptions to Elastic Agent recipes README
  config/recipes/elastic-agent/README.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs

#4865 Stop testing K8s versions <1.18 on Kind
  .ci/packer_cache.sh
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
Labels: :ci, >test

#4851 Add Helm version to the Supported versions page
  docs/operating-eck/installing-eck.asciidoc
  docs/supported-versions.asciidoc
Labels: >docs, v1.9.0

#4869 [1.8] Add missing descriptions to Elastic Agent recipes README (#4861)
  config/recipes/elastic-agent/README.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#4866 [1.7] Fix wording describing current Elastic Agent limitation (#4863)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#4867 [1.8] Fix wording describing current Elastic Agent limitation (#4863)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#4868 [1.7] Add missing descriptions to Elastic Agent recipes README (#4861)
  config/recipes/elastic-agent/README.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#4874 Update operatorhub config file with new ECK and stack versions
  hack/operatorhub/config.yaml
Labels: >non-issue

#4846 Add support for Tanzu to deployer
  .ci/jobs/e2e-tests-tanzu.yml
  .ci/pipelines/e2e-tests-tanzu.Jenkinsfile
  .ci/setenvconfig
  Makefile
  hack/deployer/cmd/create.go
  hack/deployer/config/plans.yml
  hack/deployer/runner/aks.go
  hack/deployer/runner/azure.go
  hack/deployer/runner/eks.go
  hack/deployer/runner/gke.go
  hack/deployer/runner/kind.go
  hack/deployer/runner/kubeconfig.go
  hack/deployer/runner/ocp.go
  hack/deployer/runner/settings.go
  hack/deployer/runner/tanzu.go
  test/e2e/cmd/run/job.go
Labels: :ci, >test

#4875 Update upgrade-test-harness following 1.8.0 release
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/testdata/v180/crds.yaml
  hack/upgrade-test-harness/testdata/v180/install.yaml
  hack/upgrade-test-harness/testdata/v180/stack.yaml
Labels: >non-issue

#4879 Add nodes permission to Fleet Server Service Account
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
Labels: >bug

#4860 Add docs for permissions that installing and running ECK requires
  deploy/eck-operator/templates/_helpers.tpl
  docs/operating-eck/eck-permissions.asciidoc
  docs/operating-eck/installing-eck.asciidoc
  docs/operating-eck/operating-eck.asciidoc
  docs/orchestrating-elastic-stack-applications/accessing-elastic-services.asciidoc
Labels: >docs, v1.9.0

#4884 [1.8] Add docs for permissions that installing and running ECK requires (#4860)
  deploy/eck-operator/templates/_helpers.tpl
  docs/operating-eck/eck-permissions.asciidoc
  docs/operating-eck/installing-eck.asciidoc
  docs/operating-eck/operating-eck.asciidoc
  docs/orchestrating-elastic-stack-applications/accessing-elastic-services.asciidoc
Labels: >docs, backport

#4876 E2E: use eck-diagnostics instead of shell script
  .ci/Dockerfile
  .ci/pipelines/e2e-tests-aks.Jenkinsfile
  .ci/pipelines/e2e-tests-eks-arm.Jenkinsfile
  .ci/pipelines/e2e-tests-eks.Jenkinsfile
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-master-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp3.Jenkinsfile
  .ci/pipelines/e2e-tests-resilience.Jenkinsfile
  .ci/pipelines/e2e-tests-snapshot-versions-8x-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  .ci/pipelines/pr-gke.Jenkinsfile
  config/e2e/diagnostics_job.yaml
  test/e2e/cmd/run/diagnostics.go
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#4882 Document Endpoint Security integration limitation
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs

#4892 [1.8] Document Endpoint Security integration limitation (#4882)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#4891 [1.7] Document Endpoint Security integration limitation (#4882)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#4787 Allow to upgrade a single node cluster with yellow status
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_pods_deletion.go
  pkg/controller/elasticsearch/driver/upgrade_predicates.go
  pkg/controller/elasticsearch/driver/upgrade_predicates_test.go
Labels: >bug, v1.9.0

#4871 Clarify ECK Enterprise licensing information
  docs/operating-eck/licensing.asciidoc
Labels: >docs

#4895 Fix diagnostic archive wildcard for Tanzu pipeline
  .ci/pipelines/e2e-tests-tanzu.Jenkinsfile
Labels: :ci, >test
