Repository elastic/cloud-on-k8s, pull requests merged in 2022-12, with the labels that each got.

#6212 Fix bugs in `predefined_test.go`
  pkg/controller/elasticsearch/user/predefined_test.go
Labels: >bug, v2.7.0

#6203 [2.6] Version gate for file-based settings volume (#6200) | More APIs for StackConfigPolicy (#6195) | Update eck-diagnostics documentation for filters. (#6191)
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/stackconfigpolicy.k8s.elastic.co_stackconfigpolicies.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/operating-eck/troubleshooting/take-eck-dump.asciidoc
  docs/reference/api-docs.asciidoc
  pkg/apis/stackconfigpolicy/v1alpha1/stackconfigpolicy_types.go
  pkg/apis/stackconfigpolicy/v1alpha1/webhook.go
  pkg/apis/stackconfigpolicy/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/filesettings/file_settings.go
  pkg/controller/elasticsearch/filesettings/file_settings_test.go
  pkg/controller/elasticsearch/filesettings/reconciler.go
  pkg/controller/elasticsearch/filesettings/reconciler_test.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/volumes.go
  pkg/controller/stackconfigpolicy/controller_test.go
  pkg/telemetry/fixtures.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  test/e2e/es/fixtures/stackconfigpolicy_esConfig.yaml
  test/e2e/es/stackconfigpolicy_test.go
Labels: backport, >non-issue

#6223 Disabling Elastic Agent Fleet e2e tests temporarily due to EPR issues.
  test/e2e/agent/config_test.go
  test/e2e/agent/recipes_test.go
  test/e2e/agent/tls_test.go
  test/e2e/agent/upgrade_test.go
Labels: >test

#6219 Fix gke cluster deletion during e2e tests
  .ci/pipelines/e2e-tests-main-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-resilience.Jenkinsfile
  .ci/setenvconfig
Labels: >bug, :ci

#6220 Disable e2e testing for k8s providers not yet buildkite ready
  .buildkite/pipeline-nightly-e2e-tests.yml
Labels: :ci, >non-issue, v2.7.0

#6229 [2.6] Update registry.access.redhat.com/ubi8/ubi-minimal Docker tag to v8.7-923.1669829893 (#6204)
  Dockerfile.ubi
  hack/deployer/clients/ocp/Dockerfile
Labels: backport, >renovate, v2.6.0

#6215 Document Elastic Stack configuration policies
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, v2.6.0

#6240 [2.6] Document Elastic Stack configuration policies (#6215)
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, backport, v2.6.0

#6242 Re-enable Fleet e2e tests.
  test/e2e/agent/config_test.go
  test/e2e/agent/recipes_test.go
  test/e2e/agent/tls_test.go
  test/e2e/agent/upgrade_test.go
Labels: >test, exclude-from-release-notes

#6243 Fix misplaced text in doc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, v2.6.0

#6247 Add experimental label to the StackConfigPolicy doc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, v2.6.0

#6248 [2.6] Fix misplaced text (#6243) - Add experimental label to the StackConfigPolicy doc (#6247)
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, backport, v2.6.0

#6224 Fix EnterpriseSearch upgrade with TLS disabled
  pkg/controller/enterprisesearch/version_upgrade.go
  test/e2e/ent/ent_test.go
Labels: >bug, v2.7.0

#6256 Shorten ES cluster name in TestEnterpriseSearchTLSDisabledVersionUpgr…
  test/e2e/ent/ent_test.go
Labels: >bug, :ci, >test, v2.7.0

#6154 Add additional helm documentation for Fleet Server, and Agent
  deploy/eck-elasticsearch/examples/hot-warm-cold.yaml
  deploy/eck-elasticsearch/values.yaml
  deploy/eck-stack/README.md
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/examples/elasticsearch/hot-warm-cold.yaml
  deploy/eck-stack/examples/kibana/http-configuration.yaml
  docs/orchestrating-elastic-stack-applications/stack-helm-chart.asciidoc
Labels: >docs, v2.6.0
