Repository elastic/cloud-on-k8s, pull requests merged in 2022-04, with the labels that each got.

#5534 Fix elasticsearch status subresource is updated infinitely
  pkg/controller/elasticsearch/driver/downscale_test.go
  pkg/controller/elasticsearch/reconcile/status.go
  pkg/controller/elasticsearch/reconcile/status_test.go
Labels: >bug, v2.2.0

#5542 Fix e2e monitoring file/metricbeat configuration
  config/e2e/monitoring.yaml
Labels: >test

#5509 Update the license documentation
  docs/operating-eck/licensing.asciidoc
Labels: >docs, v2.2.0

#5383 Elastic Agent: Set status.ObservedGeneration from metadata.Generation
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/agent.k8s.elastic.co_agents.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/agent/v1alpha1/agent_types.go
  pkg/controller/agent/controller.go
  pkg/controller/agent/controller_test.go
  pkg/controller/agent/driver.go
  pkg/controller/agent/labels.go
  pkg/controller/agent/name.go
  pkg/controller/agent/reconcile.go
  pkg/controller/association/reconciler.go
  pkg/controller/common/comparison/comparison.go
  test/e2e/agent/upgrade_test.go
  test/e2e/test/agent/builder.go
  test/e2e/test/agent/steps.go
Labels: >enhancement, >feature

#5547 Improve E2E tests runner Docker image
  test/e2e/Dockerfile
Labels: :ci, >test, >refactoring

#5556 E2E: fix invalid JSON generated by setenvconf
  .ci/setenvconfig
Labels: >test

#5562 [2.2] Updating versions for 2.2.0 release
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
  hack/operatorhub/config.yaml
Labels: >non-issue

#5561 Updating versions for 2.3.0 snapshot builds
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  hack/operatorhub/config.yaml
Labels: >non-issue

#5526 EnterpriseSearch: Set status.ObservedGeneration from metadata.Generation
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/enterprisesearch/v1/enterprisesearch_types.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/enterprisesearch/enterprisesearch_controller_test.go
  test/e2e/test/enterprisesearch/checks_k8s.go
  test/e2e/test/enterprisesearch/steps_mutation.go
Labels: >enhancement, >feature

#5553 Remove MutationReversalTestContext from builder interface
  test/e2e/es/reversal_test.go
  test/e2e/test/agent/steps.go
  test/e2e/test/apmserver/steps_mutation.go
  test/e2e/test/beat/pod_builder.go
  test/e2e/test/beat/steps.go
  test/e2e/test/builder.go
  test/e2e/test/elasticsearch/checks_reversal.go
  test/e2e/test/enterprisesearch/steps_mutation.go
  test/e2e/test/kibana/steps_mutation.go
  test/e2e/test/maps/builder.go
  test/e2e/test/run_reversal.go
Labels: >test

#5565 Reduce verbosity of log messages in port-forwarder
  pkg/dev/portforward/client_portforward.go
  pkg/dev/portforward/forwarder_store.go
  pkg/dev/portforward/pod_forwarder.go
Labels: >non-issue

#5557 E2E: remove Azure client from CI image
  .ci/Dockerfile
  hack/deployer/cmd/create.go
  hack/deployer/exec/cmd.go
  hack/deployer/runner/aks.go
  hack/deployer/runner/azure.go
  hack/deployer/runner/azure/azure.go
  hack/deployer/runner/client.go
  hack/deployer/runner/eks.go
  hack/deployer/runner/env/env.go
  hack/deployer/runner/gcloud.go
  hack/deployer/runner/gke.go
  hack/deployer/runner/kind.go
  hack/deployer/runner/kubeconfig.go
  hack/deployer/runner/ocp.go
  hack/deployer/runner/ocp3.go
  hack/deployer/runner/settings.go
  hack/deployer/runner/storage.go
  hack/deployer/runner/tanzu.go
  hack/deployer/vault/vault.go
Labels: :ci, >test

#5569 Update license usage data example
  docs/operating-eck/licensing.asciidoc
Labels: >docs

#5571 [E2E] CreateOrUpdate: work on copies of objects
  test/e2e/test/k8s_client.go
Labels: >bug, >test

#5508 Elastic Beats: Set status.ObservedGeneration from metadata.Generation
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/beat.k8s.elastic.co_beats.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/controller/beat/auditbeat/auditbeat.go
  pkg/controller/beat/common/driver.go
  pkg/controller/beat/common/health.go
  pkg/controller/beat/common/health_test.go
  pkg/controller/beat/common/reconcile.go
  pkg/controller/beat/controller.go
  pkg/controller/beat/controller_test.go
  pkg/controller/beat/filebeat/filebeat.go
  pkg/controller/beat/heartbeat/heartbeat.go
  pkg/controller/beat/journalbeat/journalbeat.go
  pkg/controller/beat/metricbeat/metricbeat.go
  pkg/controller/beat/otherbeat/otherbeat.go
  pkg/controller/beat/packetbeat/packetbeat.go
  test/e2e/beat/upgrade_test.go
  test/e2e/test/beat/builder.go
  test/e2e/test/beat/steps.go
Labels: >enhancement, >feature

#5533 Log info for service not found error when reconciling associations
  pkg/controller/association/reconciler.go
  pkg/controller/association/reconciler_test.go
Labels: >enhancement

#5538 Added priority class and leader election to operator helm chart
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/templates/validate-chart.yaml
  deploy/eck-operator/values.yaml
Labels: >enhancement

#5575 Add APM Server Deprecation Message
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
  pkg/controller/apmserver/controller.go
Labels: >docs, v2.3.0

#5585 Fix all Azure CLI commands used in Tanzu deployer
  hack/deployer/runner/tanzu.go
Labels: :ci, >test

#5579 Bump CI dependencies
  .ci/Dockerfile
  .golangci.yml
  hack/deployer/runner/driver.go
  hack/deployer/runner/eks.go
  pkg/apis/elasticsearch/v1beta1/webhook.go
  pkg/controller/association/gc.go
  pkg/controller/association/reconciler.go
  pkg/controller/autoscaling/elasticsearch/status/status.go
  pkg/controller/common/certificates/secret.go
  pkg/controller/common/hash/hash.go
  pkg/controller/common/labels.go
  pkg/controller/common/license/crypto.go
  pkg/controller/common/license/labels.go
  pkg/controller/common/license/model.go
  pkg/controller/common/license/pubkey.go
  pkg/controller/common/license/pubkey_dev.go
  pkg/controller/common/license/verifier.go
  pkg/controller/common/reconciler/reconciler_test.go
  pkg/controller/common/reconciler/secret_test.go
  pkg/controller/common/settings/canonical_config.go
  pkg/controller/common/volume/volume.go
  pkg/controller/elasticsearch/client/client.go
  pkg/controller/elasticsearch/driver/fixtures.go
  pkg/controller/elasticsearch/driver/node_labels_test.go
  pkg/controller/elasticsearch/license/apply_test.go
  pkg/controller/elasticsearch/nodespec/volumes.go
  pkg/controller/elasticsearch/observer/manager.go
  pkg/controller/elasticsearch/user/user_provided.go
  pkg/controller/elasticsearch/version/zen2/initial_master_nodes_test.go
  pkg/controller/kibana/controller_test.go
  pkg/controller/maps/controller_test.go
  pkg/controller/webhook/cert.go
  pkg/utils/k8s/k8sutils.go
  pkg/utils/k8s/owner_refs.go
  pkg/utils/math/math.go
  pkg/utils/metrics/metrics.go
  pkg/utils/rbac/access_review_test.go
  test/e2e/cmd/run/eventlog.go
  test/e2e/test/apmserver/http_client.go
  test/e2e/test/elasticsearch/steps_mutation.go
  test/e2e/test/enterprisesearch/http_client.go
  test/e2e/test/k8s_client.go
Labels: :ci, >non-issue

#5588 Remove "experimental" from Helm chart description
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, v1.8.0, v1.9.0, v2.0.0, v2.1.0

#5592 [1.8] Remove "experimental" from Helm chart description (#5588)
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, backport

#5591 [1.9] Remove "experimental" from Helm chart description (#5588)
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, backport

#5590 [2.0] Remove "experimental" from Helm chart description (#5588)
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, backport

#5589 [2.1] Remove "experimental" from Helm chart description (#5588)
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, backport

#5587 [2.2] Update license usage data example (#5569)
  docs/operating-eck/licensing.asciidoc
Labels: backport, triage, v2.2.0

#5586 [E2E] Use container image digest for ES dev. images
  Makefile
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/registry.go
Labels: >test

#5595 Wrong indentation of the kibana config
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs

#5555 Use latest released version 8x instead of the latest snapshot in E2E tests
  test/e2e/agent/upgrade_test.go
  test/e2e/beat/upgrade_test.go
  test/e2e/ems/ems_test.go
  test/e2e/ent/ent_test.go
  test/e2e/es/version_upgrade_test.go
  test/e2e/kb/version_upgrade_test.go
  test/e2e/test/version.go
  test/e2e/test/version_test.go
Labels: :ci, >test

#5539 Support a globally shared CA
  NOTICE.txt
  cmd/manager/main.go
  config/e2e/helm-operator-under-test.yaml
  config/e2e/secrets.yaml
  docs/operating-eck/operator-config.asciidoc
  docs/reference/dependencies.asciidoc
  go.mod
  pkg/controller/agent/driver.go
  pkg/controller/apmserver/controller.go
  pkg/controller/common/certificates/ca_reconcile.go
  pkg/controller/common/certificates/ca_reconcile_integration_test.go
  pkg/controller/common/certificates/reconcile.go
  pkg/controller/common/certificates/testdata/corrupted.crt
  pkg/controller/common/certificates/testdata/empty.crt
  pkg/controller/common/operator/flags.go
  pkg/controller/common/operator/parameters.go
  pkg/controller/elasticsearch/certificates/reconcile.go
  pkg/controller/elasticsearch/certificates/transport/ca.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/kibana/driver.go
  pkg/controller/maps/controller.go
  pkg/utils/fs/utils.go
  pkg/utils/fs/watcher.go
  pkg/utils/fs/watcher_integration_test.go
  test/e2e/global_ca_test.go
  test/e2e/test/beat/pod_builder.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/elasticsearch/checks_k8s.go
  test/e2e/test/enterprisesearch/builder.go
  test/e2e/test/enterprisesearch/checks_k8s.go
  test/e2e/test/k8s_client.go
  test/e2e/test/kibana/builder.go
  test/e2e/test/kibana/checks_k8s.go
Labels: >feature, v2.3.0

#5597 Update dependency golang to v1.17.9
  .ci/Dockerfile
  Dockerfile
  hack/manifest-gen/Dockerfile
  test/e2e/Dockerfile
Labels: >renovate, v2.2.0

#5601 [2.2] Remove "experimental" from Helm chart description (#5588)
  docs/operating-eck/installing-eck.asciidoc
Labels: >docs, backport

#5603 E2E: TestGlobalCA with restricted security context
  test/e2e/global_ca_test.go
Labels: :ci, >test

#5602 Fix Stack Monitoring doc example rendering
  docs/advanced-topics/stack-monitoring.asciidoc
Labels: >docs

#5570 Adding release notes, and highlights for 2.2.0 release
  docs/release-notes.asciidoc
  docs/release-notes/2.2.0.asciidoc
  docs/release-notes/highlights-2.2.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#5604 Revert eksctl to 0.74.0
  .ci/Dockerfile
Labels: :ci, >test

#5608 [2.2] Adding release notes, and highlights for 2.2.0 release (#5570)
  docs/release-notes.asciidoc
  docs/release-notes/2.2.0.asciidoc
  docs/release-notes/highlights-2.2.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#5596 Fix resources limits conversion in ToInt64() used for logging
  pkg/controller/autoscaling/elasticsearch/resources/resources.go
Labels: >bug, v2.3.0

#5599 GKE: use default OS image type
  hack/deployer/runner/gke.go
Labels: :ci, >non-issue, exclude-from-release-notes, v2.3.0

#5593 Update recommended reading Kubebuilder links
  dev-setup.md
Labels: >docs, v2.3.0

#5612 Add 8+ to supported versions list to avoid confusion
  README.md
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
Labels: >docs, v2.2.0

#5620 [2.2] Add 8+ to supported versions list to avoid confusion (#5612)
  README.md
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
Labels: >docs, backport

#5615 Update list of ECK versions that triggers rolling update
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, v2.1.0, v2.2.0

#5623 [2.2] Do not delete restart shutdowns before node rejoins cluster (#5618)
  pkg/controller/elasticsearch/client/model.go
  pkg/controller/elasticsearch/driver/esstate_test.go
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
  pkg/controller/elasticsearch/shutdown/node.go
  pkg/controller/elasticsearch/shutdown/node_test.go
Labels: >bug, backport

#5624 [2.1] Update list of ECK versions that triggers a rolling restart (#5615)
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, backport

#5616 Update tested OCP versions
  .ci/pipelines/build.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp-all-but-latest.Jenkinsfile
  hack/deployer/config/plans.yml
Labels: :ci, >test, v2.3.0

#5622 Ensure CA is always updated in HTTP Secret
  pkg/controller/common/certificates/http_reconcile.go
  pkg/controller/common/certificates/http_reconcile_test.go
Labels: >bug, v2.3.0

#5630 Restore systematic ci-build-image call
  .ci/Makefile
Labels: :ci, >test

#5629 Delete old shutdowns before creating new ones
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
Labels: >bug, v2.2.0

#5633 [2.2] Delete old shutdowns before creating new ones (#5629)
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
Labels: >bug, backport

#5627 Update 2.2.0 release notes
  docs/release-notes/2.2.0.asciidoc
Labels: >docs, v2.2.0

#5559 Add initcontainers to documentation for zone awareness.
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/es-secure-settings.asciidoc
Labels: >bug, >docs

#5635 [2.2] Updating versions for 2.2.0 release (#5562)
  docs/release-notes/2.2.0.asciidoc
Labels: >docs, backport
