Repository elastic/cloud-on-k8s, pull requests merged in 2022-10, with the labels that each got.

#6063 Add latest APM fleet package in Kibana examples when using standalone APM server.
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/traefik/02-elastic-stack.yaml
Labels: >enhancement, >docs

#6067 [Autoscaling] Update documentation for the new resource
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
Labels: >docs, autoscaling, v2.5.0

#6072 [2.5][Autoscaling] Update documentation for the new resource (#6067)
  docs/orchestrating-elastic-stack-applications/elasticsearch/autoscaling.asciidoc
Labels: >docs, backport, autoscaling

#6068 Ensure Elasticsearch (7.x) api keys are enabled in agent+fleet e2e tests with TLS disabled
  test/e2e/agent/tls_test.go
Labels: >bug, discuss, >test

#6079 Run tests in AKS with k8s 1.24.6
  hack/deployer/config/plans.yml
Labels: >test

#6069 Add release notes and highlights for 2.5.0
  docs/release-notes.asciidoc
  docs/release-notes/2.5.0.asciidoc
  docs/release-notes/highlights-2.5.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#6085 [2.5] Add release notes and highlights for 2.5.0 (#6069)
  docs/release-notes.asciidoc
  docs/release-notes/2.5.0.asciidoc
  docs/release-notes/highlights-2.5.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#6080 Add password hash (cached) generator
  NOTICE.txt
  cmd/manager/main.go
  deploy/eck-operator/templates/configmap.yaml
  docs/operating-eck/operator-config.asciidoc
  docs/reference/dependencies.asciidoc
  go.mod
  pkg/controller/common/operator/flags.go
  pkg/controller/common/operator/parameters.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/user/predefined.go
  pkg/controller/elasticsearch/user/predefined_test.go
  pkg/controller/elasticsearch/user/reconcile.go
  pkg/controller/elasticsearch/user/reconcile_test.go
  pkg/controller/elasticsearch/user/user_provided.go
  pkg/controller/elasticsearch/user/user_provided_test.go
  pkg/utils/cryptutil/hasher.go
  pkg/utils/cryptutil/hasher_test.go
Labels: >enhancement, v2.6.0

#6086 Add container-suffix operator flag
  cmd/manager/main.go
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/values.yaml
  docs/operating-eck/operator-config.asciidoc
  pkg/controller/common/operator/flags.go
Labels: >enhancement, v2.6.0

#6092 Remove seccomp profile for OCP bwc
  deploy/eck-operator/values.yaml
Labels: >bug, exclude-from-release-notes, v2.6.0

#6084 Observer improvements
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/observer/manager.go
  pkg/controller/elasticsearch/observer/manager_test.go
  pkg/controller/elasticsearch/observer/observer.go
  pkg/controller/elasticsearch/observer/observer_test.go
Labels: >enhancement, v2.6.0

#6088 Revised ECK upgrade instructions
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, v2.5.0

#6098 [2.5] Revised ECK upgrade instructions (#6088)
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, backport

#6099 Remove label that makes the storage class managed by the addon manager
  hack/deployer/runner/gke.go
Labels: >test, v2.6.0

#6075 Add limitation on minikube without CNI
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, v2.6.0

#6109 Add known issue for #5946
  docs/release-notes/highlights-2.0.0.asciidoc
  docs/release-notes/highlights-2.1.0.asciidoc
  docs/release-notes/highlights-2.2.0.asciidoc
  docs/release-notes/highlights-2.3.0.asciidoc
Labels: >docs, v2.0.0, v2.1.0, v2.2.0, v2.3.0

#6111 [2.3] Add known issue for #5946 (#6109)
  docs/release-notes/highlights-2.0.0.asciidoc
  docs/release-notes/highlights-2.1.0.asciidoc
  docs/release-notes/highlights-2.2.0.asciidoc
  docs/release-notes/highlights-2.3.0.asciidoc
Labels: >docs, backport

#6112 [2.2] Add known issue for #5946 (#6109)
  docs/release-notes/highlights-2.0.0.asciidoc
  docs/release-notes/highlights-2.1.0.asciidoc
  docs/release-notes/highlights-2.2.0.asciidoc
Labels: >docs, backport

#6113 [2.1] Add known issue for #5946 (#6109)
  docs/release-notes/highlights-2.0.0.asciidoc
  docs/release-notes/highlights-2.1.0.asciidoc
Labels: >docs, backport

#6114 [2.0] Add known issue for #5946 (#6109)
  docs/release-notes/highlights-2.0.0.asciidoc
Labels: >docs, backport

#6119 Update the list of Kibana keys managed by the operator
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
Labels: >docs, v2.6.0

#6120 Initial pipeline steps
  .buildkite/pipeline.yml
Labels: :ci, >test

#6122 Update reattach-pv README
  support/reattach-pv/README.md
Labels: >docs

#6071 Enable FIPS compliancy in Makefile
  .ci/pipelines/build.Jenkinsfile
  Makefile
Labels: >enhancement, discuss
