Repository elastic/cloud-on-k8s, pull requests merged in 2022-02, with the labels that each got.

#5308 Fix incorrect modelled node shutdown API in Elasticsearch client
  pkg/controller/elasticsearch/client/model.go
  pkg/controller/elasticsearch/client/model_test.go
  pkg/controller/elasticsearch/driver/downscale.go
  pkg/controller/elasticsearch/driver/upgrade_predicates_test.go
  pkg/controller/elasticsearch/migration/migrate_data.go
  pkg/controller/elasticsearch/shutdown/node.go
  pkg/controller/elasticsearch/shutdown/node_test.go
Labels: >bug, exclude-from-release-notes, v2.0.0

#5311 [2.0] Fix incorrectly modelled node shutdown API in Elasticsearch client (#5308)
  pkg/controller/elasticsearch/client/model.go
  pkg/controller/elasticsearch/client/model_test.go
  pkg/controller/elasticsearch/driver/downscale.go
  pkg/controller/elasticsearch/driver/upgrade_predicates_test.go
  pkg/controller/elasticsearch/migration/migrate_data.go
  pkg/controller/elasticsearch/shutdown/node.go
  pkg/controller/elasticsearch/shutdown/node_test.go
Labels: >bug, backport

#5289 Change node roles settings
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/traefik/02-elastic-stack.yaml
Labels: >enhancement

#5312 Clarify the purpose of the `elastic-system` namespace.
  docs/quickstart.asciidoc
Labels: >docs

#5281 adjusted recipes for default policy change
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs

#5310 Fix Stack Monitoring with custom certificate without CA
  pkg/controller/common/certificates/ca.go
  pkg/controller/common/certificates/ca_test.go
  pkg/controller/common/stackmon/config.go
  pkg/controller/common/stackmon/config_test.go
  pkg/controller/elasticsearch/stackmon/metricbeat.tpl.yml
  pkg/controller/kibana/stackmon/metricbeat.tpl.yml
  pkg/controller/kibana/stackmon/sidecar_test.go
Labels: >bug, v2.0.0

#5319 [2.0] Fix Stack Monitoring with custom certificate without CA (#5310)
  pkg/controller/common/certificates/ca.go
  pkg/controller/common/certificates/ca_test.go
  pkg/controller/common/stackmon/config.go
  pkg/controller/common/stackmon/config_test.go
  pkg/controller/elasticsearch/stackmon/metricbeat.tpl.yml
  pkg/controller/kibana/stackmon/metricbeat.tpl.yml
  pkg/controller/kibana/stackmon/sidecar_test.go
Labels: >bug, backport

#5304 Do not push non-release builds to dockerhub
  Makefile
Labels: >enhancement, :ci, exclude-from-release-notes

#5320 Bump eck-diagnostics version to latest
  .ci/Dockerfile
Labels: :ci, >test

#5317 [a11y] Fix "read more" occurrence
  docs/operating-eck/installing-eck.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
  docs/quickstart.asciidoc
Labels: >docs

#5273 Use precondition when deleting secrets
  pkg/controller/association/resources.go
  pkg/controller/common/reconciler/secret.go
Labels: >bug, v2.1.0

#5326 Add known issue for Elastic Agent base image change issue
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights-1.9.1.asciidoc
Labels: >docs, v1.9.0, v2.0.0, v1.9.1

#5282 Release notes and highlights and upgrade instructions for 2.0.0
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.0.0.asciidoc
  docs/release-notes/highlights-2.0.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v2.0.0

#5333 [2.0] Add known issue for Elastic Agent base image change issue (#5326)
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights-1.9.1.asciidoc
Labels: >docs, backport

#5334 [1.9] Add known issue for Elastic Agent base image change issue (#5326)
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights-1.9.1.asciidoc
Labels: >docs, backport

#5335 [2.0] Release notes and highlights and upgrade instructions for 2.0.0 (#5282)
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.0.0.asciidoc
  docs/release-notes/highlights-2.0.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#5329 Bump stack version to 7.17 in tests, recipes and samples
  .ci/jobs/e2e-tests-snapshot-versions-8x-gke.yml
  .ci/pipelines/e2e-tests-snapshot-versions-8x-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/apm/apmserver.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: :ci, >test

#5352 Add note about auto-detecting security context
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes/2.0.0.asciidoc
Labels: >docs, v2.0.0

#5353 [2.0] Add note about auto-detecting security context (#5352)
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes/2.0.0.asciidoc
Labels: >docs, backport

#5332 Bump doc attributes to 2.0
  docs/eck-attributes.asciidoc
Labels: >docs

#5356 Fix documentation surrounding disabling downgrade validation.
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, v2.0.0

#5357 Backport 2.0: Fix documentation surrounding disabling downgrade validation.
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport

#5350 [DOCS] Fix link to Elastic Stack Upgrade guide
  docs/release-notes/1.3.0.asciidoc
Labels: >docs, v2.0.0

#5347 [DOCS] Fix links to ES upgrade docs
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, v0.9.0, v1.0.1, v1.1.2, v1.5.0, v1.3.2, v1.2.2, v1.4.1, v1.6.0, v1.8.0, v1.7.1, v2.0.0, v1.9.1, v2.1.0

#5360 [2.0] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5361 [1.9] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5362 [1.8] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5363 [1.7] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5364 [1.6] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5365 [1.5] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5366 [1.4] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5367 [1.3] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5368 [1.2] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5369 [1.1] [DOCS] Fix links to ES upgrade docs (#5347)
  docs/design/0009-pod-reuse-es-restart.md
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport

#5337 Handle resource conflict while updating status in association reconciler
  pkg/controller/association/reconciler.go
Labels: >enhancement, v2.1.0

#5336 Update apm-es association to use ca.crt
  pkg/controller/apmserver/deployment.go
  pkg/controller/apmserver/deployment_test.go
Labels: >refactoring, v2.1.0

#5359 Add known issue for Elastic Agent base image change in 7.17
  docs/release-notes/2.0.0.asciidoc
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights-1.9.1.asciidoc
  docs/release-notes/highlights-2.0.0.asciidoc
Labels: >docs, v1.9.0, v2.0.0, v1.9.1

#5373 [2.0] Add known issue for Elastic Agent base image change in 7.17 (#5359)
  docs/release-notes/2.0.0.asciidoc
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights-1.9.1.asciidoc
  docs/release-notes/highlights-2.0.0.asciidoc
Labels: >docs, backport

#5374 [1.9] Add known issue for Elastic Agent base image change in 7.17 (#5359)
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights-1.9.1.asciidoc
Labels: >docs, backport

#5187 Remove "all" namespace from managed namespaces
  cmd/manager/main.go
  pkg/apis/agent/v1alpha1/webhook.go
  pkg/apis/apm/v1/webhook.go
  pkg/apis/apm/v1beta1/webhook.go
  pkg/apis/beat/v1beta1/webhook.go
  pkg/apis/elasticsearch/v1beta1/webhook.go
  pkg/apis/enterprisesearch/v1/webhook.go
  pkg/apis/enterprisesearch/v1beta1/webhook.go
  pkg/apis/kibana/v1/webhook.go
  pkg/apis/kibana/v1beta1/webhook.go
  pkg/apis/maps/v1alpha1/webhook.go
  pkg/controller/common/webhook/webhook.go
  pkg/controller/common/webhook/webhook_test.go
  pkg/controller/elasticsearch/validation/webhook.go
  pkg/controller/elasticsearch/validation/webhook_test.go
Labels: >enhancement, v2.1.0

#5339 Only configure Stack Monitoring if association reconciled
  pkg/controller/common/stackmon/monitoring/monitoring.go
  pkg/controller/common/stackmon/monitoring/monitoring_test.go
  pkg/controller/elasticsearch/stackmon/beat_config.go
  pkg/controller/elasticsearch/stackmon/sidecar.go
  pkg/controller/kibana/stackmon/beat_config.go
  pkg/controller/kibana/stackmon/sidecar.go
Labels: >bug, v2.1.0

#5378 Add example code to the Quickstart
  docs/quickstart.asciidoc
Labels: >docs

#5248 Handle data tiers during rolling upgrades
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_config.go
  pkg/apis/elasticsearch/v1/elasticsearch_config_test.go
  pkg/controller/elasticsearch/driver/fixtures.go
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_pods_deletion.go
  pkg/controller/elasticsearch/driver/upgrade_predicates.go
  pkg/controller/elasticsearch/driver/upgrade_predicates_test.go
  pkg/controller/elasticsearch/label/label.go
  pkg/controller/elasticsearch/label/label_test.go
  pkg/controller/elasticsearch/nodespec/resources.go
  pkg/controller/elasticsearch/validation/validations.go
  test/e2e/test/elasticsearch/checks_es.go
  test/e2e/test/elasticsearch/settings.go
Labels: >enhancement, v2.1.0

#5349 Improve ES status health reporting
  pkg/controller/elasticsearch/certificates/reconcile.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/reconcile/state.go
  pkg/controller/elasticsearch/reconcile/state_test.go
Labels: >enhancement, v2.1.0

#5388 Adjust validations in TestMetricbeatStackMonitoringRecipe for version 8.0.0
  test/e2e/beat/recipes_test.go
Labels: >test

#5392 [DOC] Fix zone awareness example
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs

#5394 [DOC] Fix zone awareness example (#5392)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs, backport

#5327 Do not attempt rolling upgrades for non-HA clusters
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_forced.go
  pkg/controller/elasticsearch/driver/upgrade_pods_deletion.go
  pkg/controller/elasticsearch/driver/upgrade_predicates_test.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
Labels: >bug, v2.1.0

#5396 remove erroneous error check in finalizers RemoveAll
  pkg/controller/common/finalizer/finalizers.go
Labels: justdoit, triage

#5398 Extend full upgrade to any 8x version upgrade of non-HA ES
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
  test/e2e/es/version_upgrade_test.go
Labels: >bug, v2.1.0

#5401 Small changes
  pkg/controller/elasticsearch/certificates/transport/reconcile.go
  pkg/controller/elasticsearch/sset/list.go
Labels: >enhancement, exclude-from-release-notes, v2.1.0

#5331 Elasticsearch: Set status.ObservedGeneration from metadata.Generation.
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/controller/elasticsearch/elasticsearch_controller_test.go
  pkg/controller/elasticsearch/reconcile/state.go
  pkg/controller/elasticsearch/reconcile/state_test.go
  test/e2e/test/elasticsearch/cluster_generation.go
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: >enhancement

#5399 Bump AKS version to 1.22.6
  hack/deployer/config/plans.yml
Labels: :ci, >test

#5393 Bug fixes to OLM generation identified during 2.0 release
  hack/operatorhub/config.yaml
  hack/operatorhub/main.go
  hack/operatorhub/templates/csv.tpl
Labels: >non-issue

#5405 [E2E] Do not expect generation to be incremented if spec has not changed
  test/e2e/test/elasticsearch/cluster_generation.go
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: :ci, >test

#5406 [E2E] Fleet agent: use explicit policies
  test/e2e/agent/config.go
  test/e2e/agent/config_test.go
  test/e2e/agent/upgrade_test.go
Labels: :ci, >test

#5408 Extend full upgrade to any version upgrade of non-HA ES
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
  pkg/controller/elasticsearch/version/zen2/initial_master_nodes.go
  pkg/controller/elasticsearch/version/zen2/initial_master_nodes_test.go
  pkg/utils/set/set.go
  pkg/utils/set/set_test.go
  test/e2e/es/version_upgrade_test.go
Labels: >enhancement, v2.1.0

#5400 Add a sentence explaining the upgrade strategy restriction for non-HA ES clusters
  docs/orchestrating-elastic-stack-applications/elasticsearch/update-strategy.asciidoc
Labels: >docs, v2.1.0

#5413 Fix lost downscale state
  pkg/controller/elasticsearch/driver/downscale.go
  pkg/controller/elasticsearch/driver/downscale_test.go
Labels: >bug, exclude-from-release-notes, v2.1.0

#5415 [CI] Update OCP versions
  .ci/Dockerfile
  .ci/pipelines/build.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp-all-but-latest.Jenkinsfile
  hack/deployer/config/plans.yml
Labels: :ci, >test, v2.1.0

#5416 Remove unused variables
  .ci/Dockerfile
Labels: >non-issue

#5417 Disable fsstat assertions in Agent e2e tests
  test/e2e/agent/recipes_test.go
Labels: :ci, >test

#5411 Add 1.23.3 to e2e kind tests
  .ci/packer_cache.sh
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
Labels: >test, v2.1.0
