Repository elastic/cloud-on-k8s, pull requests merged in 2022-05, with the labels that each got.

#5614 Bump doc attributes to 2.2
  docs/eck-attributes.asciidoc
Labels: >docs

#5638 Do not set custom Fleet image/version on recipe tests
  test/e2e/agent/recipes_test.go
Labels: :ci, >test

#5639 E2E avoid implicitly resetting configured stack version for Fleet
  test/e2e/test/agent/builder.go
  test/e2e/test/context.go
Labels: :ci, >test

#5646 E2E: retry check cluster UUID check
  test/e2e/test/elasticsearch/cluster_uuid.go
Labels: >test

#5613 Allow providing cleartext passwords for creating ES users
  docs/orchestrating-elastic-stack-applications/security/users-and-roles.asciidoc
  pkg/controller/elasticsearch/user/predefined.go
  pkg/controller/elasticsearch/user/predefined_test.go
  pkg/controller/elasticsearch/user/reconcile.go
  pkg/controller/elasticsearch/user/user_provided.go
  pkg/controller/elasticsearch/user/user_provided_test.go
  pkg/controller/elasticsearch/user/validation.go
  pkg/controller/elasticsearch/user/validation_test.go
  pkg/utils/k8s/k8sutils.go
  pkg/utils/k8s/k8sutils_test.go
  test/e2e/es/auth_test.go
Labels: >enhancement, v2.3.0

#5640 Bump Elastic Stack version to 8.2.0/7.13.3
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: >non-issue, v2.2.0

#5655 [2.2] Bump Elastic Stack version to 8.2.0/7.13.3 (#5640)
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: backport, triage

#5643 Allow small number of network errors during load+mutation testing.
  test/e2e/es/mutation_test.go
Labels: >test

#5641 Update test jobs to use 8.2.0
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
Labels: :ci, >test

#5658 [E2E] compareRoles: strictly compare master and data roles
  test/e2e/test/elasticsearch/checks_es.go
Labels: >flaky_test

#5642 Refactor upgrade completion logic
  pkg/controller/elasticsearch/driver/node_shutdown.go
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_test.go
  pkg/controller/elasticsearch/shutdown/interface.go
  test/e2e/test/elasticsearch/checks_restart.go
  test/e2e/test/elasticsearch/http_client.go
  test/e2e/test/elasticsearch/steps_mutation.go
  test/e2e/test/watcher.go
Labels: >refactoring

#5670 Disable TestAuditbeatConfig for 8.3.0-SNAPSHOT
  test/e2e/beat/config_test.go
Labels: >test

#5669 [E2E] Command.Execute: return stdout and stderr separately
  test/e2e/cmd/run/run.go
  test/e2e/test/command/command.go
Labels: >flaky_test, >test

#5660 Update doc to customize pods
  docs/orchestrating-elastic-stack-applications/customize-pods.asciidoc
Labels: >docs

#5674 Be explicit about minimum TLS version
  pkg/controller/common/http_client.go
Labels: >non-issue

#5679 Update kubeconfig writing for EKS and k8s >= 1.24
  hack/deployer/runner/eks.go
Labels: :ci, >test

#5672 [a11y] Fix "above" occurrences
  docs/advanced-topics/network-policies.asciidoc
  docs/advanced-topics/openshift.asciidoc
  docs/design/0002-global-operator/0002-global-operator.md
  docs/design/0003-associations/0003-associations.md
  docs/design/0007-local-volume-total-capacity.md
  docs/design/0009-pod-reuse-es-restart.md
  docs/design/0010-license-checks.md
  docs/design/0011-process-manager.md
  docs/operating-eck/installing-eck.asciidoc
  docs/operating-eck/operator-config.asciidoc
  docs/operating-eck/restrict-cross-namespace-associations.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
  docs/operating-eck/troubleshooting/troubleshooting-methods.asciidoc
  docs/operating-eck/webhook.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/update-strategy.asciidoc
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
  docs/orchestrating-elastic-stack-applications/security/rotate-credentials.asciidoc
  docs/release-notes/highlights-1.9.0.asciidoc
  docs/release-notes/highlights-1.9.1.asciidoc
Labels: >docs

#5685 CronJob batch/v1beta1 no longer served in 1.25
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >docs

#5686 [E2E] Test K8S 1.24 with Kind 0.14
  .ci/packer_cache.sh
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  README.md
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
Labels: :ci, >test, v2.3.0

#5681 Increase Filebeat memory for e2e tests
  test/e2e/beat/config.go
Labels: :ci, >test

#5689 Upgrade PodDisruptionBudget API from v1beta1 to v1
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/common/v1/common.go
  pkg/controller/elasticsearch/pdb/reconcile.go
  pkg/controller/elasticsearch/pdb/reconcile_test.go
Labels: >enhancement, v2.3.0

#5687 Update golangci-lint install script URL
  .ci/Dockerfile
Labels: :ci, >non-issue

#5695 Revert "Upgrade PodDisruptionBudget API from v1beta1 to v1"
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/common/v1/common.go
  pkg/controller/elasticsearch/pdb/reconcile.go
  pkg/controller/elasticsearch/pdb/reconcile_test.go
Labels: >flaky_test, >test

#5665 Note to user when overwriting environment variables using .registry.env
  hack/docker.sh
Labels: >enhancement

#5680 Support disable-downgrade-validation for all relevant apps
  docs/operating-eck/troubleshooting/common-problems.asciidoc
  pkg/apis/agent/v1alpha1/validations.go
  pkg/apis/agent/v1alpha1/validations_test.go
  pkg/apis/apm/v1/webhook.go
  pkg/apis/apm/v1/webhook_test.go
  pkg/apis/apm/v1beta1/webhook.go
  pkg/apis/apm/v1beta1/webhook_test.go
  pkg/apis/beat/v1beta1/validations.go
  pkg/apis/beat/v1beta1/validations_test.go
  pkg/apis/common/v1/common.go
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/enterprisesearch/v1/webhook.go
  pkg/apis/enterprisesearch/v1/webhook_test.go
  pkg/apis/enterprisesearch/v1beta1/webhook.go
  pkg/apis/enterprisesearch/v1beta1/webhook_test.go
  pkg/apis/kibana/v1/webhook.go
  pkg/apis/kibana/v1/webhook_test.go
  pkg/apis/kibana/v1beta1/webhook.go
  pkg/apis/kibana/v1beta1/webhook_test.go
Labels: >enhancement

#5692 Move to new golang 1.17 build tag format
  cmd/license-initializer/main_test.go
  pkg/controller/common/certificates/ca_test.go
  pkg/controller/common/certificates/pem_test.go
  pkg/controller/common/watches/handler_integration_test.go
  pkg/controller/license/license_controller_integration_test.go
  pkg/controller/license/trial/trial_controller_integration_test.go
  pkg/utils/tools.go
  test/e2e/agent/config_test.go
  test/e2e/agent/recipes_test.go
  test/e2e/agent/upgrade_test.go
  test/e2e/agent/webhook_test.go
  test/e2e/apm/association_test.go
  test/e2e/apm/configuration_test.go
  test/e2e/apm/standalone_test.go
  test/e2e/apm/upgrade_test.go
  test/e2e/beat/config.go
  test/e2e/beat/config_test.go
  test/e2e/beat/recipes_test.go
  test/e2e/beat/setup_test.go
  test/e2e/beat/upgrade_test.go
  test/e2e/beat/webhook_test.go
  test/e2e/ems/ems_test.go
  test/e2e/ent/configuration_test.go
  test/e2e/ent/ent_test.go
  test/e2e/es/auth_test.go
  test/e2e/es/autoscaling_test.go
  test/e2e/es/certs_test.go
  test/e2e/es/disable_predicates_test.go
  test/e2e/es/failure_test.go
  test/e2e/es/forced_upgrade_test.go
  test/e2e/es/http_test.go
  test/e2e/es/keystore_test.go
  test/e2e/es/license_test.go
  test/e2e/es/mutation_test.go
  test/e2e/es/podtemplate_test.go
  test/e2e/es/remote_cluster_test.go
  test/e2e/es/reversal_test.go
  test/e2e/es/stack_monitoring_test.go
  test/e2e/es/suspend_test.go
  test/e2e/es/topology_test.go
  test/e2e/es/validation_test.go
  test/e2e/es/version_upgrade_test.go
  test/e2e/es/volume_test.go
  test/e2e/global_ca_test.go
  test/e2e/kb/association_test.go
  test/e2e/kb/failure_test.go
  test/e2e/kb/keystore_test.go
  test/e2e/kb/resource_test.go
  test/e2e/kb/stack_monitoring_test.go
  test/e2e/kb/standalone_test.go
  test/e2e/kb/telemetry_test.go
  test/e2e/kb/version_upgrade_test.go
  test/e2e/naming_test.go
  test/e2e/samples_test.go
  test/e2e/smoke_test.go
  test/e2e/stack_test.go
Labels: >refactoring

#5698 Use eck-diagnostics 1.1.0 to get Elastic Agent diagnostics
  .ci/Dockerfile
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#5699 Cleanup in declaration of enabled/disabled linters
  .golangci.yml
Labels: >refactoring

#5650 Add support for the desired nodes API
  pkg/apis/elasticsearch/v1/status.go
  pkg/controller/elasticsearch/client/client.go
  pkg/controller/elasticsearch/client/desired_nodes.go
  pkg/controller/elasticsearch/driver/desired_nodes.go
  pkg/controller/elasticsearch/driver/desired_nodes_test.go
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/driver/testdata/desired_nodes/happy_path.json
  pkg/controller/elasticsearch/driver/upscale_state.go
  pkg/controller/elasticsearch/nodespec/desired_nodes.go
  pkg/controller/elasticsearch/nodespec/resources.go
  pkg/utils/k8s/k8sutils.go
  test/e2e/test/elasticsearch/checks_es.go
Labels: >enhancement, v2.3.0

#5710 Fix incorrect import statement
  pkg/controller/elasticsearch/driver/desired_nodes.go
  pkg/controller/elasticsearch/nodespec/desired_nodes.go
Labels: >bug, exclude-from-release-notes, v2.3.0

#5690 [E2E] Enable multi data paths test on Elasticsearch 8
  test/e2e/es/volume_test.go
Labels: >test, v2.3.0

#5700 Update doc pages that use the repository-gcs plugin
  docs/advanced-topics/custom-images.asciidoc
  docs/advanced-topics/service-meshes.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/init-containers-plugin-downloads.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >docs

#5709 Upgrade PodDisruptionBudget from v1beta1 to v1
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/common/v1/common.go
  pkg/controller/elasticsearch/pdb/reconcile.go
  pkg/controller/elasticsearch/pdb/reconcile_test.go
  pkg/controller/elasticsearch/pdb/version.go
Labels: >enhancement, v2.3.0
