Repository elastic/cloud-on-k8s, pull requests merged in 2022-03, with the labels that each got.

#5420 Omit nil values in Elasticsearch status JSON object
  pkg/apis/elasticsearch/v1/status.go
Labels: >bug, exclude-from-release-notes, v2.1.0

#5421 Omit nil values in Elasticsearch status JSON object (#5420)
  pkg/apis/elasticsearch/v1/status.go
Labels: >bug, backport, exclude-from-release-notes

#5418 Update versions for 2.2 snapshot builds
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  hack/operatorhub/config.yaml
Labels: >non-issue

#5424 Disable Agent upgrade test due to Kibana/Fleet issue
  test/e2e/agent/upgrade_test.go
Labels: :ci, >test

#5426 E2E: Disable master change budget watcher on non-HA clusters
  test/e2e/es/version_upgrade_test.go
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: >test

#5432 Disable Fleet tests until predefined policy feature is fixed
  test/e2e/agent/config_test.go
  test/e2e/agent/recipes_test.go
Labels: >test

#5435 moved monitoring section to right place
  docs/advanced-topics/stack-monitoring.asciidoc
Labels: >docs

#5437 Fix webhook generator to include matchPolicy of 'Exact'
  hack/operatorhub/main.go
Labels: >bug, v2.1.0

#5433 [OCP] Update log level
  hack/deployer/runner/ocp.go
Labels: :ci, >non-issue, exclude-from-release-notes

#5430 Adding necessary ClusterRole permissions for elastic-agent in fleet server quick start
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs

#5438 Fix Agent trust CA commands for all image variants
  pkg/controller/agent/pod.go
  pkg/controller/agent/pod_test.go
Labels: >bug, v2.1.0

#5443 [2.1] Fix Agent trust CA commands for all image variants (#5438)
  pkg/controller/agent/pod.go
  pkg/controller/agent/pod_test.go
Labels: triage

#5444 [2.1] Release notes and highlights for 2.1.0 (#5427)
  docs/release-notes.asciidoc
  docs/release-notes/2.1.0.asciidoc
  docs/release-notes/highlights-2.1.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#5428 bump doc attributes to 2.1
  docs/eck-attributes.asciidoc
Labels: >docs

#5453 Setup the same exposed-node-labels parameter in dev mode as in helm charts
  Makefile
Labels: >non-issue

#5456 [a11y] Fix latinisms occurrences
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/advanced-topics/custom-images.asciidoc
  docs/advanced-topics/service-meshes.asciidoc
  docs/design/0001-no-stateful-sets.md
  docs/design/0002-global-operator/0002-global-operator.md
  docs/design/0004-licensing.md
  docs/design/0005-configurable-operator.md
  docs/design/0006-certificate-management.md
  docs/design/0006-sidecar-health.md
  docs/design/0007-local-volume-total-capacity.md
  docs/design/0008-volume-management.md
  docs/design/0009-pod-reuse-es-restart.md
  docs/design/0010-license-checks.md
  docs/design/0011-process-manager.md
  docs/design/adr-template.md
  docs/operating-eck/eck-permissions.asciidoc
  docs/operating-eck/licensing.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
  docs/operating-eck/webhook.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/jvm-heap-dumps.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/security-context.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
  docs/orchestrating-elastic-stack-applications/maps.asciidoc
  docs/orchestrating-elastic-stack-applications/security/custom-http-certificate.asciidoc
  docs/quickstart.asciidoc
  docs/reference/api-docs.asciidoc
  docs/release-notes/1.2.1.asciidoc
  docs/release-notes/highlights-1.1.0.asciidoc
  pkg/apis/apm/v1/apmserver_types.go
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/enterprisesearch/v1/enterprisesearch_types.go
  pkg/apis/enterprisesearch/v1beta1/enterprisesearch_types.go
  pkg/apis/kibana/v1/kibana_types.go
  pkg/apis/maps/v1alpha1/maps_types.go
  pkg/controller/common/certificates/reconcile.go
Labels: >docs, v2.2.0

#5455 Add explicit assumptions before the installation steps
  docs/quickstart.asciidoc
Labels: >docs

#5469 [DOC] vm.max_map_count: update init container example
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs

#5479 [DOC] vm.max_map_count: update init container example (#5469)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#5480 [DOC] vm.max_map_count: update init container example (#5469)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#5452 Do not upgrade all Elasticsearch nodes of a given tier at once
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
  pkg/controller/elasticsearch/driver/fixtures.go
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/driver/upgrade_pods_deletion.go
  pkg/controller/elasticsearch/driver/upgrade_predicates.go
  pkg/controller/elasticsearch/driver/upgrade_predicates_test.go
  pkg/controller/elasticsearch/label/label.go
Labels: >bug, v2.2.0

#5461 Avoid unnecessary DELETE calls to manage legacy transport secret
  pkg/controller/elasticsearch/certificates/transport/reconcile.go
  pkg/controller/elasticsearch/certificates/transport/reconcile_test.go
  pkg/controller/elasticsearch/driver/nodes.go
Labels: >bug, v2.2.0

#5481 [DOC] vm.max_map_count: update init container example (#5469)
  NOTICE.txt
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#5482 [DOC] vm.max_map_count: update init container example (#5469)
  NOTICE.txt
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#5483 [DOC] vm.max_map_count: update init container example (#5469)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#5484 [DOC] vm.max_map_count: update init container example (#5469)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#5485 [DOC] vm.max_map_count: update init container example (#5469)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#5486 [DOC] vm.max_map_count: update init container example (#5469)
  config/samples/elasticsearch/elasticsearch.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#5488 Avoid DELETEs of non-existent secrets
  pkg/controller/apmserver/deployment.go
  pkg/controller/beat/common/pod.go
  pkg/controller/common/certificates/reconcile.go
  pkg/controller/common/keystore/resources.go
  pkg/controller/common/keystore/resources_test.go
  pkg/controller/common/keystore/user_secret.go
  pkg/controller/elasticsearch/certificates/transport/reconcile.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/kibana/driver.go
  pkg/controller/license/license_controller.go
  pkg/controller/license/license_controller_test.go
  pkg/utils/k8s/k8sutils.go
Labels: >enhancement, v2.2.0

#5439 Introduce a new custom build job
  .ci/jobs/e2e-tests-custom.yml
  .ci/pipelines/e2e-tests-custom.Jenkinsfile
  .ci/setenvconfig
  Makefile
  test/e2e/agent/recipes_test.go
  test/e2e/cmd/run/command.go
  test/e2e/cmd/run/run.go
  test/e2e/test/agent/builder.go
  test/e2e/test/apmserver/builder.go
  test/e2e/test/beat/builder.go
  test/e2e/test/context.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/enterprisesearch/builder.go
  test/e2e/test/kibana/builder.go
  test/e2e/test/maps/builder.go
Labels: :ci, >test

#5492 Add known issue for Red Hat certified operator upgrades
  docs/release-notes/highlights-1.9.1.asciidoc
  docs/release-notes/highlights-2.0.0.asciidoc
Labels: >docs

#5459 Avoid unnecessary update calls when reconciling PVC owner refs
  pkg/controller/elasticsearch/driver/pvc_owner.go
  pkg/controller/elasticsearch/driver/pvc_owner_test.go
Labels: >bug, v2.2.0

#5498 [2.0] Add known issue for Red Hat certified operator upgrades (#5492)
  docs/release-notes/highlights-1.9.1.asciidoc
  docs/release-notes/highlights-2.0.0.asciidoc
Labels: >docs, backport

#5499 [1.9] Add known issue for Red Hat certified operator upgrades (#5492)
  docs/release-notes/highlights-1.9.1.asciidoc
Labels: >docs, backport

#5500 Fix missing .gitignore that breaks builds
  .gitignore
Labels: :ci, >test

#5501 Upgrade eck-diagnostics to 1.0.3
  .ci/Dockerfile
Labels: :ci, >test

#5468 Use service accounts for Kibana and Fleet Server
  docs/orchestrating-elastic-stack-applications/security/users-and-roles.asciidoc
  pkg/apis/agent/v1alpha1/agent_types.go
  pkg/apis/apm/v1/apmserver_types.go
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/apis/common/v1/association.go
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/enterprisesearch/v1/enterprisesearch_types.go
  pkg/apis/enterprisesearch/v1beta1/enterprisesearch_types.go
  pkg/apis/kibana/v1/kibana_types.go
  pkg/apis/maps/v1alpha1/maps_types.go
  pkg/controller/agent/config.go
  pkg/controller/agent/config_test.go
  pkg/controller/agent/pod.go
  pkg/controller/apmserver/config.go
  pkg/controller/association/conf.go
  pkg/controller/association/conf_test.go
  pkg/controller/association/gc.go
  pkg/controller/association/gc_test.go
  pkg/controller/association/reconciler.go
  pkg/controller/association/reconciler_test.go
  pkg/controller/association/service_account.go
  pkg/controller/association/service_account_test.go
  pkg/controller/beat/common/config.go
  pkg/controller/common/stackmon/config.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/user/associated.go
  pkg/controller/elasticsearch/user/reconcile.go
  pkg/controller/elasticsearch/user/reconcile_test.go
  pkg/controller/elasticsearch/user/service_account.go
  pkg/controller/elasticsearch/user/user_provided.go
  pkg/controller/elasticsearch/volume/names.go
  pkg/controller/enterprisesearch/config.go
  pkg/controller/enterprisesearch/version_upgrade.go
  pkg/controller/kibana/config_settings.go
  pkg/controller/kibana/config_settings_test.go
  pkg/controller/maps/config.go
  test/e2e/test/elasticsearch/checks_k8s.go
  test/e2e/test/kibana/checks_k8s.go
Labels: >enhancement, v2.2.0

#5504 E2E: change EKS region in CI
  hack/deployer/config/plans.yml
Labels: :ci, >test

#5503 Doc: An upgrade to ECK 1.7 does not cause a restart
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs

#5515 [1.9] Adding necessary ClusterRole permissions for elastic-agent (#5430)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#5514 [2.0] Adding necessary ClusterRole permissions for elastic-agent (#5430)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#5513 [2.1] Adding necessary ClusterRole permissions for elastic-agent (#5430)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs, backport

#5511 Revert #3875 (updates github.com/prometheus/(common|client_golang))
  .github/renovate.json
Labels: >renovate

#5507 Reset phase on each reconciliation in Elasticsearch status
  pkg/controller/elasticsearch/elasticsearch_controller.go
  pkg/controller/elasticsearch/reconcile/state.go
  pkg/controller/elasticsearch/reconcile/state_test.go
  pkg/controller/elasticsearch/reconcile/status_test.go
Labels: >bug, v2.2.0

#5496 Make nodes field in status optional
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/elasticsearch/v1/status.go
  pkg/controller/elasticsearch/elasticsearch_controller_test.go
Labels: >bug

#5447 Operatorhub: Ensure local yaml files have a proper "end of directives" marker
  hack/operatorhub/main.go
Labels: >bug

#5497 Upgrade stack version to 8.1.0 in samples and tests
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  test/e2e/agent/config_test.go
  test/e2e/agent/recipes_test.go
  test/e2e/stack_test.go
  test/e2e/test/version.go
Labels: >test

#5489 Make sure to read association configuration again from annotations if it was reset
  pkg/apis/agent/v1alpha1/agent_types.go
  pkg/apis/apm/v1/apmserver_types.go
  pkg/apis/beat/v1beta1/beat_types.go
  pkg/apis/common/v1/association.go
  pkg/apis/common/v1/conf.go
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1/elasticsearch_types_test.go
  pkg/apis/enterprisesearch/v1/enterprisesearch_types.go
  pkg/apis/enterprisesearch/v1beta1/enterprisesearch_types.go
  pkg/apis/kibana/v1/kibana_types.go
  pkg/apis/kibana/v1/kibana_types_test.go
  pkg/apis/maps/v1alpha1/maps_types.go
  pkg/controller/agent/config.go
  pkg/controller/agent/controller.go
  pkg/controller/agent/driver.go
  pkg/controller/agent/health.go
  pkg/controller/agent/pod.go
  pkg/controller/agent/pod_test.go
  pkg/controller/agent/reconcile.go
  pkg/controller/apmserver/config.go
  pkg/controller/apmserver/controller.go
  pkg/controller/apmserver/deployment.go
  pkg/controller/apmserver/pod.go
  pkg/controller/association/conf.go
  pkg/controller/association/conf_test.go
  pkg/controller/association/reconciler.go
  pkg/controller/beat/common/config.go
  pkg/controller/beat/common/config_test.go
  pkg/controller/beat/common/driver.go
  pkg/controller/beat/common/health.go
  pkg/controller/beat/common/health_test.go
  pkg/controller/beat/common/pod.go
  pkg/controller/beat/common/reconcile.go
  pkg/controller/beat/controller.go
  pkg/controller/common/association/association.go
  pkg/controller/common/stackmon/config.go
  pkg/controller/common/stackmon/monitoring/monitoring.go
  pkg/controller/common/stackmon/monitoring/monitoring_test.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/elasticsearch_controller.go
  pkg/controller/elasticsearch/stackmon/beat_config.go
  pkg/controller/elasticsearch/stackmon/sidecar.go
  pkg/controller/enterprisesearch/config.go
  pkg/controller/enterprisesearch/deployment.go
  pkg/controller/enterprisesearch/enterprisesearch_controller.go
  pkg/controller/enterprisesearch/pod.go
  pkg/controller/enterprisesearch/pod_test.go
  pkg/controller/enterprisesearch/version_upgrade.go
  pkg/controller/kibana/config_settings.go
  pkg/controller/kibana/controller.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/stackmon/beat_config.go
  pkg/controller/kibana/stackmon/sidecar.go
  pkg/controller/maps/config.go
  pkg/controller/maps/controller.go
  pkg/controller/maps/pod.go
Labels: >bug, v2.2.0

#5520 Remove 7.8 and 7.9 from the tested Stack versions
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
Labels: >test

#5524 Revert "only redirect stdout to /dev/null, not stderr, as seeing failures is helpful. (#5462)"
  hack/manifest-gen/manifest-gen.sh
Labels: :ci, >test

#5529 custom-http-certificate: delete a duplicate spec
  docs/orchestrating-elastic-stack-applications/security/custom-http-certificate.asciidoc
Labels: >docs

#5525 Run E2E tests using regexp and tags extracted from PR comment
  .ci/common/tests.groovy
  .ci/jobs/pr-gke-e2e-tests.yml
  .ci/pipelines/e2e-tests-main-gke.Jenkinsfile
  .ci/setenvconfig
  CONTRIBUTING.md
Labels: :ci, >test, v2.2.0

#5523 Use parent context in autoscale controller k8s calls
  pkg/controller/autoscaling/elasticsearch/controller.go
Labels: >refactoring

#5540 Restrict TestExternalESStackMonitoring on GKE cluster
  test/e2e/es/stack_monitoring_test.go
  test/e2e/test/utils.go
  test/e2e/test/utils_test.go
Labels: >test

#5527 Report total managed memory in GiB and raw bytes
  pkg/license/aggregator_test.go
  pkg/license/license.go
  pkg/license/license_test.go
  pkg/license/reporter_test.go
  pkg/utils/metrics/metrics.go
Labels: >enhancement, v2.2.0
