Repository elastic/cloud-on-k8s, pull requests merged in 2023-08, with the labels that each got.

#7066 Update docs concerning intermediate CAs
  docs/orchestrating-elastic-stack-applications/accessing-elastic-services.asciidoc
Labels: >docs

#7053 Additional improvement for Logstash volumes documentation
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs, v2.9.0

#7074 Additional improvement for Logstash volumes documentation (#7053)
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs, backport

#6563 Fleet server QuickStart: use emptyDir for the agent-data volumes
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs

#7067 Bump stack version 8.9.0 adjust test matrix
  .buildkite/e2e/nightly-main-matrix.yaml
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autopilot/elasticsearch.yaml
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/autopilot/kubernetes-integration.yaml
  config/recipes/autopilot/metricbeat_hosts.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash-eck.yaml
  config/recipes/logstash/logstash-es-role.yaml
  config/recipes/logstash/logstash-monitored.yaml
  config/recipes/logstash/logstash-multi.yaml
  config/recipes/logstash/logstash-pipeline-as-secret.yaml
  config/recipes/logstash/logstash-pipeline-as-volume.yaml
  config/recipes/logstash/logstash-volumes.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  config/samples/logstash/logstash.yaml
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  config/samples/logstash/logstash_svc.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  test/e2e/test/version.go
Labels: >test

#7024 Add Logstash keystore
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
  pkg/controller/logstash/driver.go
  pkg/controller/logstash/keystore.go
  pkg/controller/logstash/pod.go
  test/e2e/logstash/keystore_test.go
  test/e2e/test/logstash/builder.go
Labels: >enhancement, v2.10.0 (next)

#7076 Fix sed command to use FIPS compatible operator image in FIPS doc
  docs/advanced-topics/fips.asciidoc
Labels: >docs, v2.10.0 (next)

#7078 Update module golang.org/x/net to v0.13.0
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  hack/helm/release/go.mod
  hack/helm/release/go.sum
Labels: >renovate, v2.10.0 (next)

#7081 Add missing RBAC rules for *Beats as of 8.9.0
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
Labels: >bug, >docs, v2.9.0

#7088 [2.9] Add missing RBAC rules for *Beats as of 8.9.0 (#7081)
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
Labels: >bug, >docs, backport

#7089 Do not try to run EMS on 8.8.2
  test/e2e/test/maps/builder.go
Labels: :ci, >test

#6827 E2E Test Cluster Cleanup step
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/scripts/test/trigger-bk-e2e-cleanup.sh
  Makefile
  catalog-info.yaml
  hack/deployer/cmd/cleanup.go
  hack/deployer/cmd/root.go
  hack/deployer/runner/aks.go
  hack/deployer/runner/driver.go
  hack/deployer/runner/eks.go
  hack/deployer/runner/gcloud.go
  hack/deployer/runner/gke.go
  hack/deployer/runner/kind.go
  hack/deployer/runner/ocp.go
  hack/deployer/runner/tanzu.go
Labels: >test, v2.10.0 (next)

#7104 Replaced node.attr.data in the documentation
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs, v2.9.0

#7106 Update AKS version to 1.26.6
  hack/deployer/config/plans.yml
Labels: :ci, >test, v2.10.0 (next)

#7084 helm - affinity nodeSelector tolerations indentation
  deploy/eck-operator/templates/statefulset.yaml
Labels: triage

#7111 Set logstash api version to alpha1
  docs/advanced-topics/stack-monitoring.asciidoc
Labels: >docs

#7115 docs: add trailing slash to sp.entity_id in SAML example
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, v2.10.0 (next)

#7122 Add missing " in the documentation page
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs

#7107 Replaced node.attr.data in the documentation (#7104)
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
Labels: >docs, backport, v2.9.0

#7113 correct-ECK-Logstash-Memory-template
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs, v2.8.0, v2.9.0, v2.10.0 (next)

#7123 Update logstash.asciidoc (#7113)
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs, backport

#7124 Fix incorrect Pod template spec in Logstash docs (#7113)
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs

#7120 Fix autopilot e2e test
  config/recipes/autopilot/elasticsearch.yaml
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  hack/deployer/runner/kyverno/install/policies.yaml
  test/e2e/test/helper/yaml.go
Labels: :ci, >test

#7117 doc: update SAML callback URL which is not deprecated
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, v2.10.0 (next)

#7114 Use contents of the script Configmap to generate config hash
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
Labels: >bug, v2.10.0 (next)

#7134 Update buildkite agent image
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
Labels: :ci, >test

#7138 Quotes query arg containing parenthesis
  hack/deployer/runner/tanzu.go
Labels: >bug, >test

#7139 Fix az command to list tanzu clusters to cleanup
  hack/deployer/runner/aks.go
  hack/deployer/runner/client.go
  hack/deployer/runner/tags.go
  hack/deployer/runner/tanzu.go
Labels: >bug, >test

#7140 Update eck-diagnostics in e2e image
  test/e2e/Dockerfile
Labels: :ci, >test
