Repository elastic/cloud-on-k8s, pull requests merged in 2023-11, with the labels that each got.

#7282 Update docker v24.0.7+incompatible
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  hack/helm/release/go.mod
  hack/helm/release/go.sum
  hack/manifest-gen/go.mod
  hack/manifest-gen/go.sum
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
Labels: >renovate, dependencies

#7283 Fix TestVersionupgradeAndRespectToLatest8x test
  test/e2e/kb/version_upgrade_test.go
Labels: >flaky_test, exclude-from-release-notes, v2.10.0

#7269 Ignore `remote_cluster_client` role when calculating autoscaling status.
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/autoscaling/elasticsearch/driver_test.go
  pkg/controller/autoscaling/elasticsearch/validation/webhook_test.go
  pkg/controller/common/autoscaling/validations.go
Labels: >bug, autoscaling, v2.10.0

#7286 [2.10] Fix TestVersionupgradeAndRespectToLatest8x test (#7283)
  test/e2e/kb/version_upgrade_test.go
Labels: triage

#7287 [2.10] Ignore `remote_cluster_client` role when calculating autoscaling status. (#7269)
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/autoscaling/elasticsearch/driver_test.go
  pkg/controller/autoscaling/elasticsearch/validation/webhook_test.go
  pkg/controller/common/autoscaling/validations.go
Labels: triage

#7264 Release notes and highlights for 2.10.0 release
  docs/release-notes.asciidoc
  docs/release-notes/2.10.0.asciidoc
  docs/release-notes/highlights-2.10.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v2.10.0

#7289 Fix Fleet Server RBAC
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration-noroot.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
Labels: >docs, v2.11.0 (next)

#7284 `make e2e-local` Fixes
  test/e2e/run.sh
Labels: >bug, :ci, exclude-from-release-notes

#7281 Update eck-attributes for 2.10 release.
  docs/eck-attributes.asciidoc
Labels: >docs, exclude-from-release-notes

#7297 Fix operatorhub container publish operation
  hack/operatorhub/internal/container/container.go
Labels: >bug, :ci, exclude-from-release-notes

#7258 E2E-monitor server change
  Makefile
  config/e2e/helm-operator-under-test.yaml
  config/e2e/monitoring.yaml
  test/e2e/cmd/run/run.go
Labels: :ci, >test, exclude-from-release-notes

#7305 [DOCFIX] makes plugin installation via initContainer more robust
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  docs/advanced-topics/service-meshes.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/bundles-plugins.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/init-containers-plugin-downloads.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >docs, v2.11.0 (next)

#7256 Document how to provide container registry credentials in air-gapped environment
  docs/operating-eck/air-gapped.asciidoc
Labels: >docs, v2.11.0 (next)

#7313 Fix recipe name to run Fleet as non-root
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  test/e2e/agent/recipes_test.go
  test/e2e/test/helper/yaml.go
Labels: >bug, >docs, v2.10.0, v2.11.0 (next)

#7314 Fix recipe name to run Fleet as non-root (#7313)
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  test/e2e/agent/recipes_test.go
  test/e2e/test/helper/yaml.go
Labels: >bug, >docs, backport, v2.10.0

#7233 Introduce Elasticsearch config and additional secret mounts to stack config policy
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/stackconfigpolicy.k8s.elastic.co_stackconfigpolicies.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/elasticsearch/v1/name.go
  pkg/apis/stackconfigpolicy/v1alpha1/stackconfigpolicy_types.go
  pkg/apis/stackconfigpolicy/v1alpha1/webhook.go
  pkg/apis/stackconfigpolicy/v1alpha1/webhook_test.go
  pkg/apis/stackconfigpolicy/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/common/labels/labels.go
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/filesettings/secret.go
  pkg/controller/elasticsearch/filesettings/secret_test.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/policy_config.go
  pkg/controller/elasticsearch/nodespec/policy_config_test.go
  pkg/controller/elasticsearch/nodespec/resources.go
  pkg/controller/elasticsearch/nodespec/statefulset.go
  pkg/controller/elasticsearch/nodespec/volumes.go
  pkg/controller/elasticsearch/nodespec/volumes_test.go
  pkg/controller/elasticsearch/settings/merged_config.go
  pkg/controller/elasticsearch/settings/merged_config_test.go
  pkg/controller/stackconfigpolicy/controller.go
  pkg/controller/stackconfigpolicy/controller_test.go
  pkg/controller/stackconfigpolicy/elasticsearch_config_settings.go
  pkg/controller/stackconfigpolicy/elasticsearch_config_settings_test.go
Labels: >feature, v2.11.0 (next)

#7317 Fix Fleet Server RBAC (#7289)
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
Labels: >docs, backport, :helm-charts, v2.10.0

#7318 Add retries to check for data loss by testing reversal ES mutations
  test/e2e/test/elasticsearch/checks_reversal.go
Labels: >flaky_test

#7321 Update to ubi9 and use -ubi prefix for operator image
  .buildkite/pipeline-release.yml
  .buildkite/scripts/common/operator-image.sh
  build/Dockerfile-ubi
  build/gen-drivah.toml.sh
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  hack/deployer/clients/ocp/Dockerfile
  hack/operatorhub/README.md
  hack/operatorhub/internal/container/container.go
Labels: >enhancement, v2.11.0 (next)

#7322 Update beats stack monitoring recipe
  config/recipes/beats/stack_monitoring.yaml
Labels: >docs, v2.11.0 (next)

#7325 [2.10] Documentation link replaced with markup in 2.10 release notes (#7306)
  docs/release-notes/highlights-2.10.0.asciidoc
Labels: >docs, backport, v2.10.0

#7328 Revert "Update beats stack monitoring recipe (#7322)"
  config/recipes/beats/stack_monitoring.yaml
Labels: >test, v2.11.0 (next)

#7332 Docs: Use `docker.io/bash` for sleep container of max-map-count-setter Daemonset
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, v2.11.0 (next)

#7339 Update security context doc
  docs/orchestrating-elastic-stack-applications/elasticsearch/security-context.asciidoc
Labels: >docs, v2.10.0

#7340 [2.10] Update security context doc (#7339)
  docs/orchestrating-elastic-stack-applications/elasticsearch/security-context.asciidoc
Labels: >docs, backport

#7341 [2.9] Update security context doc (#7339)
  docs/orchestrating-elastic-stack-applications/elasticsearch/security-context.asciidoc
Labels: >docs, backport

#7342 [2.8] Update security context doc (#7339)
  docs/orchestrating-elastic-stack-applications/elasticsearch/security-context.asciidoc
Labels: >docs, backport

#7349 Add retries in TestEnterpriseSearchConfigUpdate steps
  test/e2e/ent/configuration_test.go
Labels: >flaky_test

#7354 Fix TestEnterpriseSearchConfigUpdate
  test/e2e/ent/configuration_test.go
Labels: >flaky_test

#7351 Update node-configuration.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs, v2.11.0 (next)
