Repository elastic/cloud-on-k8s, pull requests merged in 2023-12, with the labels that each got.

#7358 Fix continuousHealthCheck mutation step
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: >flaky_test, v2.11.0 (next)

#7363 Some fixes to eck_integrations chart
  deploy/eck-integrations/templates/eck-agent/elastic-agent-daemonset.yaml
Labels: triage

#7364 Use 2 node clusters where indices are created with a replica
  test/e2e/kb/association_test.go
  test/e2e/kb/failure_test.go
  test/e2e/kb/stack_monitoring_test.go
Labels: >test

#7373 Document known issue with Kibana 8.11.2 using secure settings
  docs/release-notes/highlights-2.10.0.asciidoc
Labels: >docs, v2.10.0, v2.11.0 (next)

#7374 Document known issue with Kibana 8.11.2 using secure settings (#7373)
  docs/release-notes/highlights-2.10.0.asciidoc
Labels: >docs, backport, v2.10.0

#7368 Support -ubi suffix starting 8.12.0 and 7.17.16
  cmd/manager/main.go
  pkg/controller/agent/pod.go
  pkg/controller/apmserver/deployment_test.go
  pkg/controller/apmserver/pod.go
  pkg/controller/apmserver/pod_test.go
  pkg/controller/beat/common/pod.go
  pkg/controller/common/container/container.go
  pkg/controller/common/container/container_test.go
  pkg/controller/common/stackmon/sidecar.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/enterprisesearch/pod.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
  pkg/controller/logstash/pod.go
  pkg/controller/logstash/pod_test.go
  pkg/controller/maps/pod.go
Labels: >enhancement, v2.11.0 (next)

#7308 Add doc for basic snapshot repository setup for Azure
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >docs, v2.11.0 (next)

#7377 fix secure settings link on stack config policy page
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >bug, >docs, v2.11.0 (next)

#7324 Introduce Kibana config field in StackConfigPolicy
  cmd/manager/main.go
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/stackconfigpolicy.k8s.elastic.co_stackconfigpolicies.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/stackconfigpolicy/v1alpha1/stackconfigpolicy_types.go
  pkg/apis/stackconfigpolicy/v1alpha1/webhook.go
  pkg/apis/stackconfigpolicy/v1alpha1/webhook_test.go
  pkg/apis/stackconfigpolicy/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/association/controller/agent_kibana.go
  pkg/controller/association/controller/apm_kibana.go
  pkg/controller/association/controller/beat_kibana.go
  pkg/controller/common/annotation/association.go
  pkg/controller/common/annotation/constants.go
  pkg/controller/common/annotation/pod.go
  pkg/controller/common/keystore/user_secret.go
  pkg/controller/common/labels/labels.go
  pkg/controller/elasticsearch/filesettings/reconciler.go
  pkg/controller/elasticsearch/filesettings/reconciler_test.go
  pkg/controller/elasticsearch/filesettings/secret.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/policy_config.go
  pkg/controller/elasticsearch/nodespec/policy_config_test.go
  pkg/controller/kibana/config_reconcile.go
  pkg/controller/kibana/config_reconcile_test.go
  pkg/controller/kibana/config_settings.go
  pkg/controller/kibana/config_settings_test.go
  pkg/controller/kibana/controller.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/controller/kibana/label/label.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
  pkg/controller/kibana/policy_config_setting.go
  pkg/controller/kibana/policy_config_setting_test.go
  pkg/controller/stackconfigpolicy/controller.go
  pkg/controller/stackconfigpolicy/controller_test.go
  pkg/controller/stackconfigpolicy/elasticsearch_config_settings.go
  pkg/controller/stackconfigpolicy/elasticsearch_config_settings_test.go
  pkg/controller/stackconfigpolicy/kibana_config_settings.go
  pkg/controller/stackconfigpolicy/kibana_config_settings_test.go
  pkg/controller/stackconfigpolicy/secure_setings.go
  pkg/controller/stackconfigpolicy/secure_settings_test.go
  pkg/utils/maps/maps.go
  pkg/utils/maps/maps_test.go
  test/e2e/test/k8s_client.go
Labels: >feature, v2.11.0 (next)

#7372 Add details about rolling restarts behaviors
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, v2.11.0 (next)

#7382 Allow Agent and Elastic stack in different namespaces.
  .buildkite/pipeline.yml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  pkg/apis/common/v1/association.go
  pkg/controller/agent/pod.go
  pkg/controller/agent/pod_test.go
  pkg/controller/association/ca.go
  pkg/controller/association/controller/agent_fleetserver.go
  pkg/controller/association/dynamic_watches.go
  pkg/controller/association/reconciler.go
  pkg/controller/association/reconciler_test.go
  pkg/controller/association/secret.go
  test/e2e/agent/config_test.go
Labels: >enhancement, v2.11.0 (next)

#7357 Add StatefulSet as a deployment option for Elastic Agent
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1/patches/agent-patches.yaml
  config/recipes/elastic-agent/ksm-sharding.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/agent/v1alpha1/agent_types.go
  pkg/apis/agent/v1alpha1/validations.go
  pkg/apis/agent/v1alpha1/validations_test.go
  pkg/apis/agent/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/agent/driver.go
  pkg/controller/agent/pod.go
  pkg/controller/agent/reconcile.go
  pkg/controller/common/statefulset/reconcile.go
  pkg/controller/common/statefulset/reconcile_test.go
  test/e2e/test/agent/builder.go
  test/e2e/test/agent/steps.go
Labels: >feature, elastic-agent, v2.11.0 (next)

#7397 Update eck-elasticsearch default secureSettings values to be slice.
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
Labels: >bug, :helm-charts, v2.11.0 (next)

#7381 Add doc changes to include the new fields in stack config policy
  docs/orchestrating-elastic-stack-applications/securing-stack.asciidoc
  docs/orchestrating-elastic-stack-applications/security/auth-configs-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/jwt-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/ldap-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/oidc-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, v2.11.0 (next)

#7404 [E2E][Agent] Adjust expected error in TestWebhook
  test/e2e/agent/webhook_test.go
Labels: >test

#7388 Use 2 node cluster where indices are created with a replica.
  test/e2e/apm/association_test.go
  test/e2e/kb/association_test.go
  test/e2e/kb/failure_test.go
  test/e2e/kb/stack_monitoring_test.go
  test/e2e/kb/standalone_test.go
  test/e2e/kb/version_upgrade_test.go
Labels: >test

#7399 ECK and Stack version updates for 2.11 Branch
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/charts/eck-logstash/Chart.yaml
  deploy/eck-stack/charts/eck-logstash/examples/basic-eck.yaml
  deploy/eck-stack/charts/eck-logstash/examples/es-role.yaml
  deploy/eck-stack/charts/eck-logstash/examples/monitored.yaml
  deploy/eck-stack/charts/eck-logstash/examples/multi.yaml
  deploy/eck-stack/charts/eck-logstash/examples/volumes.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  docs/eck-attributes.asciidoc
  hack/operatorhub/config.yaml
  hack/upgrade-test-harness/conf.yaml
Labels: >non-issue, v2.11.0 (next)

#7400 Bump ECK Version, and Stack versions for next release.
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/charts/eck-logstash/Chart.yaml
  deploy/eck-stack/charts/eck-logstash/examples/basic-eck.yaml
  deploy/eck-stack/charts/eck-logstash/examples/es-role.yaml
  deploy/eck-stack/charts/eck-logstash/examples/monitored.yaml
  deploy/eck-stack/charts/eck-logstash/examples/multi.yaml
  deploy/eck-stack/charts/eck-logstash/examples/volumes.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  hack/operatorhub/config.yaml
Labels: >non-issue

#7406 [Backport 2.11] Use 2 node cluster where indices are created with a replica. (#7388)
  test/e2e/apm/association_test.go
  test/e2e/kb/association_test.go
  test/e2e/kb/failure_test.go
  test/e2e/kb/stack_monitoring_test.go
  test/e2e/kb/standalone_test.go
  test/e2e/kb/version_upgrade_test.go
Labels: >test, backport

#7407 [Backport 2.11] [E2E][Agent] Adjust expect error in TestWebhook (#7404)
  test/e2e/agent/webhook_test.go
Labels: >test, backport

#7410 Revert e2e tests temporary fix that increases cluster size
  test/e2e/apm/association_test.go
  test/e2e/kb/association_test.go
  test/e2e/kb/failure_test.go
  test/e2e/kb/stack_monitoring_test.go
  test/e2e/kb/standalone_test.go
Labels: >test

#7414 Remove useless --stdin argument from logstash-keystore add command
  pkg/controller/logstash/keystore.go
Labels: >bug, >test, v2.11.0

#7412 Revert e2e tests temporary fix that increases cluster size (#7410)
  test/e2e/apm/association_test.go
  test/e2e/kb/association_test.go
  test/e2e/kb/failure_test.go
  test/e2e/kb/stack_monitoring_test.go
  test/e2e/kb/standalone_test.go
Labels: >test, backport, v2.11.0

#7416 Temporarily disable broken Fleet e2e tests
  test/e2e/agent/config_test.go
  test/e2e/agent/tls_test.go
Labels: >flaky_test

#7419 Use 2-node clusters for apm e2e tests
  test/e2e/apm/association_test.go
Labels: >test

#7420 [2.11] Use 2-node clusters for apm e2e tests (#7419)
  test/e2e/apm/association_test.go
Labels: >test, backport
