Repository elastic/cloud-on-k8s, pull requests merged in 2023-01, with the labels that each got.

#6267 Update NOTICE for new year 2023
  NOTICE.txt
Labels: >non-issue

#6263 [2.6] Add additional helm documentation for Fleet Server, and Agent (#6154)
  deploy/eck-elasticsearch/examples/hot-warm-cold.yaml
  deploy/eck-elasticsearch/values.yaml
  deploy/eck-stack/README.md
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/examples/elasticsearch/hot-warm-cold.yaml
  deploy/eck-stack/examples/kibana/http-configuration.yaml
  docs/orchestrating-elastic-stack-applications/stack-helm-chart.asciidoc
Labels: >docs, backport, v2.6.0

#6270 [2.6] Update NOTICE for new year 2023 (#6267)
  NOTICE.txt
Labels: backport, >non-issue

#6278 Try to reconcile license even in absence of known health status
  pkg/controller/elasticsearch/driver/driver.go
Labels: >bug, v2.7.0

#6282 Fix typo in stack config policies doc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, v2.6.0

#6286 [2.6] ECK resources Helm chart - Beats
  deploy/README.md
  deploy/eck-agent/Chart.yaml
  deploy/eck-agent/examples/fleet-agents.yaml
  deploy/eck-agent/examples/system-integration.yaml
  deploy/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-agent/values.yaml
  deploy/eck-beats/.helmignore
  deploy/eck-beats/Chart.yaml
  deploy/eck-beats/LICENSE
  deploy/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-beats/templates/NOTES.txt
  deploy/eck-beats/templates/_helpers.tpl
  deploy/eck-beats/templates/beats.yaml
  deploy/eck-beats/templates/cluster-role-binding.yaml
  deploy/eck-beats/templates/cluster-role.yaml
  deploy/eck-beats/templates/service-account.yaml
  deploy/eck-beats/templates/tests/beats-auditbeat-example_test.yaml
  deploy/eck-beats/templates/tests/beats-filebeat-example_test.yaml
  deploy/eck-beats/templates/tests/beats-heartbeat-example_test.yaml
  deploy/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-beats/templates/tests/beats-packetbeat-example_test.yaml
  deploy/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-beats/values.yaml
  deploy/eck-elasticsearch/Chart.yaml
  deploy/eck-fleet-server/Chart.yaml
  deploy/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-fleet-server/values.yaml
  deploy/eck-kibana/Chart.yaml
  deploy/eck-kibana/examples/http-configuration.yaml
  deploy/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/README.md
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/examples/metricbeat_hosts.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  deploy/eck-stack/values.yaml
  hack/update-stack-version.sh
Labels: >enhancement, backport

#6287 Document Fleet Server limitation on minikube without CNI (#6075)
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
Labels: >docs

#6264 Release notes and highlights for 2.6.0 release.
  docs/release-notes.asciidoc
  docs/release-notes/2.6.0.asciidoc
  docs/release-notes/highlights-2.6.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#6288 [2.6] Release notes and highlights for 2.6.0 release. (#6264)
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.6.0.asciidoc
  docs/release-notes/highlights-2.6.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#6289 Fix version gate for the file-based settings volume
  pkg/controller/elasticsearch/driver/driver.go
Labels: >bug, v2.6.0

#6290 [2.6] Try to reconcile license even in absence of known health status (#6278)
  pkg/controller/elasticsearch/driver/driver.go
Labels: >bug, backport

#6292 Update 2.6 release notes for recent changes.
  docs/release-notes/2.6.0.asciidoc
  docs/release-notes/highlights-2.6.0.asciidoc
Labels: >docs

#6293 [2.6] Fix version gate for the file-based settings volume
  pkg/controller/elasticsearch/driver/driver.go
Labels: >bug, backport, v2.6.0

#6297 [2.6] Set kubebuilder assets path to support latest buildkite agent (#6257)
  .ci/Dockerfile
  Makefile
Labels: :ci, >test, backport, v2.6.0

#6295 [2.6] Update 2.6 release notes for recent changes. (#6292)
  docs/release-notes/2.6.0.asciidoc
  docs/release-notes/highlights-2.6.0.asciidoc
Labels: >docs, backport

#6284 Prepare doc attributes for 2.6 release
  docs/eck-attributes.asciidoc
Labels: >docs

#6309 [E2E] Disable TestFleetAgentWithoutTLS and TestFleetMode
  test/e2e/agent/config_test.go
  test/e2e/agent/tls_test.go
Labels: >test

#6310 [E2E] Disable TestFleetAgentWithoutTLS and TestFleetMode (#6309)
  test/e2e/agent/config_test.go
  test/e2e/agent/tls_test.go
Labels: >test, backport, v2.6.1

#6305 Update min version to use es file-based settings feature
  pkg/controller/elasticsearch/filesettings/file_settings.go
  pkg/controller/stackconfigpolicy/controller.go
  pkg/controller/stackconfigpolicy/controller_test.go
  test/e2e/es/stackconfigpolicy_test.go
Labels: >bug, v2.6.1

#6311 [2.6.1] Update min version to use es file-based settings feature (#6305)
  pkg/controller/elasticsearch/filesettings/file_settings.go
  pkg/controller/stackconfigpolicy/controller.go
  pkg/controller/stackconfigpolicy/controller_test.go
  test/e2e/es/stackconfigpolicy_test.go
Labels: >bug, backport, v2.6.1

#6312 Release notes and highlights for 2.6.1
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.6.1.asciidoc
  docs/release-notes/highlights-2.6.0.asciidoc
  docs/release-notes/highlights-2.6.1.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v2.6.1

#6314 [2.6] Release notes and highlights for 2.6.1 (#6312)
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.6.1.asciidoc
  docs/release-notes/highlights-2.6.0.asciidoc
  docs/release-notes/highlights-2.6.1.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v2.6.1

#6317 Increase timeout for Kyverno deployment to be ready
  hack/deployer/runner/kyverno/kyverno.go
Labels: >bug, :ci, v2.7.0

#6318 Update operator capability level from L3 => L4.
  hack/operatorhub/templates/csv.tpl
Labels: >enhancement, v2.7.0

#6301 Fix yaml kibana example in saml authentication doc
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, v2.7.0

#6322 Bump version for 2.6.2 release
  hack/operatorhub/config.yaml
Labels: >non-issue, v2.6.2

#6321 Release notes for 2.6.2
  docs/release-notes.asciidoc
  docs/release-notes/2.6.2.asciidoc
  docs/release-notes/highlights-2.6.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v2.6.2

#6324 [2.6] Release notes for 2.6.2 (#6321)
  docs/release-notes.asciidoc
  docs/release-notes/2.6.2.asciidoc
  docs/release-notes/highlights-2.6.2.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#6302 Do not overwrite deployment status when reconciling
  pkg/controller/common/deployment/reconcile.go
  pkg/controller/common/deployment/reconcile_test.go
Labels: >enhancement, v2.7.0

#6325 Update test harness for 2.6.1
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/testdata/v261/crds.yaml
  hack/upgrade-test-harness/testdata/v261/install.yaml
  hack/upgrade-test-harness/testdata/v261/stack.yaml
Labels: >non-issue, v2.7.0

#6265 Update broken pod template spec link
  docs/orchestrating-elastic-stack-applications/customize-pods.asciidoc
Labels: >docs

#6333 Update logstash recipe
  config/recipes/logstash/logstash.yaml
Labels: >docs, v2.7.0

#6329 Fix test helm charts script exit code
  deploy/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  hack/helm/test.sh
Labels: >bug, :ci, v2.7.0

#6327 Update stack version to 8.6.0
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  deploy/eck-agent/examples/fleet-agents.yaml
  deploy/eck-agent/examples/system-integration.yaml
  deploy/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-agent/values.yaml
  deploy/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-beats/values.yaml
  deploy/eck-elasticsearch/values.yaml
  deploy/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-fleet-server/values.yaml
  deploy/eck-kibana/examples/http-configuration.yaml
  deploy/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-kibana/values.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/examples/metricbeat_hosts.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  test/e2e/agent/recipes_test.go
  test/e2e/test/version.go
Labels: >non-issue, v2.7.0

#6306 Support auth for custom users and roles in eck-elasticsearch Helm chart
  deploy/eck-elasticsearch/templates/elasticsearch.yaml
  deploy/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-elasticsearch/values.yaml
Labels: >enhancement, v2.7.0

#6342 Move slack notifications from #cloud-k8s => #eck
  .ci/pipelines/build.Jenkinsfile
  .ci/pipelines/cleanup-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-aks.Jenkinsfile
  .ci/pipelines/e2e-tests-custom.Jenkinsfile
  .ci/pipelines/e2e-tests-eks-arm.Jenkinsfile
  .ci/pipelines/e2e-tests-eks.Jenkinsfile
  .ci/pipelines/e2e-tests-gke-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-kind-k8s-versions.Jenkinsfile
  .ci/pipelines/e2e-tests-main-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp.Jenkinsfile
  .ci/pipelines/e2e-tests-ocp3.Jenkinsfile
  .ci/pipelines/e2e-tests-resilience.Jenkinsfile
  .ci/pipelines/e2e-tests-snapshot-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-stack-versions-gke.Jenkinsfile
  .ci/pipelines/e2e-tests-tanzu.Jenkinsfile
Labels: >bug, exclude-from-release-notes

#6348 Disable packetbeat test on snapshot versions
  test/e2e/beat/config_test.go
Labels: >test

#6354 Revert "Disable packetbeat test on snapshot versions (#6348)"
  test/e2e/beat/config_test.go
Labels: >test

#6254 Support aks/ocp/tanzu e2e tests on Buildkite
  .buildkite/pipeline-nightly-e2e-tests.yml
  .buildkite/pipeline.yml
  .ci/Makefile
  .ci/setenvconfig
  Makefile
Labels: :ci, >test, v2.7.0

#6326 Prune EOL ECK versions in upgrade-test-harness
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/fixture/alpha.go
  hack/upgrade-test-harness/fixture/eck.go
  hack/upgrade-test-harness/main.go
  hack/upgrade-test-harness/testdata/alpha/install.yaml
  hack/upgrade-test-harness/testdata/alpha/stack.yaml
  hack/upgrade-test-harness/testdata/beta/install.yaml
  hack/upgrade-test-harness/testdata/beta/stack.yaml
  hack/upgrade-test-harness/testdata/upcoming/stack.yaml
  hack/upgrade-test-harness/testdata/v101/install.yaml
  hack/upgrade-test-harness/testdata/v101/stack.yaml
  hack/upgrade-test-harness/testdata/v112/install.yaml
  hack/upgrade-test-harness/testdata/v112/stack.yaml
  hack/upgrade-test-harness/testdata/v121/install.yaml
  hack/upgrade-test-harness/testdata/v121/stack.yaml
  hack/upgrade-test-harness/testdata/v130/install.yaml
  hack/upgrade-test-harness/testdata/v130/stack.yaml
  hack/upgrade-test-harness/testdata/v131/install.yaml
  hack/upgrade-test-harness/testdata/v131/stack.yaml
  hack/upgrade-test-harness/testdata/v140/install.yaml
  hack/upgrade-test-harness/testdata/v140/stack.yaml
  hack/upgrade-test-harness/testdata/v150/install.yaml
  hack/upgrade-test-harness/testdata/v150/stack.yaml
Labels: >non-issue, v2.7.0

#6359 Disable agent upgrade test until 8.6.1 is available
  test/e2e/agent/upgrade_test.go
Labels: >test

#6357 Revert "PR testing mode" for nightly e2e-tests on buildkite
  .buildkite/pipeline.yml
  Makefile
Labels: :ci, >test, v2.7.0

#6361 Activate enterprise license in TestStackConfigPolicy
  test/e2e/ems/ems_test.go
  test/e2e/es/autoscaling_legacy_test.go
  test/e2e/es/autoscaling_test.go
  test/e2e/es/stackconfigpolicy_test.go
  test/e2e/test/common_steps.go
Labels: :ci, >test

#6358 Skip TestGlobalCA in resilience pipeline
  test/e2e/global_ca_test.go
Labels: >flaky_test, v2.7.0

#6368 Disable TestFleetAgentWithoutTLS and TestFleetKubernetesIntegrationRecipe
  test/e2e/agent/recipes_test.go
  test/e2e/agent/tls_test.go
Labels: >flaky_test
