Repository elastic/cloud-on-k8s, pull requests merged in 2023-07, with the labels that each got.

#6969 Align stack version in Logstash samples
  config/samples/logstash/logstash.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  config/samples/logstash/logstash_svc.yaml
Labels: >bug, >test, v2.9.0 (next), :logstash

#6959 Multi-arch images build via drivah and serverless-docker-builder
  .buildkite/e2e/pipeline-gen/main.go
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/pipeline-build.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/build/pre-build-operator.sh
  .buildkite/scripts/build/set-images.sh
  .buildkite/scripts/build/setenv.sh
  .buildkite/scripts/build/setenv_test.sh
  .buildkite/scripts/common/lib.sh
  .buildkite/scripts/common/operator-image.sh
  .buildkite/scripts/common/trigger.sh
  .gitignore
  Makefile
  build/Dockerfile
  build/Dockerfile-ubi
  build/gen-drivah.toml.sh
  test/e2e/Dockerfile
  test/e2e/drivah.toml.sh
Labels: :ci, >refactoring, v2.9.0 (next)

#6884 Add Support for volumeClaimTemplates for Logstash operator
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/logstash.k8s.elastic.co_logstashes.yaml
  config/samples/logstash/logstash.yaml
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_pv.yml
  config/samples/logstash/logstash_stackmonitor.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/api-docs.asciidoc
  pkg/apis/logstash/v1alpha1/logstash_types.go
  pkg/apis/logstash/v1alpha1/validations.go
  pkg/apis/logstash/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/common/volume/volume.go
  pkg/controller/logstash/config.go
  pkg/controller/logstash/config_test.go
  pkg/controller/logstash/driver.go
  pkg/controller/logstash/env.go
  pkg/controller/logstash/initcontainer.go
  pkg/controller/logstash/pipeline.go
  pkg/controller/logstash/pod.go
  pkg/controller/logstash/pod_test.go
  pkg/controller/logstash/reconcile.go
  pkg/controller/logstash/sset/sset.go
  pkg/controller/logstash/stackmon/sidecar.go
  pkg/controller/logstash/stackmon/sidecar_test.go
  pkg/controller/logstash/volume.go
  pkg/controller/logstash/volume/defaults.go
  pkg/controller/logstash/volume/names.go
  pkg/controller/logstash/volume/volumes.go
  pkg/controller/logstash/volume/volumes_test.go
  pkg/controller/logstash/volume_test.go
Labels: >enhancement, v2.9.0 (next), :logstash

#6970 Fix tests run dependency
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
Labels: >bug, :ci, >test

#6974 Improve detection of `unknown` and `merge-main` triggers
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/scripts/common/trigger.sh
Labels: :ci, >non-issue

#6975 Update OpenShift supported versions
  .buildkite/e2e/nightly-main-matrix.yaml
  README.md
  docs/supported-versions.asciidoc
  hack/deployer/config/plans.yml
  hack/operatorhub/templates/csv.tpl
Labels: >docs, >test, v2.9.0 (next)

#6978 Fix permissions to run e2e tests on OCP with arbitrary user ID
  test/e2e/Dockerfile
Labels: >bug, :ci, v2.9.0 (next)

#6980 Make 'RUN go generate' specific between prod and dev builds
  build/Dockerfile
  build/Dockerfile-ubi
  build/gen-drivah.toml.sh
Labels: >bug, :ci

#6981 Make 'RUN go generate' specific between prod and dev builds (#6980)
  build/Dockerfile
  build/Dockerfile-ubi
  build/gen-drivah.toml.sh
Labels: >bug, :ci, backport, v2.9.0

#6982 Bump versions for next release
  .buildkite/e2e/nightly-main-matrix.yaml
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  hack/operatorhub/config.yaml
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/testdata/upcoming/stack.yml
Labels: >non-issue, v2.10.0 (next)

#6983 Bump versions for 2.9/8.9.0 release
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  docs/eck-attributes.asciidoc
  hack/operatorhub/config.yaml
  hack/upgrade-test-harness/conf.yaml
Labels: >non-issue

#6986 e2e tests timeout tuning
  Makefile
  test/e2e/cmd/run/command.go
  test/e2e/cmd/run/run.go
Labels: :ci, >non-issue, v2.9.0, v2.10.0 (next)

#6987 [2.9] e2e tests timeout tuning (#6986)
  Makefile
  test/e2e/cmd/run/command.go
  test/e2e/cmd/run/run.go
Labels: >test, backport

#6990 Update docker builder agent to fix license build issue
  .buildkite/pipeline.yml
Labels: >bug, :ci, v2.9.0, v2.10.0 (next)

#6991 Update docker builder agent to fix license build issue (#6990)
  .buildkite/pipeline.yml
Labels: >bug, :ci, backport, v2.9.0

#6992 E2E: do not reset pinned image
  test/e2e/cmd/run/run.go
  test/e2e/test/elasticsearch/builder.go
Labels: >test, v2.9.0

#6993 [2.9] E2E: do not reset pinned image (#6992)
  test/e2e/cmd/run/run.go
  test/e2e/test/elasticsearch/builder.go
Labels: >test, backport

#6994 E2E set test storage class for Logstash data volume
  test/e2e/es/topology_test.go
  test/e2e/es/volume_test.go
  test/e2e/samples_test.go
  test/e2e/test/default.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/logstash/builder.go
Labels: >test, v2.9.0

#6995 [2.9] E2E set test storage class for Logstash data volume (#6994)
  test/e2e/es/topology_test.go
  test/e2e/es/volume_test.go
  test/e2e/samples_test.go
  test/e2e/test/default.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/logstash/builder.go
Labels: >test, backport

#6997 Remove stack image defintion feature and fix image overrides
  .buildkite/scripts/test/set-deployer-config.sh
  .gitignore
  Makefile
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  test/e2e/cmd/run/command.go
  test/e2e/cmd/run/run.go
  test/e2e/test/agent/builder.go
  test/e2e/test/apmserver/builder.go
  test/e2e/test/beat/builder.go
  test/e2e/test/context.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/enterprisesearch/builder.go
  test/e2e/test/kibana/builder.go
  test/e2e/test/logstash/builder.go
  test/e2e/test/maps/builder.go
Labels: >test, v2.9.0

#6999 [2.9] Remove stack image defintion feature and fix image overrides (#6997)
  .buildkite/scripts/test/set-deployer-config.sh
  .gitignore
  Makefile
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  test/e2e/cmd/run/command.go
  test/e2e/cmd/run/run.go
  test/e2e/test/agent/builder.go
  test/e2e/test/apmserver/builder.go
  test/e2e/test/beat/builder.go
  test/e2e/test/context.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/enterprisesearch/builder.go
  test/e2e/test/kibana/builder.go
  test/e2e/test/logstash/builder.go
  test/e2e/test/maps/builder.go
Labels: >test, backport

#7000 Relax mutation health checks for TestAPMServerVersionUpgradeToLatest8x
  test/e2e/agent/upgrade_test.go
  test/e2e/apm/upgrade_test.go
  test/e2e/beat/upgrade_test.go
  test/e2e/kb/version_upgrade_test.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: >flaky_test, v2.9.0

#7007 Relax mutation health checks for TestVersionUpgrade e2e tests (#7000)
  test/e2e/agent/upgrade_test.go
  test/e2e/apm/upgrade_test.go
  test/e2e/beat/upgrade_test.go
  test/e2e/kb/version_upgrade_test.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/elasticsearch/steps_mutation.go
Labels: >flaky_test, backport, v2.9.0

#7014 go mod tidy hack/helm/release module
  hack/helm/release/go.mod
  hack/helm/release/go.sum
Labels: >non-issue, v2.10.0 (next)

#7012 Increase mutation health checks tolerance
  test/e2e/agent/upgrade_test.go
  test/e2e/apm/upgrade_test.go
  test/e2e/beat/upgrade_test.go
  test/e2e/kb/version_upgrade_test.go
  test/e2e/test/elasticsearch/builder.go
Labels: >flaky_test, v2.10.0 (next)

#7004 Revert "Skip APM Server tests without APM integration in 8.9.0-SNAPSH…
  test/e2e/test/apmserver/builder.go
Labels: >bug, >test, v2.9.0, v2.10.0 (next)

#7005 [2.8][docs] Update Maps for 8.8.1 indication fix
  docs/orchestrating-elastic-stack-applications/maps.asciidoc
Labels: >docs, v2.8.0, v2.9.0

#7015 Revert "Skip APM Server tests without APM integration in 8.9.0-SNAPSH…
  test/e2e/test/apmserver/builder.go
Labels: >test, backport, v2.9.0

#7016 [2.9] Update Maps for 8.8.1 indication fix (#7005)
  docs/orchestrating-elastic-stack-applications/maps.asciidoc
Labels: >docs, backport

#7017 [2.8] Update Maps for 8.8.1 indication fix (#7005)
  docs/orchestrating-elastic-stack-applications/maps.asciidoc
Labels: >docs, backport

#7020 Skip TestVersionUpgradeAndRespecToLatest8x in 8.9.0-SNAPSHOT
  test/e2e/kb/version_upgrade_test.go
Labels: >flaky_test, v2.10.0 (next)

#7003 2.9.0 release notes and highlights and Logstash volume docs
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.9.0.asciidoc
  docs/release-notes/highlights-2.9.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v2.9.0

#7025 Remove global bk agent declaration
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
Labels: :ci, >refactoring

#7026 Remove global bk agent declaration (#7025)
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
Labels: :ci, backport, >refactoring, v2.9.0

#7021 [2.9] 2.9.0 release notes and highlights and Logstash volume docs (#7003)
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.9.0.asciidoc
  docs/release-notes/highlights-2.9.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#7029 Fix agent declaration for e2e tests
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
Labels: >bug, :ci, v2.9.0

#7030 Fix agent declaration for e2e tests (#7029)
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
Labels: >bug, :ci, backport, v2.9.0

#7035 Pass build context triggering helm release
  .buildkite/pipeline-release.yml
Labels: >bug, :ci, v2.9.0

#7034 Fix manifest image name
  .buildkite/pipeline-release.yml
  .buildkite/scripts/release/k8s-manifests.sh
  Makefile
Labels: >bug, :ci, v2.9.0

#7036 Pass build context triggering helm release (#7035)
  .buildkite/pipeline-release.yml
Labels: >bug, :ci, backport, v2.9.0

#7039 tidy helm releaser
  hack/helm/release/go.mod
  hack/helm/release/go.sum
Labels: >bug, :ci

#7023 Remove duplicate package imports
  pkg/controller/beat/common/pod_test.go
  pkg/controller/beat/common/stackmon/stackmon_test.go
  pkg/controller/elasticsearch/driver/driver_test.go
  pkg/controller/elasticsearch/observer/observer.go
  pkg/controller/elasticsearch/pdb/reconcile_test.go
  pkg/controller/elasticsearch/securitycontext/securitycontext_test.go
  pkg/controller/logstash/logstash_controller.go
Labels: >refactoring, v2.10.0 (next)

#7045 Revert to helm release pipeline upload
  .buildkite/pipeline-release.yml
Labels: >bug, :ci

#7044 Remove experimental flag from stack config policies
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, v2.9.0, v2.10.0 (next)

#7019 Add to air-gapped doc how to use a mirrored operator image
  docs/operating-eck/air-gapped.asciidoc
Labels: >docs, v2.9.0, v2.10.0 (next)

#7047 Revert to helm release pipeline upload (#7045)
  .buildkite/pipeline-release.yml
Labels: >bug, :ci, backport, v2.9.0

#7048 Add to air-gapped doc how to use a mirrored operator image (#7019)
  docs/operating-eck/air-gapped.asciidoc
Labels: >docs, backport, v2.9.0

#7049 [2.9] Remove experimental flag from stack config policies (#7044)
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, backport

#7052 Skip TestVersionUpgradeAndRespecToLatest8x in 8.10.0-SNAPSHOT
  test/e2e/kb/version_upgrade_test.go
Labels: >flaky_test, v2.10.0 (next)

#7054 Switch docs to 2.9 post-release
  docs/eck-attributes.asciidoc
Labels: >docs

#7058 Remove SNAPSHOT from stack chart
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
Labels: >bug, exclude-from-release-notes, v2.9.0

#7056 Changes to operator hub tooling for 2.9 release
  .buildkite/pipeline-release-redhat.yml
  hack/operatorhub/README.md
  hack/operatorhub/cmd/bundle/bundle.go
  hack/operatorhub/cmd/flags/flags.go
  hack/operatorhub/config.yaml
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
  hack/operatorhub/internal/github/github.go
  hack/operatorhub/internal/operatorhub/operatorhub.go
  hack/operatorhub/internal/opm/opm.go
  hack/operatorhub/templates/annotations.tpl
  hack/operatorhub/templates/package.tpl
Labels: :ci, >non-issue, v2.9.0

#7059 [2.9] Changes to operator hub tooling for 2.9 release (#7056)
  .buildkite/pipeline-release-redhat.yml
  hack/operatorhub/README.md
  hack/operatorhub/cmd/bundle/bundle.go
  hack/operatorhub/cmd/flags/flags.go
  hack/operatorhub/config.yaml
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
  hack/operatorhub/internal/github/github.go
  hack/operatorhub/internal/operatorhub/operatorhub.go
  hack/operatorhub/internal/opm/opm.go
  hack/operatorhub/templates/annotations.tpl
  hack/operatorhub/templates/package.tpl
Labels: backport, >non-issue, exclude-from-release-notes

#7060 Make red-hat job not dependent on tag version of build
  .buildkite/pipeline-release-redhat.yml
  .buildkite/scripts/release/redhat-preflight.sh
  hack/operatorhub/trigger-rh-release.sh
Labels: >enhancement, :ci, v2.9.0

#7062 [2.9] Make red-hat job not dependent on tag version of build (#7060)
  .buildkite/pipeline-release-redhat.yml
  .buildkite/scripts/release/redhat-preflight.sh
  hack/operatorhub/trigger-rh-release.sh
Labels: :ci, backport, >non-issue

#7069 Update docker.elastic.co/../cloud-k8s-operator/buildkite-agent to 0479a053
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
Labels: :ci, >non-issue
