Repository elastic/cloud-on-k8s, pull requests merged in 2024-07, with the labels that each got.

#7927 Add metadata field to ES role model
  pkg/controller/elasticsearch/client/client.go
Labels: >enhancement, v2.14.0 (next)

#7937 Prepare to support OCP 4.16
  .buildkite/e2e/nightly-main-matrix.yaml
  .buildkite/e2e/release-branch-matrix.yaml
  README.md
  docs/supported-versions.asciidoc
  hack/deployer/config/plans.yml
  hack/operatorhub/templates/csv.tpl
Labels: :ci, >test

#7940 Upgrade gke k8s version to v1.27 for testing
  docs/advanced-topics/gke-autopilot.asciidoc
  hack/deployer/config/plans.yml
Labels: :ci, >test

#7941 Elasticsearch/Kibana Helm ECK-Stack Ingress support
  deploy/eck-stack/charts/eck-elasticsearch/examples/ingress/elasticsearch-ingress-aks.yaml
  deploy/eck-stack/charts/eck-elasticsearch/examples/ingress/elasticsearch-ingress-eks-alb.yaml
  deploy/eck-stack/charts/eck-elasticsearch/examples/ingress/elasticsearch-ingress-eks-nlb.yaml
  deploy/eck-stack/charts/eck-elasticsearch/examples/ingress/elasticsearch-ingress-gke.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/ingress.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/ingress_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-kibana/examples/ingress/kibana-aks.yaml
  deploy/eck-stack/charts/eck-kibana/examples/ingress/kibana-eks.yaml
  deploy/eck-stack/charts/eck-kibana/examples/ingress/kibana-gke.yaml
  deploy/eck-stack/charts/eck-kibana/templates/ingress.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/ingress_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/examples/elasticsearch/ingress/elasticsearch-ingress-gke.yaml
  deploy/eck-stack/examples/kibana/ingress/kibana-gke.yaml
  docs/orchestrating-elastic-stack-applications/stack-helm-chart.asciidoc
Labels: discuss, >feature, :helm-charts

#7925 Add option to disable self-signed transport certs
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/transport-settings.asciidoc
  docs/reference/api-docs.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1/zz_generated.deepcopy.go
  pkg/controller/elasticsearch/certificates/transport/reconcile.go
  pkg/controller/elasticsearch/certificates/transport/reconcile_test.go
  pkg/controller/elasticsearch/certificates/transport/transport_fixtures_test.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs.go
  pkg/controller/elasticsearch/initcontainer/prepare_fs_script.go
  pkg/controller/elasticsearch/nodespec/__snapshots__/podspec_test.snap
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/settings/merged_config.go
  pkg/controller/elasticsearch/volume/names.go
Labels: >enhancement, v2.14.0 (next)

#7950 Fix typo on SAML Authentication docs page
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, v2.14.0 (next)

#7951 Fix typo on SAML Authentication docs page (#7950)
  docs/orchestrating-elastic-stack-applications/security/saml-authentication.asciidoc
Labels: >docs, backport

#7954 [E2E] Use 2 nodes clusters for Kibana upgrade tests to 7.x
  test/e2e/kb/version_upgrade_test.go
Labels: >test, v2.14.0 (next)

#7955 [2.14][E2E] Use 2 nodes clusters for Kibana upgrade tests to 7.x
  test/e2e/kb/version_upgrade_test.go
Labels: >test, backport

#7958 Fix Discrepancy between Logstash Helm Chart and docs for pipelinesRef
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
Labels: >bug, :logstash, v2.14.0 (next)

#7960 External transport certs: doc improvements
  docs/orchestrating-elastic-stack-applications/elasticsearch/transport-settings.asciidoc
Labels: >docs, exclude-from-release-notes, v2.14.0

#7961 [2.14] External transport certs: doc improvements (#7960)
  docs/orchestrating-elastic-stack-applications/elasticsearch/transport-settings.asciidoc
Labels: >docs, backport

#7959 [2.14] Fix Logstash Helm chart (#7958)
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
Labels: >bug, backport, v2.14.0

#7963 Update openshift.asciidoc
  docs/advanced-topics/openshift.asciidoc
Labels: >docs, exclude-from-release-notes, v2.14.0

#7966 Report memory usage by application
  docs/operating-eck/licensing.asciidoc
  pkg/license/aggregator.go
  pkg/license/aggregator_test.go
  pkg/license/license.go
  pkg/license/license_test.go
  pkg/license/reporter.go
  pkg/license/reporter_test.go
  pkg/utils/metrics/operator.go
Labels: >enhancement, v2.14.0

#7967 [2.14] Report memory usage by application (#7966)
  docs/operating-eck/licensing.asciidoc
  pkg/license/aggregator.go
  pkg/license/aggregator_test.go
  pkg/license/license.go
  pkg/license/license_test.go
  pkg/license/reporter.go
  pkg/license/reporter_test.go
  pkg/utils/metrics/operator.go
Labels: >enhancement, backport

#7964 Update Kibana and APM routes in openshift.asciidoc (#7963)
  docs/advanced-topics/openshift.asciidoc
Labels: >docs, exclude-from-release-notes, v2.14.0

#7965 Document how to connect to unmanaged resources
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  docs/orchestrating-elastic-stack-applications/connect-to-unmanaged-resources.asciidoc
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
Labels: >docs, v2.14.0

#7973 [2.14] Update openshift.asciidoc (#7964)
  docs/advanced-topics/openshift.asciidoc
Labels: >docs, backport, exclude-from-release-notes, v2.14.0
