Repository elastic/cloud-on-k8s, pull requests merged in 2024-06, with the labels that each got.

#7869 Do not log registrations to prevent mapping explosion
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  pkg/controller/common/watches/handler.go
Labels: >bug, v2.14.0 (next)

#7847 Use readiness port
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  pkg/apis/elasticsearch/v1/fields.go
  pkg/controller/autoscaling/elasticsearch/controller_test.go
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/common/esclient/esclient.go
  pkg/controller/elasticsearch/client/base.go
  pkg/controller/elasticsearch/client/client.go
  pkg/controller/elasticsearch/client/client_test.go
  pkg/controller/elasticsearch/client/mock.go
  pkg/controller/elasticsearch/client/url.go
  pkg/controller/elasticsearch/client/v6.go
  pkg/controller/elasticsearch/configmap/configmap.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/nodespec/__snapshots__/podspec_test.snap
  pkg/controller/elasticsearch/nodespec/defaults.go
  pkg/controller/elasticsearch/nodespec/podspec.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/readiness_probe.go
  pkg/controller/elasticsearch/services/services.go
  pkg/controller/elasticsearch/services/services_test.go
  pkg/controller/elasticsearch/settings/merged_config.go
  pkg/controller/elasticsearch/settings/merged_config_test.go
  pkg/utils/k8s/k8sutils.go
  pkg/utils/log/log.go
  test/e2e/es/forced_upgrade_test.go
  test/e2e/test/elasticsearch/checks_http.go
  test/e2e/test/elasticsearch/http_client.go
Labels: >bug, v2.14.0 (next)

#7810 update eck attributes to 2.13
  docs/eck-attributes.asciidoc
Labels: >docs

#7871 update ci agent image that includes preflight 1.96
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
Labels: >enhancement, :ci, exclude-from-release-notes, v2.13.0

#7872 [2.13] update ci agent image (#7871)
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
  .golangci.yml
Labels: >enhancement, :ci, backport, v2.13.0

#7875 Fix panic and dropped error result
  pkg/controller/elasticsearch/driver/upgrade.go
  pkg/controller/elasticsearch/shutdown/node.go
  test/e2e/test/elasticsearch/checks_restart.go
Labels: >bug

#7873 post 2.13.0 updates
  .buildkite/e2e/nightly-main-matrix.yaml
  .buildkite/e2e/release-branch-matrix.yaml
  Makefile
  config/e2e/helm-monitoring-operator.yaml
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autopilot/elasticsearch.yaml
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/autopilot/kubernetes-integration.yaml
  config/recipes/autopilot/metricbeat_hosts.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/ksm-sharding.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash-eck.yaml
  config/recipes/logstash/logstash-es-role.yaml
  config/recipes/logstash/logstash-monitored.yaml
  config/recipes/logstash/logstash-multi.yaml
  config/recipes/logstash/logstash-pipeline-as-secret.yaml
  config/recipes/logstash/logstash-pipeline-as-volume.yaml
  config/recipes/logstash/logstash-volumes.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  config/samples/logstash/logstash.yaml
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_pv.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  config/samples/logstash/logstash_svc.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/templates/tests/elasticsearch_test.yaml
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/testdata/v2130/crds.yaml
  hack/upgrade-test-harness/testdata/v2130/install.yaml
  hack/upgrade-test-harness/testdata/v2130/stack.yaml
  pkg/controller/elasticsearch/nodespec/__snapshots__/podspec_test.snap
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  test/e2e/test/version.go
Labels: >non-issue, v2.13.0

#7877 reverting LatestReleasedVersion8x in e2e test to 8.13.2
  test/e2e/test/version.go
Labels: >test

#7885 [E2E] Handle 404 when deleting resources
  test/e2e/test/utils.go
Labels: >test

#7884 [E2E] Increase Agent memory on OpenShift
  test/e2e/test/agent/builder.go
Labels: >test

#7879 update release highlight 2.13.0
  docs/release-notes/highlights-2.13.0.asciidoc
Labels: >enhancement, >docs, v2.13.0

#7894 [2.13] update release highlight 2.13.0 (#7879)
  docs/release-notes/highlights-2.13.0.asciidoc
Labels: >docs, backport

#7897 [E2E] Increase Agent memory
  test/e2e/agent/recipes_test.go
  test/e2e/test/agent/builder.go
Labels: >test

#7896 Handle Serverless version in association versions check
  pkg/apis/common/v1/association.go
  pkg/controller/association/conf.go
  pkg/controller/association/conf_test.go
  pkg/controller/association/controller/agent_fleetserver.go
  pkg/controller/association/controller/apm_kibana.go
  pkg/controller/association/controller/kibana_ent.go
  pkg/controller/association/controller/kibana_es.go
  pkg/controller/association/reconciler.go
  pkg/controller/association/reconciler_test.go
  pkg/controller/association/secret.go
  pkg/controller/beat/common/stackmon/stackmon.go
Labels: >enhancement, v2.14.0 (next)

#7908 increase agent memory for azure as well
  test/e2e/cmd/run/run.go
  test/e2e/test/agent/builder.go
  test/e2e/test/context.go
Labels: >enhancement, :ci, exclude-from-release-notes

#7898 [DOCS] Add workaround for Enterprise Search security context
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
Labels: >docs

#7911 [DOCS] Add workaround for Enterprise Search security context (#7898)
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
Labels: >docs, backport

#7915 Increase Agent memory for recipes e2e tests
  test/e2e/agent/recipes_test.go
  test/e2e/test/agent/builder.go
Labels: >test

#7921 Minor fixes in Logstash docs
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs, exclude-from-release-notes, :logstash, v2.14.0 (next)
