Repository elastic/cloud-on-k8s, pull requests merged in 2024-11, with the labels that each got.

#8175 Ensure esclient is closed after each reconcile.
  pkg/controller/autoscaling/elasticsearch/controller_test.go
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/stackconfigpolicy/controller.go
  pkg/controller/stackconfigpolicy/controller_test.go
Labels: >bug, v2.15.0

#8180 [2.15] Ensure esclient is closed after each reconcile. (#8175)
  pkg/controller/autoscaling/elasticsearch/controller_test.go
  pkg/controller/autoscaling/elasticsearch/driver.go
  pkg/controller/stackconfigpolicy/controller.go
  pkg/controller/stackconfigpolicy/controller_test.go
Labels: >bug, backport, v2.15.0

#8182 fix beats test failure
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  pkg/controller/beat/common/pod_test.go
  test/e2e/beat/config.go
Labels: >bug, >test, exclude-from-release-notes, v2.16.0 (next)

#8172 Release notes and highlights for 2.15
  docs/release-notes.asciidoc
  docs/release-notes/2.15.0.asciidoc
  docs/release-notes/highlights-2.15.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, exclude-from-release-notes, v2.15.0

#8185 ECK S3 wrong truststore name in example
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >enhancement, >docs

#8187 [2.15] ECK S3 wrong truststore name in example (#8185)
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >docs, backport

#8191 [2.15] Release notes and highlights for 2.15 (#8172)
  docs/release-notes.asciidoc
  docs/release-notes/2.15.0.asciidoc
  docs/release-notes/highlights-2.15.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport, exclude-from-release-notes, v2.15.0

#8173 [DOC] Update ECK version attributes to 2.15
  docs/eck-attributes.asciidoc
Labels: >docs

#8196 Rename run-eck-diagnostics page to take-eck-dump
  docs/help.asciidoc
  docs/operating-eck/air-gapped.asciidoc
  docs/troubleshooting.asciidoc
  docs/troubleshooting/take-eck-dump.asciidoc
Labels: >docs, v2.15.0

#8197 [2.15] Rename run-eck-diagnostics page to take-eck-dump (#8196)
  docs/help.asciidoc
  docs/operating-eck/air-gapped.asciidoc
  docs/troubleshooting.asciidoc
  docs/troubleshooting/take-eck-dump.asciidoc
Labels: backport, triage

#8199 Updated CI agent image to f1709116
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
Labels: :ci, >non-issue

#8202 Fixed operatorhub release trigger script
  hack/operatorhub/trigger-rh-release.sh
Labels: :ci, >non-issue

#8198 Update stack monitoring Documentation Page
  docs/advanced-topics/stack-monitoring.asciidoc
Labels: >docs, v2.16.0 (next)

#8113 (Doc+) secure settings link K8 docs and note base64 encoded
  docs/orchestrating-elastic-stack-applications/elasticsearch/es-secure-settings.asciidoc
Labels: >docs, v2.16.0 (next)

#8128 (Doc+) quickstart+KB
  docs/operating-eck/eck-permissions.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/volume-claim-templates.asciidoc
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
  docs/overview.asciidoc
  docs/quickstart.asciidoc
Labels: >enhancement, >docs

#8166 Add Kibana to the Enterprise search sample
  config/samples/enterprisesearch/ent_es.yaml
Labels: >docs, v2.16.0 (next)

#8181 Document remote clusters using API keys
  docs/orchestrating-elastic-stack-applications/elasticsearch/remote-clusters.asciidoc
Labels: >docs, v2.16.0 (next)

#8249 Handle EnterpriseSearchRef in Kibana builder
  test/e2e/samples_test.go
Labels: >enhancement, >test

#8188 Add recommened roles for Elastic Agent on Kubernetes
  config/e2e/rbac.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
Labels: >bug, v2.16.0 (next)

#8247 Update the guidance for the stack config policy/role mapping issue
  docs/eck-attributes.asciidoc
  docs/troubleshooting/common-problems.asciidoc
Labels: >docs, v2.16.0 (next)

#8192 Make helm charts consistent with how fields in `spec` are handled. (kibana only)
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/examples/ingress/kibana-aks.yaml
  deploy/eck-stack/charts/eck-kibana/examples/ingress/kibana-eks.yaml
  deploy/eck-stack/charts/eck-kibana/examples/ingress/kibana-gke.yaml
  deploy/eck-stack/charts/eck-kibana/templates/kibana.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/examples/kibana/http-configuration.yaml
  deploy/eck-stack/examples/kibana/ingress/kibana-gke.yaml
Labels: discuss, >refactoring, :helm-charts, v2.16.0 (next)

#8251 Skip Beats stack monitoring e2e test when version >= 8.16
  test/e2e/beat/recipes_test.go
Labels: >test

#8252 [2.16] Update eck and stack versions for 2.16 release/branch.
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-operator/templates/tests/statefulset_test.yaml
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-apm-server/Chart.yaml
  deploy/eck-stack/charts/eck-apm-server/examples/jaeger-with-http-configuration.yaml
  deploy/eck-stack/charts/eck-apm-server/templates/tests/apmserver_test.yaml
  deploy/eck-stack/charts/eck-apm-server/values.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/ingress_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-enterprise-search/Chart.yaml
  deploy/eck-stack/charts/eck-enterprise-search/templates/tests/entsearch_test.yaml
  deploy/eck-stack/charts/eck-enterprise-search/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/ingress_test.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/charts/eck-logstash/Chart.yaml
  deploy/eck-stack/charts/eck-logstash/examples/basic-eck.yaml
  deploy/eck-stack/charts/eck-logstash/examples/es-role.yaml
  deploy/eck-stack/charts/eck-logstash/examples/monitored.yaml
  deploy/eck-stack/charts/eck-logstash/examples/multi.yaml
  deploy/eck-stack/charts/eck-logstash/examples/volumes.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  docs/eck-attributes.asciidoc
  hack/operatorhub/config.yaml
Labels: >non-issue

#8253 [doc] Update the guidance for the stack config policy/role mapping is…
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.6.2

#8254 [doc] Update the guidance for the stack config policy/role mapping is…
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.7.0

#8255 [doc] Update the guidance for the stack config policy/role mapping is…
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.8.0

#8256 [doc] Update the guidance for the stack config policy/role mapping is…
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.9.0

#8257 [doc] Update the guidance for the stack config policy/role mapping is…
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.10.0

#8259 [doc] Update the guidance for the stack config policy/role mapping is…
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.12.1

#8261 [doc] Update the guidance for the stack config policy/role mapping is…
  docs/eck-attributes.asciidoc
  docs/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.15.0

#8266 [E2E] Retry Agent mutation
  test/e2e/test/agent/steps.go
Labels: >test

#8271 [DOC] Document the need for an ingest node for Enterprise Search analytics
  config/samples/enterprisesearch/ent_es.yaml
Labels: >docs, v2.17.0 (next next)

#8272 [Helm] Add a setting to deploy FIPS compliant ECK image
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/templates/tests/statefulset_test.yaml
  deploy/eck-operator/values.yaml
  docs/advanced-topics/fips.asciidoc
Labels: >bug, :helm-charts, v2.16.0 (next)

#8275 [Helm] Add a setting to deploy FIPS compliant ECK image (#8272)
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/templates/tests/statefulset_test.yaml
  deploy/eck-operator/values.yaml
  docs/advanced-topics/fips.asciidoc
Labels: >bug, backport, :helm-charts

#8276 [2.16] Allow metrics stack monitoring w/o elasticseachRef (#8273)
  pkg/controller/beat/common/stackmon/metricbeat.tpl.yml
  pkg/controller/beat/common/stackmon/stackmon.go
  pkg/controller/beat/common/stackmon/stackmon_test.go
Labels: >bug, backport

#8277 [DOC] Remove node.remote_cluster_client from examples (#8274)
  docs/orchestrating-elastic-stack-applications/elasticsearch/advanced-node-scheduling.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/node-configuration.asciidoc
Labels: >docs, v2.16.0 (next)
