Repository elastic/cloud-on-k8s, pull requests merged in 2024-12, with the labels that each got.

#8246 Make helm charts consistent with how fields in spec are handled. (agent only)
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/elastic-agent.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/elastic-fleet-agent_test.yaml
Labels: >refactoring, :helm-charts, v2.16.0 (next)

#8248 Make helm charts consistent with how fields in spec are handled. (beat only)
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/beats.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
Labels: >refactoring, :helm-charts, v2.16.0 (next)

#8286 Remove additional spec references in Helm eck-stack chart.
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  deploy/eck-stack/values.yaml
Labels: >enhancement, :helm-charts, v2.16.0 (next)

#8284 Allow setting index field limit during stack monitoring e2e test.
  config/recipes/beats/stack_monitoring.yaml
  pkg/controller/common/stackmon/config.go
  pkg/controller/elasticsearch/stackmon/metricbeat.tpl.yml
  test/e2e/beat/recipes_test.go
Labels: >bug, >test

#8288 [2.16] Allow setting index field limit during stack monitoring e2e test. (#8284)
  config/recipes/beats/stack_monitoring.yaml
  pkg/controller/common/stackmon/config.go
  pkg/controller/elasticsearch/stackmon/metricbeat.tpl.yml
  test/e2e/beat/recipes_test.go
Labels: >test, backport

#8285 Make helm charts consistent with how fields in spec are handled. (fleet-server only)
  deploy/eck-stack/charts/eck-fleet-server/examples/fleet-server.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/fleet-server.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/examples/agent/fleet-agents.yaml
Labels: >enhancement, :helm-charts, v2.16.0 (next)

#8293 [2.16] Fix stack version in Helm Charts to 8.17.0 in 2.16 branch.
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-apm-server/examples/jaeger-with-http-configuration.yaml
  deploy/eck-stack/charts/eck-apm-server/templates/tests/apmserver_test.yaml
  deploy/eck-stack/charts/eck-apm-server/values.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-enterprise-search/templates/tests/entsearch_test.yaml
  deploy/eck-stack/charts/eck-enterprise-search/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/charts/eck-logstash/examples/basic-eck.yaml
  deploy/eck-stack/charts/eck-logstash/examples/es-role.yaml
  deploy/eck-stack/charts/eck-logstash/examples/monitored.yaml
  deploy/eck-stack/charts/eck-logstash/examples/multi.yaml
  deploy/eck-stack/charts/eck-logstash/examples/volumes.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
Labels: >bug, exclude-from-release-notes, v2.16.0

#8292 [2.16] Make helm charts consistent with how fields in spec are handled. (agent only) (#8246)
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/elastic-agent.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/elastic-fleet-agent_test.yaml
Labels: backport, >refactoring, :helm-charts

#8298 [2.16] Remove additional spec references in Helm eck-stack chart. (#8286)
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  deploy/eck-stack/values.yaml
Labels: backport, >refactoring, :helm-charts

#8300 Adjust versions in helm tests
  deploy/eck-stack/charts/eck-fleet-server/examples/fleet-server.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
Labels: >bug, exclude-from-release-notes

#8299 [2.16] eck-fleet-server: fix helm tests + change defaults (#8296)
  deploy/eck-stack/templates/tests/elastic-fleet-agent_test.yaml
Labels: backport, triage

#8305 [2.16] Make helm charts consistent with how fields in spec are handled. (fleet-server only) (#8285)
  deploy/eck-stack/charts/eck-fleet-server/examples/fleet-server.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/fleet-server.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  deploy/eck-stack/templates/tests/elastic-fleet-agent_test.yaml
Labels: backport, >refactoring, :helm-charts

#8301 2.16 release notes and highlights
  docs/release-notes.asciidoc
  docs/release-notes/2.16.0.asciidoc
  docs/release-notes/highlights-2.16.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs

#8302 Remove kube-rbac-proxy
  NOTICE.txt
  cmd/manager/main.go
  config/eck.yaml
  deploy/eck-operator/templates/cluster-roles.yaml
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/templates/metrics-service.yaml
  deploy/eck-operator/templates/role-bindings.yaml
  deploy/eck-operator/templates/service-monitor.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/templates/tests/service-monitor_test.yaml
  deploy/eck-operator/values.yaml
  docs/operating-eck/configure-operator-metrics.asciidoc
  docs/operating-eck/operator-config.asciidoc
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  pkg/controller/common/operator/flags.go
Labels: >enhancement, v2.16.0

#8313 [2.16] Remove kube-rbac-proxy (#8302)
  NOTICE.txt
  cmd/manager/main.go
  config/eck.yaml
  deploy/eck-operator/templates/cluster-roles.yaml
  deploy/eck-operator/templates/configmap.yaml
  deploy/eck-operator/templates/metrics-service.yaml
  deploy/eck-operator/templates/role-bindings.yaml
  deploy/eck-operator/templates/service-monitor.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/templates/tests/service-monitor_test.yaml
  deploy/eck-operator/values.yaml
  docs/operating-eck/configure-operator-metrics.asciidoc
  docs/operating-eck/operator-config.asciidoc
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  pkg/controller/common/operator/flags.go
Labels: >enhancement, backport

#8311 Set basePath in Metricbeat when using stack monitoring
  pkg/controller/beat/common/stackmon/stackmon.go
  pkg/controller/common/stackmon/config.go
  pkg/controller/common/stackmon/config_test.go
  pkg/controller/common/stackmon/sidecar.go
  pkg/controller/elasticsearch/stackmon/sidecar.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
  pkg/controller/kibana/stackmon/beat_config.go
  pkg/controller/kibana/stackmon/metricbeat.tpl.yml
  pkg/controller/kibana/stackmon/sidecar.go
  pkg/controller/kibana/stackmon/sidecar_test.go
  pkg/controller/logstash/stackmon/sidecar.go
  test/e2e/kb/stack_monitoring_test.go
Labels: >bug, v2.16.0

#8315 [2.16] Set basePath in Metricbeat when using stack monitoring (#8311)
  pkg/controller/beat/common/stackmon/stackmon.go
  pkg/controller/common/stackmon/config.go
  pkg/controller/common/stackmon/config_test.go
  pkg/controller/common/stackmon/sidecar.go
  pkg/controller/elasticsearch/stackmon/sidecar.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
  pkg/controller/kibana/stackmon/beat_config.go
  pkg/controller/kibana/stackmon/metricbeat.tpl.yml
  pkg/controller/kibana/stackmon/sidecar.go
  pkg/controller/kibana/stackmon/sidecar_test.go
  pkg/controller/logstash/stackmon/sidecar.go
  test/e2e/kb/stack_monitoring_test.go
Labels: >bug, backport

#8316 Adjust 2.16 release notes from recent changes.
  docs/release-notes/2.16.0.asciidoc
Labels: >docs

#8317 Fix cert-manager API version
  docs/orchestrating-elastic-stack-applications/security/custom-http-certificate.asciidoc
Labels: >docs

#8319 Remove trailing '*' in release notes.
  docs/release-notes/2.16.0.asciidoc
Labels: >docs

#8324 [2.16] Enterprise Search EOL (#8323)
  pkg/controller/common/version/version.go
Labels: >breaking, backport

#8326 Add enterprise search transition to 2.16 release notes.
  docs/release-notes/2.16.0.asciidoc
Labels: >docs

#8337 [E2E] Increase Agent memory from 640Mi to 756Mi
  test/e2e/test/agent/builder.go
Labels: >test

#8341 Bump golang.org/x/crypto from 0.29.0 to 0.31.0 (#8334)
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  hack/helm/release/go.mod
  hack/helm/release/go.sum
Labels: backport, >renovate, v2.16.0

#8263 Add Pod disruption Budget per nodeset and node role to documentation
  docs/orchestrating-elastic-stack-applications/elasticsearch/pod-disruption-budget.asciidoc
Labels: >docs, v2.16.0

#8342 Update release notes for 2.16
  docs/release-notes/2.16.0.asciidoc
Labels: >docs

#8343 Only conditionally set Kibana default security context.
  cmd/manager/main.go
  docs/release-notes/highlights-2.16.0.asciidoc
  pkg/controller/common/operator/parameters.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
  pkg/controller/kibana/securitycontext.go
Labels: >bug

#8344 [2.16] Only conditionally set Kibana default security context. (#8343)
  cmd/manager/main.go
  pkg/controller/common/operator/parameters.go
  pkg/controller/kibana/driver.go
  pkg/controller/kibana/driver_test.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
  pkg/controller/kibana/securitycontext.go
Labels: >bug, backport

#8345 [2.16] Backport release notes + highlights
  docs/release-notes.asciidoc
  docs/release-notes/2.16.0.asciidoc
  docs/release-notes/highlights-2.16.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#8348 [E2E][OCP] Restrict the use of the eck-e2e SCC to Agent and Beat Pods
  config/e2e/scc.yaml
  test/e2e/agent/config_test.go
  test/e2e/agent/tls_test.go
  test/e2e/agent/upgrade_test.go
  test/e2e/beat/config_test.go
  test/e2e/beat/recipes_test.go
  test/e2e/beat/setup_test.go
  test/e2e/beat/upgrade_test.go
  test/e2e/test/agent/builder.go
  test/e2e/test/beat/builder.go
  test/e2e/test/beat/pod_builder.go
  test/e2e/test/scc.go
Labels: >test, v2.17.0 (next)

#8349 [2.15] Update 'current' volume-claim-template link to be version specific.
  docs/operating-eck/eck-permissions.asciidoc
Labels: >bug, >docs

#8351 [2.14] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: triage

#8352 [2.13] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8354 [2.11] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8355 [2.10] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8356 [2.9] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8357 [2.8] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8358 [2.7] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8359 [2.6] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8360 [2.5] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8361 [2.4] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8362 [2.3] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8363 [2.2] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8364 [2.1] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8365 [2.0] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8366 [1.9] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8367 [1.8] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8368 [1.7] [2.15] Update 'current' volume-claim-template link to be version specific. (#8349)
  docs/operating-eck/eck-permissions.asciidoc
Labels: >docs, backport

#8303 [DOC] Update eck_version and eck_release_branch in eck-attributes for 2.16 release
  docs/eck-attributes.asciidoc
Labels: >docs

#8380 Add additional volume for Kibana logs when hardened security context is enabled
  pkg/controller/kibana/driver_test.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
Labels: >bug

#8376 [E2E][OCP] Set privileged SCC to additional Agents and Beats instances
  test/e2e/agent/config_test.go
  test/e2e/beat/config_test.go
  test/e2e/global_ca_test.go
  test/e2e/logstash/keystore_test.go
  test/e2e/logstash/logstash_test.go
  test/e2e/logstash/stack_monitoring_test.go
  test/e2e/stack_test.go
  test/e2e/test/logstash/builder.go
Labels: :ci, >test

#8372 Update golang.org/x/net to v0.33.0
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  hack/config-extractor/go.mod
  hack/config-extractor/go.sum
  hack/helm/release/go.mod
  hack/helm/release/go.sum
  hack/release-notes/go.mod
  hack/release-notes/go.sum
  hack/upgrade-test-harness/go.mod
  hack/upgrade-test-harness/go.sum
Labels: >renovate, dependencies, v3.0.0 (next)

#8350 Small UX improvement during Fleet setup
  pkg/controller/agent/driver.go
  pkg/controller/agent/fleet.go
  pkg/controller/common/http/http_client.go
Labels: >enhancement, v3.0.0 (next)

#8327 Refactor stack monitoring templating
  pkg/controller/beat/common/pod.go
  pkg/controller/beat/common/stackmon/stackmon.go
  pkg/controller/beat/common/stackmon/stackmon_test.go
  pkg/controller/common/stackmon/config.go
  pkg/controller/common/stackmon/config_test.go
  pkg/controller/common/stackmon/monitoring/monitoring_test.go
  pkg/controller/common/stackmon/sidecar.go
  pkg/controller/elasticsearch/stackmon/__snapshots__/sidecar_test.snap
  pkg/controller/elasticsearch/stackmon/metricbeat.tpl.yml
  pkg/controller/elasticsearch/stackmon/sidecar.go
  pkg/controller/elasticsearch/stackmon/sidecar_test.go
  pkg/controller/kibana/stackmon/__snapshots__/sidecar_test.snap
  pkg/controller/kibana/stackmon/metricbeat.tpl.yml
  pkg/controller/kibana/stackmon/sidecar.go
  pkg/controller/kibana/stackmon/sidecar_test.go
  pkg/controller/logstash/stackmon/__snapshots__/sidecar_test.snap
  pkg/controller/logstash/stackmon/metricbeat.tpl.yml
  pkg/controller/logstash/stackmon/sidecar.go
  pkg/controller/logstash/stackmon/sidecar_test.go
Labels: >refactoring, v3.0.0 (next)

#8383 Fix indentation in example with a Dead Letter Queue setup on the main…
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs
