Repository elastic/cloud-on-k8s, pull requests merged in 2024-10, with the labels that each got.

#8075 fix(deploy): move '$leading_path' variable definition in eck-operator
  deploy/eck-operator/templates/serviceMonitor.yaml
Labels: >bug, :helm-charts, v2.15.0 (next)

#8077 Upgrade OCP to 4.16.15
  .buildkite/e2e/nightly-main-matrix.yaml
  .buildkite/e2e/release-branch-matrix.yaml
  hack/deployer/config/plans.yml
Labels: :ci, >test

#8078 Upgrade OCP to 4.17.0
  .buildkite/e2e/nightly-main-matrix.yaml
  .buildkite/e2e/release-branch-matrix.yaml
  README.md
  docs/supported-versions.asciidoc
  hack/deployer/config/plans.yml
  hack/operatorhub/templates/csv.tpl
Labels: :ci, >test

#8080 Increase memory for the agent building amd64 images
  .buildkite/pipeline.yml
Labels: >bug, :ci

#8053 Handle Kibana basepath updates for fleet
  pkg/controller/agent/pod.go
  pkg/controller/association/controller/agent_fleetserver.go
  pkg/controller/association/controller/apm_es.go
  pkg/controller/association/controller/apm_kibana.go
  pkg/controller/association/controller/kibana_ent.go
  pkg/controller/association/reconciler_test.go
  pkg/controller/association/service.go
  pkg/controller/association/service_test.go
  pkg/controller/kibana/pod.go
  pkg/controller/kibana/pod_test.go
  test/e2e/apm/association_test.go
  test/e2e/test/kibana/builder.go
  test/e2e/test/kibana/http_client.go
Labels: >bug, v2.15.0 (next)

#8084 Fix broken link to StatefulSet update strategies in documentation
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, v2.15.0 (next)

#8051 Emphasize the importance of having snapshot
  docs/orchestrating-elastic-stack-applications/elasticsearch-specification.asciidoc
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >docs, v2.15.0 (next)

#8091 More meaningful error in readiness script
  pkg/controller/elasticsearch/nodespec/readiness_probe.go
Labels: >enhancement, v2.15.0 (next)

#8085 Update Maps Images to multi-arch
  .buildkite/e2e/nightly-main-matrix.yaml
  .buildkite/e2e/release-branch-matrix.yaml
  pkg/controller/common/container/container.go
  pkg/controller/common/container/container_test.go
  test/e2e/test/maps/builder.go
Labels: >enhancement, v2.15.0 (next)

#8087 Fix logstash templating issue.
  deploy/eck-stack/charts/eck-logstash/templates/logstash.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
Labels: >bug, v2.15.0 (next)

#8094 Log when k8s resources are created/updated/deleted successfully
  pkg/controller/common/reconciler/reconciler.go
Labels: >enhancement

#8092 Update supported versions to include Elastic Stack 9.x compatibility
  pkg/controller/common/version/version.go
  pkg/controller/elasticsearch/client/base.go
  pkg/controller/elasticsearch/version/supported_versions.go
  pkg/controller/logstash/validation/validations_test.go
Labels: >enhancement

#8099 [E2E] Update GKE K8s version from 1.27 to 1.30
  hack/deployer/config/plans.yml
Labels: :ci, >test, v2.15.0 (next)

#8110 [E2E] Update Logstash health check with the new health API standard
  test/e2e/logstash/pipeline_test.go
  test/e2e/test/logstash/checks.go
Labels: >test, :logstash, v2.15.0 (next)

#8112 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, v2.6.0, v2.7.0, v2.8.0, v2.9.0, v2.10.0, v2.11.0, v2.14.0, v2.15.0 (next)

#8123 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3 (#8112)
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.6.0

#8122 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3 (#8112)
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.7.0

#8121 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3 (#8112)
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.8.0

#8124 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3 (#8112)
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.9.0

#8119 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3 (#8112)
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.11.0

#8118 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3 (#8112)
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.12.0

#8117 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3 (#8112)
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.13.0

#8116 Document manual steps for reconfiguring role mappings after upgrading to ECK 8.15.3 (#8112)
  docs/eck-attributes.asciidoc
  docs/operating-eck/troubleshooting/common-problems.asciidoc
Labels: >docs, backport, v2.14.0

#8125 [DOC] Add is_managed: true to Agent policies
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  test/e2e/agent/config.go
Labels: >docs, v2.15.0 (next)

#8130 (Doc+) overview and support help
  docs/help.asciidoc
  docs/operating-eck/troubleshooting.asciidoc
  docs/overview.asciidoc
  docs/supported-versions.asciidoc
Labels: >enhancement, >docs

#8144 (Doc+) overview and support help (#8130)
  docs/help.asciidoc
  docs/operating-eck/troubleshooting.asciidoc
  docs/overview.asciidoc
  docs/supported-versions.asciidoc
Labels: >docs, backport, v2.15.0 (next)

#8141 Do not overwrite kibana config in test
  test/e2e/test/kibana/builder.go
Labels: >bug, >test, exclude-from-release-notes, v2.15.0 (next)

#8147 Temporarily skip Agent tests for 8.17.0-SNAPSHOT
  test/e2e/test/agent/builder.go
Labels: >test

#8148 [2.15] do not overwrite kibana config in test (#8141)
  test/e2e/test/kibana/builder.go
Labels: >bug, >test, backport, exclude-from-release-notes, v2.15.0

#8151 Clarify high availability recommendations in Elasticsearch orchestration docs
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >enhancement, >docs

#8153 [2.15] [DOC] Add is_managed: true to Agent policies (#8125)
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  deploy/eck-stack/examples/agent/fleet-agents.yaml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  test/e2e/agent/config.go
Labels: >docs, backport, v2.15.0

#8009 Add old readiness probe related ENVs
  pkg/controller/elasticsearch/nodespec/__snapshots__/podspec_test.snap
  pkg/controller/elasticsearch/nodespec/defaults.go
Labels: >bug, v2.15.0

#8155 [2.15] Add old readiness probe related ENVs (#8009)
  pkg/controller/elasticsearch/nodespec/__snapshots__/podspec_test.snap
  pkg/controller/elasticsearch/nodespec/defaults.go
Labels: >enhancement, backport, exclude-from-release-notes

#8154 Clarify high availability recommendations in Elasticsearch orchestrat…
  docs/orchestrating-elastic-stack-applications/elasticsearch/orchestration.asciidoc
Labels: >docs, backport, v2.15.0

#8145 [Docs] Move Troubleshooting section to top level of ToC
  .DS_Store
  docs/help.asciidoc
  docs/index.asciidoc
  docs/operating-eck/air-gapped.asciidoc
  docs/operating-eck/operating-eck.asciidoc
  docs/troubleshooting.asciidoc
  docs/troubleshooting/common-problems.asciidoc
  docs/troubleshooting/run-eck-diagnostics.asciidoc
  docs/troubleshooting/troubleshooting-methods.asciidoc
Labels: >docs, v2.15.0, v2.16.0 (next)

#8150 [docs] Add note on how to access generated Kibana encryptionKeys
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
Labels: >docs, v2.15.0, v2.16.0 (next)

#8160 [docs] Add note on how to access generated Kibana encryptionKeys (#8150)
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
Labels: >docs, backport, v2.15.0

#8158 Revert "Temporarily skip Agent tests for 8.17.0-SNAPSHOT due to unavailable image (#8147)"
  test/e2e/test/agent/builder.go
Labels: >test, v2.16.0 (next)

#8081 Re-enable assertion on operator role mappings
  test/e2e/es/stackconfigpolicy_test.go
Labels: :ci, >test

#8089 Support remote clusters using API keys
  cmd/manager/main.go
  config/crds/v1/all-crds.yaml
  config/crds/v1/resources/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/recipes/remoteclusters/elasticsearch.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/orchestrating-elastic-stack-applications/elasticsearch/transport-settings.asciidoc
  docs/reference/api-docs.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/apis/elasticsearch/v1/fields.go
  pkg/apis/elasticsearch/v1/name.go
  pkg/apis/elasticsearch/v1/remote_cluster.go
  pkg/apis/elasticsearch/v1/zz_generated.deepcopy.go
  pkg/controller/common/keystore/resources.go
  pkg/controller/common/keystore/user_secret.go
  pkg/controller/elasticsearch/certificates/transport/csr.go
  pkg/controller/elasticsearch/client/base.go
  pkg/controller/elasticsearch/client/client.go
  pkg/controller/elasticsearch/client/model.go
  pkg/controller/elasticsearch/client/remote_cluster.go
  pkg/controller/elasticsearch/client/v6.go
  pkg/controller/elasticsearch/client/v8.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/network/ports.go
  pkg/controller/elasticsearch/nodespec/podspec_test.go
  pkg/controller/elasticsearch/nodespec/resources.go
  pkg/controller/elasticsearch/nodespec/statefulset.go
  pkg/controller/elasticsearch/remotecluster/elasticsearch.go
  pkg/controller/elasticsearch/services/services.go
  pkg/controller/elasticsearch/settings/merged_config.go
  pkg/controller/elasticsearch/settings/merged_config_test.go
  pkg/controller/elasticsearch/validation/validations.go
  pkg/controller/elasticsearch/validation/validations_test.go
  pkg/controller/remoteca/controller.go
  pkg/controller/remoteca/controller_test.go
  pkg/controller/remotecluster/apikey.go
  pkg/controller/remotecluster/controller.go
  pkg/controller/remotecluster/controller_test.go
  pkg/controller/remotecluster/fixtures.go
  pkg/controller/remotecluster/keystore/changes_tracker.go
  pkg/controller/remotecluster/keystore/keystore.go
  pkg/controller/remotecluster/keystore/keystore_test.go
  pkg/controller/remotecluster/keystore/provider.go
  pkg/controller/remotecluster/labels.go
  pkg/controller/remotecluster/rbac.go
  pkg/controller/remotecluster/secret.go
  pkg/controller/remotecluster/watches.go
  pkg/telemetry/fixtures.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  pkg/utils/k8s/k8sutils.go
  test/e2e/es/remote_cluster_test.go
  test/e2e/test/elasticsearch/builder.go
  test/e2e/test/elasticsearch/checks_data.go
Labels: >feature, release-highlight, v2.16.0 (next)

#8165 Fix reset service type
  pkg/controller/common/service_control.go
  pkg/controller/common/service_control_test.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/services/services.go
  pkg/controller/elasticsearch/services/services_test.go
Labels: >bug, v2.15.0

#8169 Fix resetting service type to default when not specified (#8165)
  pkg/controller/common/service_control.go
  pkg/controller/common/service_control_test.go
  pkg/controller/elasticsearch/driver/driver.go
  pkg/controller/elasticsearch/services/services.go
  pkg/controller/elasticsearch/services/services_test.go
Labels: >bug, backport, v2.15.0
