Repository elastic/cloud-on-k8s, pull requests merged in 2024-02, with the labels that each got.

#7511 Update eck-attributes => 2.11.1
  docs/eck-attributes.asciidoc
Labels: >docs, exclude-from-release-notes

#7523 Fix having multiple `type` keys in eck-beats chart.
  deploy/eck-stack/charts/eck-beats/templates/beats.yaml
Labels: >bug, :helm-charts, v2.12.0 (next)

#7525 [2.11] Fix having multiple `type` keys in eck-beats chart. (#7523)
  deploy/eck-stack/charts/eck-beats/templates/beats.yaml
Labels: >bug, backport

#7526 Update ECK-stack Helm charts to 0.9.1
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-logstash/Chart.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
Labels: >bug

#7524 Schedule renovage PRs once a week
  .github/renovate.json
Labels: >renovate, exclude-from-release-notes

#7534 [2.11] Fix typo in 2.11.1 release notes (#7532)
  docs/release-notes/2.11.1.asciidoc
Labels: >docs, backport

#7536 Update upgrade-test-harness to use latest patch Elastic Stack versions
  hack/upgrade-test-harness/conf.yaml
Labels: >test

#7535 Update Elastic Stack version to v8.12.1
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autopilot/elasticsearch.yaml
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/autopilot/kubernetes-integration.yaml
  config/recipes/autopilot/metricbeat_hosts.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash-eck.yaml
  config/recipes/logstash/logstash-es-role.yaml
  config/recipes/logstash/logstash-monitored.yaml
  config/recipes/logstash/logstash-multi.yaml
  config/recipes/logstash/logstash-pipeline-as-secret.yaml
  config/recipes/logstash/logstash-pipeline-as-volume.yaml
  config/recipes/logstash/logstash-volumes.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  config/samples/logstash/logstash.yaml
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_pv.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  config/samples/logstash/logstash_svc.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  hack/upgrade-test-harness/conf.yaml
  test/e2e/test/version.go
Labels: >non-issue, v2.12.0 (next)

#7537 Update operator used in e2e tests to 2.11.1
  config/e2e/helm-monitoring-operator.yaml
Labels: >test

#7539 fix logstash PV test
  config/samples/logstash/logstash_pv.yaml
Labels: >test

#7540 Increase the default PVC size for logstash
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
  pkg/controller/logstash/logstash_controller_test.go
  pkg/controller/logstash/volume/defaults.go
Labels: >enhancement, :logstash, v2.12.0 (next)

#7533 ECK APM Server Helm Chart
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/README.md
  deploy/eck-stack/charts/eck-apm-server/.helmignore
  deploy/eck-stack/charts/eck-apm-server/Chart.yaml
  deploy/eck-stack/charts/eck-apm-server/LICENSE
  deploy/eck-stack/charts/eck-apm-server/examples/jaeger-with-http-configuration.yaml
  deploy/eck-stack/charts/eck-apm-server/templates/NOTES.txt
  deploy/eck-stack/charts/eck-apm-server/templates/_helpers.tpl
  deploy/eck-stack/charts/eck-apm-server/templates/apmserver.yaml
  deploy/eck-stack/charts/eck-apm-server/templates/tests/apmserver_test.yaml
  deploy/eck-stack/charts/eck-apm-server/values.yaml
  deploy/eck-stack/examples/apm-server/basic.yaml
  deploy/eck-stack/examples/apm-server/jaeger-with-http-configuration.yaml
  deploy/eck-stack/values.yaml
  docs/orchestrating-elastic-stack-applications/stack-helm-chart.asciidoc
Labels: >enhancement, :helm-charts, v2.12.0 (next)

#7556 Use test storage class for LS volume claim templates
  test/e2e/test/logstash/builder.go
Labels: >test

#7557 Logstash operator - Fix plugin docs
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs, :logstash, v2.12.0 (next)

#7558 Use test storage class for LS volume claim templates fr
  test/e2e/test/logstash/builder.go
Labels: >test

#7563 Fix typo in managing-compute-resources documentation
  docs/orchestrating-elastic-stack-applications/managing-compute-resources.asciidoc
Labels: >docs, v2.12.0 (next)

#7562 Cleanup any Logstash PVCs after test
  test/e2e/test/logstash/steps.go
Labels: >test

#7559 Update APM Server documentation for use since 8.x requiring Kibana.
  docs/orchestrating-elastic-stack-applications/apm-server.asciidoc
Labels: >docs, v2.12.0 (next)

#7579 Update tested OCP version to 4.14.12
  .buildkite/e2e/nightly-main-matrix.yaml
Labels: >test

#7580 fix(doc): use single-quote EOF to avoid expanding variables
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >bug, >docs, :logstash, v2.12.0 (next)

#7582 Remove noisy stack config policy log line
  pkg/controller/stackconfigpolicy/secure_setings.go
Labels: >enhancement, v2.12.0 (next)

#7581 Bumping Aks version for both CI and Dev for deployer
  hack/deployer/config/plans.yml
Labels: >test

#7584 Bump versions for next release
  .buildkite/e2e/nightly-main-matrix.yaml
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-apm-server/Chart.yaml
  deploy/eck-stack/charts/eck-apm-server/examples/jaeger-with-http-configuration.yaml
  deploy/eck-stack/charts/eck-apm-server/templates/tests/apmserver_test.yaml
  deploy/eck-stack/charts/eck-apm-server/values.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/charts/eck-logstash/Chart.yaml
  deploy/eck-stack/charts/eck-logstash/examples/basic-eck.yaml
  deploy/eck-stack/charts/eck-logstash/examples/es-role.yaml
  deploy/eck-stack/charts/eck-logstash/examples/monitored.yaml
  deploy/eck-stack/charts/eck-logstash/examples/multi.yaml
  deploy/eck-stack/charts/eck-logstash/examples/volumes.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  hack/operatorhub/config.yaml
Labels: >non-issue
