Repository elastic/cloud-on-k8s, pull requests merged in 2024-01, with the labels that each got.

#7421 [2.11] Remove useless --stdin argument from logstash-keystore add command (#7414)
  pkg/controller/logstash/keystore.go
Labels: >bug, backport, v2.11.0

#7387 Update k8s/ocp versions used in e2e tests
  .buildkite/e2e/nightly-main-matrix.yaml
Labels: >test

#7425 [Helm][Doc]Add StatefulSet as a deployment option for Elastic Agent
  deploy/eck-stack/charts/eck-agent/templates/elastic-agent.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
Labels: >feature, :helm-charts

#7430 fix(deps): update module github.com/prometheus/client_golang to v1.18.0 (#7417)
  NOTICE.txt
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  hack/helm/release/go.mod
  hack/helm/release/go.sum
  hack/manifest-gen/go.mod
  hack/manifest-gen/go.sum
  hack/upgrade-test-harness/go.sum
Labels: backport, >renovate

#7426 Fix docs example for deploying Elasticsearch with max-map-count-check
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, v2.12.0 (next)

#7431 [Helm][Doc]Add StatefulSet as a deployment option for Elastic Agent (#7425)
  deploy/eck-stack/charts/eck-agent/templates/elastic-agent.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  docs/orchestrating-elastic-stack-applications/agent-fleet.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
Labels: >docs, backport, :helm-charts

#7432 Fix docs example for deploying Elasticsearch with max-map-count-check (#7426)
  docs/orchestrating-elastic-stack-applications/elasticsearch/virtual-memory.asciidoc
Labels: >docs, backport

#7433 Rename resourceStatuses to details in StackConfigurationPolicy
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/stackconfigpolicy.k8s.elastic.co_stackconfigpolicies.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  pkg/apis/stackconfigpolicy/v1alpha1/stackconfigpolicy_types.go
  pkg/apis/stackconfigpolicy/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/stackconfigpolicy/controller_test.go
Labels: >bug, exclude-from-release-notes, v2.11.0

#7435 [2.11] Rename resourceStatuses to details in StackConfigurationPolicy (#7433)
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/stackconfigpolicy.k8s.elastic.co_stackconfigpolicies.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  pkg/apis/stackconfigpolicy/v1alpha1/stackconfigpolicy_types.go
  pkg/apis/stackconfigpolicy/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/stackconfigpolicy/controller_test.go
Labels: >bug, backport

#7436 Fix small typo in uninstall docs
  docs/operating-eck/uninstalling-eck.asciidoc
Labels: >docs, v2.12.0 (next)

#7428 Release notes and highlights for 2.11.0 release
  docs/release-notes.asciidoc
  docs/release-notes/2.11.0.asciidoc
  docs/release-notes/highlights-2.11.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, v2.11.0

#7439 Add breaking changes note to 2.11 release notes.
  docs/release-notes/2.11.0.asciidoc
Labels: >docs, v2.11.0

#7440 [Backport] [2.11] Release notes and highlights for 2.11.0 release (#7428), (#7439)
  docs/release-notes.asciidoc
  docs/release-notes/2.11.0.asciidoc
  docs/release-notes/highlights-2.11.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#7444 Update supported k8s/openshift versions.
  README.md
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
Labels: >docs

#7451 [2.11] Update supported k8s/openshift versions. (#7444)
  README.md
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
Labels: :ci, >test, backport

#7452 [2.11] e2e test enhancements for Stack Configuration Policy (#7448)
  test/e2e/beat/setup_test.go
  test/e2e/es/stackconfigpolicy_test.go
  test/e2e/kb/fixtures/stackconfigpolicy_kb.yaml
  test/e2e/kb/stackconfigpolicy_test.go
  test/e2e/test/apmserver/checks_apm.go
  test/e2e/test/elasticsearch/checks_volume.go
  test/e2e/test/kibana/checks_kb.go
  test/e2e/test/kibana/checks_telemetry.go
  test/e2e/test/kibana/http_client.go
Labels: >test, backport

#7453 Fix recent Red Hat certificate api changes.
  hack/operatorhub/internal/container/container.go
  hack/operatorhub/internal/container/types.go
Labels: >bug, :ci

#7455 use cluster health endpoint instead of the health report endpoint for scp e2e test
  test/e2e/es/stackconfigpolicy_test.go
Labels: >bug, >test

#7459 Accept automatic package upgrades when building the eck-ubi image
  build/Dockerfile-ubi
Labels: >bug, :ci, v2.11.0

#7460 Accept automatic package update when building the eck-ubi image (#7459)
  build/Dockerfile-ubi
Labels: >bug, :ci, backport

#7463 [2.11] use cluster health endpoint instead of the health report endpoint for scp e2e test (#7455)
  test/e2e/es/stackconfigpolicy_test.go
Labels: >test, backport, exclude-from-release-notes

#7434 Update eck-attributes for 2.11 release
  docs/eck-attributes.asciidoc
Labels: >docs, exclude-from-release-notes

#7481 Add --disable-nodegroup-eviction to fix eks cluster deletions failing.
  hack/deployer/runner/eks.go
Labels: >bug, :ci

#7483 Stack version upgrades post 2.11 release.
  .buildkite/e2e/nightly-main-matrix.yaml
  Makefile
  config/e2e/helm-monitoring-operator.yaml
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autopilot/elasticsearch.yaml
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/autopilot/kubernetes-integration.yaml
  config/recipes/autopilot/metricbeat_hosts.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash-eck.yaml
  config/recipes/logstash/logstash-es-role.yaml
  config/recipes/logstash/logstash-monitored.yaml
  config/recipes/logstash/logstash-multi.yaml
  config/recipes/logstash/logstash-pipeline-as-secret.yaml
  config/recipes/logstash/logstash-pipeline-as-volume.yaml
  config/recipes/logstash/logstash-volumes.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  config/samples/logstash/logstash.yaml
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  config/samples/logstash/logstash_svc.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/testdata/v2110/crds.yaml
  hack/upgrade-test-harness/testdata/v2110/install.yaml
  hack/upgrade-test-harness/testdata/v2110/stack.yaml
  test/e2e/test/version.go
Labels: >non-issue, v2.11.0

#7477 Fix dry-run of helm charts during release.
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release.yml
Labels: >bug, :ci

#7492 Reword 2.11 breaking changes for clarity
  docs/release-notes/2.11.0.asciidoc
Labels: >docs, v2.11.0

#7494 [2.11] Reword 2.11 breaking changes for clarity (#7492)
  docs/release-notes/2.11.0.asciidoc
Labels: >docs, backport

#7482 Update go to v1.21.6 and golangci-lint to v1.55.2
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
  .golangci.yml
  pkg/apis/logstash/v1alpha1/name_test.go
  pkg/controller/apmserver/deployment_test.go
  pkg/controller/association/user_test.go
  pkg/controller/autoscaling/elasticsearch/controller.go
  pkg/controller/elasticsearch/client/autoscaling_test.go
  pkg/controller/elasticsearch/client/v6.go
  pkg/controller/elasticsearch/driver/downscale_invariants_test.go
  pkg/controller/elasticsearch/driver/esstate_test.go
  pkg/controller/elasticsearch/driver/nodes.go
  pkg/controller/elasticsearch/driver/suspend.go
  pkg/controller/elasticsearch/driver/upscale.go
  pkg/controller/elasticsearch/nodespec/resources.go
  pkg/controller/elasticsearch/observer/observer_test.go
  pkg/controller/elasticsearch/reconcile/state.go
  pkg/controller/elasticsearch/version/zen1/minimum_masters.go
  pkg/controller/elasticsearch/version/zen2/initial_master_nodes_test.go
  pkg/controller/elasticsearch/version/zen2/voting_exclusions_test.go
  pkg/controller/kibana/controller_test.go
  pkg/controller/logstash/service.go
  pkg/controller/logstash/sset/sset.go
  pkg/controller/stackconfigpolicy/controller.go
  pkg/controller/stackconfigpolicy/controller_test.go
  pkg/utils/k8s/fake.go
  support/reattach-pv/main.go
  test/e2e/test/apmserver/builder.go
  test/e2e/test/beat/pod_builder.go
  test/e2e/test/diagnostics.go
  test/e2e/test/elasticsearch/checks_k8s.go
  test/e2e/test/enterprisesearch/http_client.go
  test/e2e/test/logstash/http_client.go
Labels: :ci, >test, v2.12.0 (next)

#7491 Temporarily disable data stream check in TestFleet*IntegrationRecipe e2e tests in 8.12.0
  test/e2e/agent/config_test.go
  test/e2e/agent/recipes_test.go
  test/e2e/agent/tls_test.go
Labels: >flaky_test

#7493 Remove secure settings field from SCP example
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/oidc-stack-config-policy.asciidoc
Labels: >docs, v2.11.0

#7408 Logstash adds TLS support to API server
  config/samples/logstash/logstash_pv.yml
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
  pkg/apis/logstash/v1alpha1/logstash_types.go
  pkg/apis/logstash/v1alpha1/logstash_types_test.go
  pkg/apis/logstash/v1alpha1/validations.go
  pkg/apis/logstash/v1alpha1/validations_test.go
  pkg/apis/logstash/v1alpha1/webhook_test.go
  pkg/controller/common/pod/spec.go
  pkg/controller/common/version/version.go
  pkg/controller/logstash/config.go
  pkg/controller/logstash/config_test.go
  pkg/controller/logstash/configs/api_server.go
  pkg/controller/logstash/driver.go
  pkg/controller/logstash/initcontainer.go
  pkg/controller/logstash/keystore.go
  pkg/controller/logstash/logstash_controller_test.go
  pkg/controller/logstash/pod.go
  pkg/controller/logstash/pod_test.go
  pkg/controller/logstash/service.go
  pkg/controller/logstash/service_test.go
  pkg/controller/logstash/stackmon/beat_config.go
  pkg/controller/logstash/stackmon/metricbeat.tpl.yml
  pkg/controller/logstash/stackmon/sidecar.go
  pkg/controller/logstash/stackmon/sidecar_test.go
  pkg/controller/logstash/volume/volumes.go
  pkg/controller/logstash/volume/volumes_test.go
  test/e2e/global_ca_test.go
  test/e2e/logstash/logstash_test.go
  test/e2e/logstash/stack_monitoring_test.go
  test/e2e/test/logstash/builder.go
  test/e2e/test/logstash/checks.go
  test/e2e/test/logstash/http_client.go
Labels: >enhancement, :logstash, v2.12.0 (next)

#7495 [2.11] Remove secure settings field from SCP example (#7493)
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/oidc-stack-config-policy.asciidoc
Labels: >docs, backport

#7497 Factorization by introducing WithFleetAgentDataStreamsValidation()
  test/e2e/agent/config_test.go
  test/e2e/agent/recipes_test.go
  test/e2e/agent/tls_test.go
  test/e2e/agent/upgrade_test.go
  test/e2e/test/agent/builder.go
Labels: >flaky_test

#7475 Fix Logstash crashes with env
  pkg/controller/logstash/initcontainer.go
  test/e2e/logstash/logstash_test.go
Labels: >bug, :logstash, v2.12.0 (next)

#7304 Add doc for using custom plugins and JAR files
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs, :logstash, v2.11.0

#7502 [2.11.1-wip] Fix dry-run of helm charts during release. (#7477) | Fix recent Red Hat certificate api changes. (#7453)
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release.yml
  hack/operatorhub/internal/container/container.go
  hack/operatorhub/internal/container/types.go
Labels: >bug, :ci, backport

#7503 Add caution concerning running differing versions of CRDs + operator
  docs/operating-eck/upgrading-eck.asciidoc
Labels: >docs, v2.12.0 (next)

#7500 Add resourceStatuses back into stack config policy status for backwards compatability
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/stackconfigpolicy.k8s.elastic.co_stackconfigpolicies.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/stackconfigpolicy/v1alpha1/stackconfigpolicy_types.go
  pkg/apis/stackconfigpolicy/v1alpha1/zz_generated.deepcopy.go
Labels: >enhancement, v2.12.0 (next)

#7506 [2.11.1-wip] Add resourceStatuses back into stack config policy status for backwards compatability (#7500)
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/stackconfigpolicy.k8s.elastic.co_stackconfigpolicies.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/apis/stackconfigpolicy/v1alpha1/stackconfigpolicy_types.go
  pkg/apis/stackconfigpolicy/v1alpha1/zz_generated.deepcopy.go
Labels: >enhancement

#7466 Logstash adds update strategy
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/logstash.k8s.elastic.co_logstashes.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
  docs/reference/api-docs.asciidoc
  pkg/apis/logstash/v1alpha1/logstash_types.go
  pkg/apis/logstash/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/logstash/logstash_controller_test.go
  pkg/controller/logstash/reconcile.go
  pkg/controller/logstash/sset/sset.go
Labels: >enhancement, :logstash, v2.12.0 (next)

#7509 Update version for 2.11.1 release.
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  docs/eck-attributes.asciidoc
  hack/operatorhub/config.yaml
Labels: >docs, exclude-from-release-notes

#7513 [2.11.1-wip] Release Notes + Highlights for 2.11.1 (#7510)
  docs/release-notes.asciidoc
  docs/release-notes/2.11.0.asciidoc
  docs/release-notes/2.11.1.asciidoc
  docs/release-notes/highlights-2.11.0.asciidoc
  docs/release-notes/highlights-2.11.1.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport

#7514 Synchronize generated CRDs
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/logstash.k8s.elastic.co_logstashes.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  pkg/controller/logstash/logstash_controller_test.go
Labels: >bug, exclude-from-release-notes, v2.12.0 (next)

#7520 fix: bind all k8sclient funcs to pointer receivers
  test/e2e/test/k8s_client.go
Labels: >enhancement, >test

#7522 Remove data stream check for Fleet/Agent e2e tests
  test/e2e/agent/config_test.go
  test/e2e/agent/recipes_test.go
  test/e2e/agent/tls_test.go
  test/e2e/agent/upgrade_test.go
  test/e2e/test/agent/builder.go
Labels: >test, backport
