Repository elastic/cloud-on-k8s, pull requests merged in 2024-09, with the labels that each got.

#8039 [2.14] Fix tls.enabled in Kibana Helm template ingress.yaml (#8032)
  deploy/eck-stack/charts/eck-kibana/templates/ingress.yaml
Labels: >bug, backport, :helm-charts

#8040 Update eck stack Helm charts to 0.12.1
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-apm-server/Chart.yaml
  deploy/eck-stack/charts/eck-apm-server/templates/tests/apmserver_test.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/ingress_test.yaml
  deploy/eck-stack/charts/eck-enterprise-search/Chart.yaml
  deploy/eck-stack/charts/eck-enterprise-search/templates/tests/entsearch_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/ingress_test.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-logstash/Chart.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
Labels: >bug, :helm-charts

#8041 Fix eck-stack kibana examples
  deploy/eck-stack/examples/kibana/ingress/kibana-gke.yaml
Labels: >bug, :helm-charts, v2.15.0 (next)

#8048 Add missing metricsets
  config/recipes/beats/stack_monitoring.yaml
  pkg/controller/common/stackmon/config.go
  pkg/controller/common/stackmon/config_test.go
  pkg/controller/common/stackmon/sidecar.go
  pkg/controller/elasticsearch/stackmon/metricbeat.tpl.yml
Labels: >enhancement, v2.15.0 (next)

#8057 Add warning for role mappings for 8.15
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/security/auth-configs-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/jwt-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/ldap-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/oidc-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/upgrading-stack.asciidoc
Labels: >docs, v2.6.0, v2.7.0, v2.6.1, v2.6.2, v2.8.0, v2.9.0, v2.10.0, v2.11.0, v2.12.0, v2.13.0, v2.14.0

#8059 [2.13] Add warning for role mappings for 8.15 (#8057)
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/security/auth-configs-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/jwt-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/ldap-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/oidc-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/upgrading-stack.asciidoc
Labels: >docs, backport

#8060 [2.12] Add warning for role mappings for 8.15 (#8057)
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/security/auth-configs-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/jwt-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/ldap-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/oidc-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/upgrading-stack.asciidoc
Labels: >docs, backport

#8061 [2.11] Add warning for role mappings for 8.15 (#8057)
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/security/auth-configs-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/jwt-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/ldap-using-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/oidc-stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/upgrading-stack.asciidoc
Labels: >docs, backport

#8062 [2.10] Add warning for role mappings for 8.15 (#8057)
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/upgrading-stack.asciidoc
Labels: >docs, backport

#8063 [2.9] Add warning for role mappings for 8.15 (#8057)
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/upgrading-stack.asciidoc
Labels: >docs, backport

#8064 [2.8] Add warning for role mappings for 8.15 (#8057)
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/upgrading-stack.asciidoc
Labels: >docs, backport

#8066 [2.6] Add warning for role mappings for 8.15 (#8057)
  docs/eck-attributes.asciidoc
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
  docs/orchestrating-elastic-stack-applications/upgrading-stack.asciidoc
Labels: >docs, backport

#8067 Skip CI if only ^docs/ changed
  .buildkite/pull-requests.json
Labels: >docs, :ci

#8070 Revert "Skip main CI pipeline when only docs change (#8067)"
  .buildkite/pull-requests.json
Labels: >bug, :ci
