Repository elastic/cloud-on-k8s, pull requests merged in 2024-04, with the labels that each got.

#7679 Update e2e test to cover upgrade using desired nodes API
  test/e2e/es/version_upgrade_test.go
  test/e2e/test/version.go
Labels: >test, v2.13.0 (next)

#7675 Update e2e monitoring eck operator to 2.12.1
  config/e2e/helm-monitoring-operator.yaml
Labels: >non-issue, v2.13.0 (next)

#7685 Document known issue for 2.12.0
  docs/release-notes/2.12.0.asciidoc
Labels: >docs, v2.12.0

#7687 Document known issue in 2.12.0 release notes (#7685)
  docs/release-notes/2.12.0.asciidoc
Labels: >docs, backport

#7693 Update docker.io/library/golang docker tag to v1.22.2
  build/Dockerfile
  build/Dockerfile-ubi
  hack/manifest-gen/Dockerfile
  test/e2e/Dockerfile
Labels: >renovate, v2.13.0 (next)

#7699 Update broken value file link for APM server Helm chart
  docs/orchestrating-elastic-stack-applications/stack-helm-chart.asciidoc
Labels: >docs, v2.12.1

#7701 [2.12] Update broken value file link for APM server Helm chart (#7699)
  docs/orchestrating-elastic-stack-applications/stack-helm-chart.asciidoc
Labels: >docs, backport

#7706 Support loadBalancerClass in service reconciliation
  pkg/controller/common/service_control.go
  pkg/controller/common/service_control_test.go
Labels: >bug, v2.13.0 (next)

#7716 Update current stack version to v8.13.2
  Makefile
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autopilot/elasticsearch.yaml
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/autopilot/kubernetes-integration.yaml
  config/recipes/autopilot/metricbeat_hosts.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/ksm-sharding.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash-eck.yaml
  config/recipes/logstash/logstash-es-role.yaml
  config/recipes/logstash/logstash-monitored.yaml
  config/recipes/logstash/logstash-multi.yaml
  config/recipes/logstash/logstash-pipeline-as-secret.yaml
  config/recipes/logstash/logstash-pipeline-as-volume.yaml
  config/recipes/logstash/logstash-volumes.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  config/samples/logstash/logstash.yaml
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_pv.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  config/samples/logstash/logstash_svc.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/testdata/v2121/stack.yaml
  test/e2e/test/version.go
Labels: :ci, >non-issue

#7720 bump serverless-docker-builder version
  .buildkite/pipeline.yml
Labels: :ci, >non-issue

#7725 Update indentation of ldap example
  docs/orchestrating-elastic-stack-applications/security/managing-authentication-for-multiple-stacks/ldap-using-stack-config-policy.asciidoc
Labels: >docs, v2.13.0 (next)

#7708 Beats index permissions compatibility with ECS index naming
  pkg/controller/elasticsearch/user/roles.go
Labels: >enhancement

#7740 Downgrade e2e monitoring agent
  config/e2e/monitoring.yaml
Labels: :ci, >test

#7690 fix(eck-operator): make automountServiceAccountToken configurable
  deploy/eck-operator/profile-disable-automounting-api.yaml
  deploy/eck-operator/templates/service-account.yaml
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/templates/tests/statefulset_test.yaml
  deploy/eck-operator/values.yaml
Labels: >enhancement, :helm-charts, v2.13.0 (next)

#7743 Bump GKE version in tests to 1.26, AKS 1.29
  hack/deployer/config/plans.yml
Labels: :ci, >test

#7702 Doc: Working with Logstash Plugins on ECK
  docs/orchestrating-elastic-stack-applications/logstash.asciidoc
Labels: >docs, :logstash

#7688 feat(helm/operator): statefulset labels and annotations
  deploy/eck-operator/templates/statefulset.yaml
  deploy/eck-operator/templates/tests/statefulset_test.yaml
  deploy/eck-operator/values.yaml
Labels: >feature, :helm-charts, v2.13.0 (next)

#7744 ECK Enterprise Search Helm Chart.
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-enterprise-search/.helmignore
  deploy/eck-stack/charts/eck-enterprise-search/Chart.yaml
  deploy/eck-stack/charts/eck-enterprise-search/examples/with-custom-configuration.yaml
  deploy/eck-stack/charts/eck-enterprise-search/templates/_helpers.tpl
  deploy/eck-stack/charts/eck-enterprise-search/templates/enterprisesearch.yaml
  deploy/eck-stack/charts/eck-enterprise-search/templates/tests/entsearch_test.yaml
  deploy/eck-stack/charts/eck-enterprise-search/values.yaml
  deploy/eck-stack/examples/enterprise-search/basic.yaml
  deploy/eck-stack/examples/enterprise-search/with-custom-configuration.yaml
  deploy/eck-stack/values.yaml
  docs/orchestrating-elastic-stack-applications/stack-helm-chart.asciidoc
Labels: >feature, :helm-charts, v2.13.0 (next)

#7723 Allow disabling of elastic user.
  cmd/manager/main.go
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/orchestrating-elastic-stack-applications/security/users-and-roles.asciidoc
  docs/quickstart.asciidoc
  docs/reference/api-docs.asciidoc
  pkg/apis/elasticsearch/v1/elasticsearch_types.go
  pkg/controller/elasticsearch/user/predefined.go
  pkg/controller/elasticsearch/user/predefined_test.go
  pkg/controller/elasticsearch/user/reconcile_test.go
  pkg/controller/elasticsearch/user/roles.go
  test/e2e/test/elasticsearch/checks_k8s.go
Labels: >enhancement, >docs, v2.13.0 (next)

#7750 Do not assume cgroup mem info present
  test/e2e/test/elasticsearch/checks_es.go
Labels: :ci, >test

#7756 Make autopilot e2e test run on 1.26
  test/e2e/cmd/run/run.go
Labels: :ci, >test

#7741 update support Kubernetes version
  .buildkite/e2e/nightly-main-matrix.yaml
  README.md
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
Labels: >docs, v2.13.0 (next)

#7761 Use new release of eck-diagnostics (1.7.0)
  test/e2e/Dockerfile
Labels: >test

#7762 update stack and eck operator version
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-operator/templates/tests/statefulset_test.yaml
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-apm-server/Chart.yaml
  deploy/eck-stack/charts/eck-apm-server/examples/jaeger-with-http-configuration.yaml
  deploy/eck-stack/charts/eck-apm-server/templates/tests/apmserver_test.yaml
  deploy/eck-stack/charts/eck-apm-server/values.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-enterprise-search/Chart.yaml
  deploy/eck-stack/charts/eck-enterprise-search/templates/tests/entsearch_test.yaml
  deploy/eck-stack/charts/eck-enterprise-search/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/charts/eck-logstash/Chart.yaml
  deploy/eck-stack/charts/eck-logstash/examples/basic-eck.yaml
  deploy/eck-stack/charts/eck-logstash/examples/es-role.yaml
  deploy/eck-stack/charts/eck-logstash/examples/monitored.yaml
  deploy/eck-stack/charts/eck-logstash/examples/multi.yaml
  deploy/eck-stack/charts/eck-logstash/examples/volumes.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  docs/eck-attributes.asciidoc
  hack/operatorhub/config.yaml
  hack/upgrade-test-harness/conf.yaml
Labels: >enhancement, exclude-from-release-notes, v2.13.0 (next)

#7763 update version to 8.15 and 2.14
  .buildkite/e2e/nightly-main-matrix.yaml
  VERSION
  deploy/eck-operator/Chart.yaml
  deploy/eck-operator/charts/eck-operator-crds/Chart.yaml
  deploy/eck-operator/templates/tests/statefulset_test.yaml
  deploy/eck-stack/Chart.yaml
  deploy/eck-stack/charts/eck-agent/Chart.yaml
  deploy/eck-stack/charts/eck-agent/examples/fleet-agents.yaml
  deploy/eck-stack/charts/eck-agent/examples/system-integration.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent-service-account_test.yaml
  deploy/eck-stack/charts/eck-agent/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/charts/eck-agent/values.yaml
  deploy/eck-stack/charts/eck-apm-server/Chart.yaml
  deploy/eck-stack/charts/eck-apm-server/examples/jaeger-with-http-configuration.yaml
  deploy/eck-stack/charts/eck-apm-server/templates/tests/apmserver_test.yaml
  deploy/eck-stack/charts/eck-apm-server/values.yaml
  deploy/eck-stack/charts/eck-beats/Chart.yaml
  deploy/eck-stack/charts/eck-beats/examples/auditbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/examples/heartbeat_es_kb_health.yaml
  deploy/eck-stack/charts/eck-beats/examples/metricbeat_hosts.yaml
  deploy/eck-stack/charts/eck-beats/examples/packetbeat_dns_http.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-metricbeat-example_test.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats_test.yaml
  deploy/eck-stack/charts/eck-beats/values.yaml
  deploy/eck-stack/charts/eck-elasticsearch/Chart.yaml
  deploy/eck-stack/charts/eck-elasticsearch/templates/tests/elasticsearch_test.yaml
  deploy/eck-stack/charts/eck-elasticsearch/values.yaml
  deploy/eck-stack/charts/eck-enterprise-search/Chart.yaml
  deploy/eck-stack/charts/eck-enterprise-search/templates/tests/entsearch_test.yaml
  deploy/eck-stack/charts/eck-enterprise-search/values.yaml
  deploy/eck-stack/charts/eck-fleet-server/Chart.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role-binding_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-cluster-role_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server-service-account_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/templates/tests/fleet-server_test.yaml
  deploy/eck-stack/charts/eck-fleet-server/values.yaml
  deploy/eck-stack/charts/eck-kibana/Chart.yaml
  deploy/eck-stack/charts/eck-kibana/examples/http-configuration.yaml
  deploy/eck-stack/charts/eck-kibana/templates/tests/kibana_test.yaml
  deploy/eck-stack/charts/eck-kibana/values.yaml
  deploy/eck-stack/charts/eck-logstash/Chart.yaml
  deploy/eck-stack/charts/eck-logstash/examples/basic-eck.yaml
  deploy/eck-stack/charts/eck-logstash/examples/es-role.yaml
  deploy/eck-stack/charts/eck-logstash/examples/monitored.yaml
  deploy/eck-stack/charts/eck-logstash/examples/multi.yaml
  deploy/eck-stack/charts/eck-logstash/examples/volumes.yaml
  deploy/eck-stack/charts/eck-logstash/templates/tests/logstash_test.yaml
  deploy/eck-stack/charts/eck-logstash/values.yaml
  deploy/eck-stack/examples/beats/metricbeat_hosts.yaml
  deploy/eck-stack/examples/custom-elasticsearch-kibana.yaml
  deploy/eck-stack/templates/tests/beats_test.yaml
  deploy/eck-stack/templates/tests/elastic-agent_test.yaml
  deploy/eck-stack/templates/tests/kibana_test.yaml
  hack/operatorhub/config.yaml
Labels: >enhancement, exclude-from-release-notes
