Repository elastic/cloud-on-k8s, pull requests merged in 2024-08, with the labels that each got.

#7962 Release notes and highlights for 2.14
  docs/operating-eck/upgrading-eck.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.14.0.asciidoc
  docs/release-notes/highlights-2.14.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, exclude-from-release-notes, v2.14.0

#7974 [2.14] Release notes and highlights for 2.14
  docs/operating-eck/upgrading-eck.asciidoc
  docs/orchestrating-elastic-stack-applications/agent-standalone.asciidoc
  docs/orchestrating-elastic-stack-applications/connect-to-unmanaged-resources.asciidoc
  docs/orchestrating-elastic-stack-applications/enterprise-search.asciidoc
  docs/orchestrating-elastic-stack-applications/kibana.asciidoc
  docs/orchestrating-elastic-stack-applications/orchestrating-elastic-stack-applications.asciidoc
  docs/release-notes.asciidoc
  docs/release-notes/2.14.0.asciidoc
  docs/release-notes/highlights-2.14.0.asciidoc
  docs/release-notes/highlights.asciidoc
Labels: >docs, backport, v2.14.0

#7982 Upgrade test harness fixes
  hack/upgrade-test-harness/conf.yaml
  hack/upgrade-test-harness/k8s/kubectl.go
  hack/upgrade-test-harness/testdata/v2100/install.yaml
  hack/upgrade-test-harness/testdata/v2100/stack.yaml
  hack/upgrade-test-harness/testdata/v2111/stack.yaml
  hack/upgrade-test-harness/testdata/v2121/stack.yaml
  hack/upgrade-test-harness/testdata/v2130/stack.yaml
  hack/upgrade-test-harness/testdata/v290/stack.yaml
Labels: >test, exclude-from-release-notes

#7980 Add AZ workload identity documentation
  docs/orchestrating-elastic-stack-applications/elasticsearch/snapshots.asciidoc
Labels: >docs

#7992 chore(renovate): ignore unnecessary package update
  .github/renovate.json
Labels: >renovate

#7985 [DOC] Update ECK version attributes to 2.14
  docs/eck-attributes.asciidoc
Labels: >docs

#7995 [Post 2.14] s/8.14.0/8.15.0/g
  .buildkite/e2e/release-branch-matrix.yaml
  Makefile
  config/e2e/helm-monitoring-operator.yaml
  config/e2e/monitoring.yaml
  config/recipes/apm-server-jaeger/apm-server-jaeger.yaml
  config/recipes/associations-rbac/apm_es_kibana_rbac.yaml
  config/recipes/autopilot/elasticsearch.yaml
  config/recipes/autopilot/fleet-kubernetes-integration.yaml
  config/recipes/autopilot/kubernetes-integration.yaml
  config/recipes/autopilot/metricbeat_hosts.yaml
  config/recipes/autoscaling/elasticsearch.yaml
  config/recipes/beats/auditbeat_hosts.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/heartbeat_es_kb_health.yaml
  config/recipes/beats/metricbeat_hosts.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/packetbeat_dns_http.yaml
  config/recipes/beats/stack_monitoring.yaml
  config/recipes/elastic-agent/fleet-apm-integration.yaml
  config/recipes/elastic-agent/fleet-custom-logs-integration.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration-nonroot.yaml
  config/recipes/elastic-agent/fleet-kubernetes-integration.yaml
  config/recipes/elastic-agent/ksm-sharding.yaml
  config/recipes/elastic-agent/kubernetes-integration.yaml
  config/recipes/elastic-agent/multi-output.yaml
  config/recipes/elastic-agent/system-integration.yaml
  config/recipes/gclb/01-elastic-stack.yaml
  config/recipes/gclb/99-kibana-path.yaml
  config/recipes/istio-gateway/03-elasticsearch-kibana.yaml
  config/recipes/logstash/logstash-eck.yaml
  config/recipes/logstash/logstash-es-role.yaml
  config/recipes/logstash/logstash-monitored.yaml
  config/recipes/logstash/logstash-multi.yaml
  config/recipes/logstash/logstash-pipeline-as-secret.yaml
  config/recipes/logstash/logstash-pipeline-as-volume.yaml
  config/recipes/logstash/logstash-volumes.yaml
  config/recipes/maps/01-ems.yaml
  config/recipes/maps/02-es-kb.yaml
  config/recipes/traefik/02-elastic-stack.yaml
  config/samples/apm/apm_es_kibana.yaml
  config/samples/elasticsearch/elasticsearch.yaml
  config/samples/enterprisesearch/ent_es.yaml
  config/samples/kibana/kibana_es.yaml
  config/samples/logstash/logstash.yaml
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_pv.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  config/samples/logstash/logstash_svc.yaml
  test/e2e/test/version.go
Labels: >test, exclude-from-release-notes

#8002 Remove e2e tests on 8.15.0-SNAPSHOT
  .buildkite/e2e/nightly-main-matrix.yaml
Labels: >test

#7990 runner: preallocate memory
  hack/deployer/runner/tags.go
Labels: >non-issue, exclude-from-release-notes

#8005 Do not parse the version twice.
  pkg/controller/elasticsearch/nodespec/podspec.go
Labels: >enhancement, v2.15.0 (next)

#8010 Document known issue
  docs/orchestrating-elastic-stack-applications/elasticsearch/readiness.asciidoc
  docs/release-notes/2.14.0.asciidoc
  docs/release-notes/highlights-2.14.0.asciidoc
Labels: >docs, v2.14.0

#8012 [2.14] Document known issue (#8010)
  docs/orchestrating-elastic-stack-applications/elasticsearch/readiness.asciidoc
  docs/release-notes/2.14.0.asciidoc
  docs/release-notes/highlights-2.14.0.asciidoc
Labels: >docs, backport

#8008 Remove tanzu support
  .buildkite/e2e/nightly-main-matrix.yaml
  .buildkite/e2e/pipeline-gen/main.go
  .buildkite/e2e/release-branch-matrix.yaml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  Makefile
  hack/deployer/cmd/create.go
  hack/deployer/config/plans.yml
  hack/deployer/runner/settings.go
  hack/deployer/runner/tanzu.go
  test/e2e/cmd/run/run.go
  test/e2e/test/agent/builder.go
  test/e2e/test/context.go
Labels: >test

#8021 TestFleet* Bump memory a bit
  test/e2e/test/agent/builder.go
Labels: :ci, >test

#8022 [DOC] Fix request endpoint step flow
  docs/quickstart.asciidoc
Labels: >docs, v2.14.0

#8020 Upgrade to controller-runtime 0.19.0
  .buildkite/pipeline.yml
  NOTICE.txt
  config/crds/v1/all-crds.yaml
  config/crds/v1/bases/agent.k8s.elastic.co_agents.yaml
  config/crds/v1/bases/apm.k8s.elastic.co_apmservers.yaml
  config/crds/v1/bases/autoscaling.k8s.elastic.co_elasticsearchautoscalers.yaml
  config/crds/v1/bases/beat.k8s.elastic.co_beats.yaml
  config/crds/v1/bases/elasticsearch.k8s.elastic.co_elasticsearches.yaml
  config/crds/v1/bases/enterprisesearch.k8s.elastic.co_enterprisesearches.yaml
  config/crds/v1/bases/kibana.k8s.elastic.co_kibanas.yaml
  config/crds/v1/bases/logstash.k8s.elastic.co_logstashes.yaml
  config/crds/v1/bases/maps.k8s.elastic.co_elasticmapsservers.yaml
  config/crds/v1/bases/stackconfigpolicy.k8s.elastic.co_stackconfigpolicies.yaml
  deploy/eck-operator/charts/eck-operator-crds/templates/all-crds.yaml
  docs/reference/dependencies.asciidoc
  go.mod
  go.sum
  hack/helm/release/go.mod
  hack/helm/release/go.sum
  pkg/apis/common/v1/monitoring.go
  pkg/controller/common/watches/handler.go
  pkg/controller/common/watches/handler_test.go
  pkg/controller/common/watches/named_watch.go
  pkg/controller/common/watches/owner_watch.go
  pkg/controller/common/watches/pods.go
  pkg/controller/common/watches/secrets.go
  pkg/controller/remoteca/watches.go
  pkg/controller/stackconfigpolicy/controller.go
  test/e2e/cmd/run/eventlog.go
Labels: >enhancement

#7977 Move to Wolfi-based images
  build/Dockerfile
Labels: >enhancement, v2.15.0 (next)

#8032 Fix ingress.yaml for using tls.enabled boolean variable in helm template of kibana.
  deploy/eck-stack/charts/eck-kibana/templates/ingress.yaml
Labels: >bug, :helm-charts

#8011 Add watcher for statefulsets in agent controller
  pkg/controller/agent/controller.go
Labels: >bug, v2.15.0 (next)
