Repository elastic/cloud-on-k8s, pull requests merged in 2025-02, with the labels that each got.

#8451 Check EntSearch version within range
  test/e2e/test/enterprisesearch/builder.go
Labels: :ci, >test

#8455 Move away from deprecated container input
  test/e2e/beat/config_test.go
Labels: >test

#8457 Adding a note about not using configured component templates from API-created index templates
  docs/orchestrating-elastic-stack-applications/stack-config-policy.asciidoc
Labels: >docs, exclude-from-release-notes, v3.0.0 (next)

#8460 Logstash e2e: ssl => ssl_enabled and fix supported versions listing
  README.md
  docs/supported-versions.asciidoc
  hack/operatorhub/templates/csv.tpl
  test/e2e/logstash/es_output_test.go
Labels: >test

#8456 Remove remaining references to deprecated container input in Beats
  config/e2e/monitoring.yaml
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/stack_monitoring.yaml
  deploy/eck-stack/charts/eck-beats/examples/filebeat_no_autodiscover.yaml
  deploy/eck-stack/charts/eck-beats/templates/tests/beats-filebeat-example_test.yaml
  docs/orchestrating-elastic-stack-applications/beat.asciidoc
  pkg/apis/common/v1/common.go
  test/e2e/beat/config.go
  test/e2e/beat/config_test.go
Labels: >docs, >test

#8461 Logstash: cacert is now ssl_certificate_authorities
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  hack/upgrade-test-harness/testdata/upcoming/stack.yaml
  test/e2e/logstash/es_output_test.go
Labels: >test

#8472 Fix diskSizeGb parameter
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
Labels: >test

#8475 Replace obsoleted SSL param in Logstash sample config.
  config/samples/logstash/logstash_es.yaml
  config/samples/logstash/logstash_stackmonitor.yaml
  hack/upgrade-test-harness/testdata/upcoming/stack.yaml
Labels: >test, :logstash

#8464 Upgrade Istio API: Migrate Policy to PeerAuthentication
  config/recipes/istio-gateway/00-prereq-mtls.yaml
  config/recipes/istio-gateway/05-gateway.yaml
  config/recipes/istio-gateway/06-es-traffic-split.yaml
  config/recipes/istio-gateway/07-kibana.yaml
Labels: >docs

#8469 Fix formatting typo
  docs/quickstart.asciidoc
Labels: >docs, exclude-from-release-notes, v3.0.0 (next)

#8492 update openshift version in e2e nightly main matrix
  .buildkite/e2e/nightly-main-matrix.yaml
  .buildkite/e2e/release-branch-matrix.yaml
  hack/deployer/config/plans.yml
Labels: >test, exclude-from-release-notes, v3.0.0 (next)

#8493 [docs] Add the new docs CI checks
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: >docs
