Repository elastic/cloud-on-k8s, pull requests merged in 2025-06, with the labels that each got.

#8679 Move from deprecated container input to filestream
  config/recipes/beats/filebeat_autodiscover.yaml
  config/recipes/beats/filebeat_autodiscover_by_metadata.yaml
  config/recipes/beats/filebeat_no_autodiscover.yaml
  config/recipes/beats/openshift_monitoring.yaml
  config/recipes/beats/stack_monitoring.yaml
  deploy/eck-operator/templates/statefulset.yaml
  hack/operatorhub/templates/csv.tpl
Labels: >bug, v3.1.0 (next)

#8685 docs[CONTRIBUTING.md]: Fix link of signing CLA.
  CONTRIBUTING.md
Labels: >docs, exclude-from-release-notes

#8675 Update test case name for unmanaged Kibana instance to reflect correct behavior regarding observedGeneration increment
  pkg/controller/kibana/controller_test.go
Labels: >test, v3.1.0 (next)

#8692 [E2E] Only override memory for non fleet managed Agents only
  test/e2e/agent/config_test.go
  test/e2e/metadata_propagation_test.go
  test/e2e/test/agent/builder.go
Labels: >test

#8697 [E2E] Increase memory for non Fleet managed Agents also in TestGlobalCA
  test/e2e/global_ca_test.go
Labels: >test

#8706 fix: Cannot disable TLS in Logstash
  pkg/controller/logstash/config.go
  pkg/controller/logstash/service.go
  pkg/controller/logstash/service_test.go
  test/e2e/logstash/logstash_test.go
  test/e2e/test/logstash/checks.go
Labels: >bug, v3.1.0 (next)
