Repository elastic/cloud-on-k8s, pull requests merged in 2025-07, with the labels that each got.

#8720 Update eksctl ClusterConfig to create K8s 1.33 clusters
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
  hack/deployer/config/plans.yml
  hack/deployer/runner/eks.go
Labels: >test, v3.1.0 (next)

#8734 Add Elastic renovate bot to allow list for buildkite
  .buildkite/pull-requests.json
Labels: :ci, >non-issue, >renovate, v3.1.0 (next)

#8737 fix: enable image signing
  .buildkite/pipeline.yml
Labels: >enhancement

#8739 Add grouping for renovate and enable auto merge
  .github/renovate.json
Labels: >non-issue, >renovate, exclude-from-release-notes, v3.1.0 (next)

#8764 Fix broken links in 8.19 docs version bump
  docs/orchestrating-elastic-stack-applications/elasticsearch/readiness.asciidoc
  docs/release-notes/highlights-2.14.0.asciidoc
Labels: >docs, v2.16.0

#8765 Fix broken links in 8.19 docs version bump (2.15)
  docs/orchestrating-elastic-stack-applications/elasticsearch/readiness.asciidoc
  docs/release-notes/highlights-2.14.0.asciidoc
Labels: >docs, v2.15.0

#8771 Helm release tool: Add an option to force upload
  .buildkite/pipeline-release-helm.yml
  hack/helm/release/README.md
  hack/helm/release/cmd/root.go
  hack/helm/release/internal/helm/helm.go
  hack/helm/release/internal/helm/helm_test.go
  hack/helm/release/trigger-helm-release.sh
Labels: >enhancement, exclude-from-release-notes, :helm-charts, v3.1.0

#8754 [3.1] Add release notes
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Labels: >docs, exclude-from-release-notes, v3.1.0

#8774 Fix link to "Propagate Labels and Annotations"
  docs/release-notes/index.md
Labels: >docs, exclude-from-release-notes, v3.1.0
