Repository elastic/cloud-on-k8s, pull requests merged in 2025-05, with the labels that each got.

#8637 Disable cosign
  .buildkite/pipeline.yml
Labels: :ci, >test, v3.1.0 (next)

#8641 Upgrade to go 1.24.2
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
  go.mod
  hack/config-extractor/go.mod
  hack/helm/release/go.mod
  hack/operatorhub/go.mod
  hack/upgrade-test-harness/go.mod
  test/e2e/Dockerfile
Labels: >non-issue, v3.1.0 (next)

#8640 Disable Renovate on docs/release-notes/index.md
  .github/renovate.json
Labels: >renovate, v3.1.0 (next)

#8659 [E2E] Test next SNAPSHOT on OCP
  .buildkite/e2e/nightly-main-matrix.yaml
Labels: :ci, >test, v3.1.0 (next)

#8652 [docs] Add `products` to `docset.yml`
  docs/docset.yml
Labels: >docs

#8663 Add known issue for EMS 9.0.0
  docs/release-notes/known-issues.md
Labels: >docs, v3.0.0

#8664 [3.0] Add known issue for EMS 9.0.0 (#8663)
  docs/release-notes/known-issues.md
Labels: >docs, backport

#8665 Add automated workaround for 9.0.0 maps issue
  pkg/controller/maps/pod.go
  pkg/controller/maps/pod_test.go
Labels: >bug, v3.1.0 (next)

#8666 Revise affected versions for Elastic Maps Server issue
  docs/release-notes/known-issues.md
Labels: >docs, v3.0.0

#8669 [3.0] Revise affected versions for EMS issue (#8666)
  docs/release-notes/known-issues.md
Labels: >docs, backport

#8670 [3.0] Update docs-build.yml to build version branches too (#8668)
  .github/workflows/docs-build.yml
Labels: >docs, backport
