Repository elastic/cloud-on-k8s, pull requests merged in 2025-08, with the labels that each got.

#8795 ssd-provisioner: install e2fsprogs
  hack/deployer/config/local-disks/ssd-provisioner.yaml
  test/e2e/cmd/run/run.go
  test/e2e/test/diagnostics.go
Labels: :ci, >test

#8784 Support k3d/k3s/rancher in deployer/e2e tests
  .buildkite/e2e/pipeline-gen/main.go
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/release-branch-matrix.yaml
  .buildkite/scripts/test/set-deployer-config.sh
  Makefile
  hack/deployer/README.md
  hack/deployer/cmd/create.go
  hack/deployer/config/plans.yml
  hack/deployer/runner/docker.go
  hack/deployer/runner/k3d.go
  hack/deployer/runner/kind.go
  hack/deployer/runner/kubeconfig.go
  hack/deployer/runner/settings.go
  test/e2e/beat/config_test.go
  test/e2e/beat/recipes_test.go
Labels: >test

#8807 Update buildkite agent used by ECK to newer versions.
  .buildkite/Makefile
  .buildkite/e2e/pipeline-gen/pipeline.tpl.yaml
  .buildkite/e2e/reporter/templates/notify-failures.tpl.yml
  .buildkite/pipeline-e2e-clusters-cleanup.yml
  .buildkite/pipeline-e2e-tests.yml
  .buildkite/pipeline-release-helm.yml
  .buildkite/pipeline-release-redhat.yml
  .buildkite/pipeline-release.yml
  .buildkite/pipeline.yml
  hack/dev/minikube-cluster.sh
  hack/manifest-gen/manifest-gen.sh
Labels: triage
