Repository elastic/cloud-on-k8s, pull requests merged in 2025-04, with the labels that each got.

#8561 Update release notes for 3.0
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Labels: >docs, exclude-from-release-notes, v3.0.0

#8589 [3.0] Update release notes for 3.0 (#8561)
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Labels: >docs, backport, exclude-from-release-notes, v3.0.0

#8591 Update golang.org/x/net package to 0.38.0
  NOTICE.txt
  docs/reference/third-party-dependencies.md
  go.mod
  go.sum
  hack/config-extractor/go.mod
  hack/config-extractor/go.sum
  hack/helm/release/go.mod
  hack/helm/release/go.sum
  hack/manifest-gen/go.mod
  hack/manifest-gen/go.sum
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
  hack/release-notes/go.mod
  hack/release-notes/go.sum
  hack/upgrade-test-harness/go.mod
  hack/upgrade-test-harness/go.sum
Labels: >renovate, v3.0.0

#8592 [3.0] Update golang.org/x/net package to 0.38.0 (#8591)
  NOTICE.txt
  docs/reference/third-party-dependencies.md
  go.mod
  go.sum
  hack/config-extractor/go.mod
  hack/config-extractor/go.sum
  hack/helm/release/go.mod
  hack/helm/release/go.sum
  hack/manifest-gen/go.mod
  hack/manifest-gen/go.sum
  hack/operatorhub/go.mod
  hack/operatorhub/go.sum
  hack/release-notes/go.mod
  hack/release-notes/go.sum
  hack/upgrade-test-harness/go.mod
  hack/upgrade-test-harness/go.sum
Labels: backport, >renovate, v3.0.0

#8593 update release notes to include the update to the net library
  docs/release-notes/index.md
Labels: >docs, exclude-from-release-notes, v3.0.0

#8594 [3.0] update release notes to include the update to the net library (#8593)
  docs/release-notes/index.md
Labels: >docs, backport, exclude-from-release-notes, v3.0.0

#8596 add 9.0 to the release branch test matrix
  .buildkite/e2e/release-branch-matrix.yaml
Labels: >bug, >test, exclude-from-release-notes, v3.0.0

#8599 [DOCS] Updates release notes title
  docs/release-notes/index.md
Labels: >docs, v3.0.0

#8613 [3.0] update release notes for 3.0 to add some missing updates (#8611)
  docs/release-notes/index.md
Labels: >docs, backport, exclude-from-release-notes, v3.0.0

#8610 change release notes generator to generate markdown
  hack/release-notes/README.md
  hack/release-notes/main.go
Labels: >enhancement, exclude-from-release-notes

#8614 add pre-release flag to container push command in operatorhub
  hack/operatorhub/cmd/container/container.go
  hack/operatorhub/cmd/flags/flags.go
  hack/operatorhub/internal/container/container.go
Labels: >enhancement, exclude-from-release-notes, v3.1.0 (next)
